<?php
include(__DIR__."/../admin.view.function.php");



// breadcumb
echo admin_breadcrumbs($this);


?>
<div class="panel-body">
<?php
$sHtml = "";
$sTranslatePre="profile_";
foreach ($this->aProfile as $sSection => $aRow) {

    if (is_array($aRow) && count($aRow)) {
        $sHtml .= "<h3>".$this->translate($sTranslatePre.$sSection)."</h3>";
        $sHtml .= '<table class="table table-bordered">';
        foreach ($aRow as $sKtmp1 => $aRowTmp1) {
            $sHtml .= "<tr><td>".$this->translate($sTranslatePre.$sKtmp1)."</td><td>".$aRowTmp1."</td></tr>";
        }
        $sHtml .= "</table>";

    }

}
echo $sHtml;
?>

</div>