@import '../../../less/normalize.less';
@import '../../../less/mixins.less';
@base-color:#e97f02;
html{
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
html,body{
  height:100%;
}
a{
  text-decoration:none;
}
ul,ol{
  margin:0;
}
.tabs{
  
}
.navbar{
  max-width: 100%;
}
.nav {
  margin-bottom: 10px;
  padding-left: 0; // Override default ul/ol
  list-style: none;
  &:extend(.clearfix all);
  > li {
    position: relative;
    display: table-cell;
    width:1%;
  
    > a {
      color:#000000;
      position: relative;
      text-align: center;
      display: block;
      padding: 10px 15px;
      // &:hover,
      // &:focus {
      //   text-decoration: none;
      //   background-color: @nav-link-hover-bg;
      // }
    }
  }
}
.nav-tabs{
  border-bottom:1px solid #cccccc;
  >li{
    &.active > a {
      &,
      &:hover,
      &:focus {
        color: @base-color;
        border-bottom: 2px solid @base-color;
        cursor: default;
        margin-bottom:-1px;
      }
    }
  }
}
.tab-content{
  .tab-panel{
    &.active{
      display: block;
      visibility: visible;
    }
    display: none;
    visibility: hidden;
  }
}
.candidate-list{
  list-style: none;
  padding:0 10px;
  background-image:url('../images/bg.jpg');
  >li{
    display: block;
    position: relative;
    padding:14px 0;
    padding-left:104px;
    min-height: 80px;
    border-bottom:1px solid #cccccc;
    >a.avatar-wrap{
      display: block;
      position:absolute;
      width:90px;
      height:80px;
      left:0;
      img{
        width:100%;
        height:100%;
      }
    }
    >p{
      margin:0;
      color:#999999;
      font-size:0.75em;
    }
    >h2{
      font-size:1.25em;
      margin:8px 0;
      >a{
        color:#000;
      }
    }
    .aside{
      position: absolute;
      right:0;
      bottom: 14px;
    }
  }
}
.btn {
  display: inline-block;
  margin-bottom: 0; // For input.btn
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
  border: 1px solid transparent;
  white-space: nowrap;
  .button-size(4px;25px;1.20em;1.20em;5px);
  .user-select(none);

  // &,
  // &:active,
  // &.active {
  //   &:focus,
  //   &.focus {
  //     .tab-focus();
  //   }
  // }

  &:hover,
  &:focus,
  &.focus {
    color: #fff;
    text-decoration: none;
  }

  &:active,
  &.active {
    outline: 0;
    background-image: none;
    .box-shadow(inset 0 3px 5px rgba(0,0,0,.125));
  }

  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    cursor: default;
    pointer-events: none; // Future-proof disabling of clicks
    .opacity(.65);
    .box-shadow(none);
  }
}

.btn-submit{
  color:#fff;
  outline: 0;
  background-color: @base-color;
  &:active{
    background-color: darken(@base-color,10%);
  }
}
.article{
  padding:10px 15px;
  >header{
    text-align: center;
    img{
      max-width:300px;
    }
  }
  >section{
    text-indent: 2em;
  }
  >footer{
    a{
      text-decoration: underline;
    }
  }
}
.share-overlay{
  display: none;
  position: fixed;
  z-index:999;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background: rgba(0,0,0,0.8) url('../images/share.png') no-repeat right top/247px 127px;
}