@base-color: #028ce5;//#205081;//绿
@base-color-light: #a3ca10;//nav hover
@base-color-dark: #749202;//深绿
@base-color-blue: #043a8c;//蓝色
@base-font-color: #999;
@base-qianniu-font: #e95e13; //橙色

//后台
@btn-publish-navtop-bg: #9acb00; //菜单栏
@btn-publish-nav-bg: #8eba00;   
@btn-publish-nav-bg-hover: #a3ca10;

@btn-add-bg: #e67d12;
@btn-primary-bg: @base-color;
@btn-primary-bg-hover: @base-color-dark;

@btn-publish-bg: @base-color-blue; 
@btn-publish-bg-hover: #0f218b;

@btn-auth-bg:  #8ecff5;

@management-bg: #e2e2e2;
@page-bg-active: @base-color;
@nav-tabs-bg: #009900;
@navbar-submenu-active: @base-color;


//通用
@navbar-hover:@base-color-light;
@navbar-active: @base-color-dark;
@navbar-bg: @base-color;
