@import "../variables.less";
@import 'overridevariables.less';
@import "../mixins.less";
// Core CSS
@import "../scaffolding.less";
@import "../type.less";
@import "../code.less";
@import "../grid.less";
//@import "tables.less";
@import "../forms.less";
@import "../buttons.less";

@import '../register.less';
@image-path: '../../';
.airuilogin_bg{
	background-color: #fff;
}
.page-login {
	width: 500px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-top: -300px;
	margin-left: -250px;
}
.login-wrap {
	border-radius: 0;
	width: 500px;
	min-height: 300px;
	padding: 20px 30px 20px;
	background: #fff;
	border: 3px solid @base-color;
	height: 320px;
}
.login-header{
	background: none;
	margin-bottom: 20px;
	height: 54px;
}
.login-form {
	float: auto;
	border-left:none;
	padding-left: 55px;
	.pull-left {
		padding: 40px 10px 0;
	}

}
.login-form .form-control {
	width: 300px;
}
.btn-primary,
.btn-primary:hover,
.btn-primary:focus{
	color: #ffffff;
	background-color: @base-color;
	border-color: @base-color;
	margin-top:20px;
}



.login-footer{
	display: none;
}