@import '../mixins.less';
@import 'overridevariables.less';
.container {
	width: 100%;
}
.navbar > .container .navbar-brand {
	background: url("../../images/airui/logo.gif") no-repeat 0 0;
	width: 177px;
	height: 57px;
	margin: 10px 15px 8px;
	text-indent: -999px;
	display: block;
}
.navbar-right{
	margin-right: 15px;
}
.navbar-default .navbar-collapse,
.panel-heading .open{
	background: @base-color;
	#gradient > .vertical(@start-color: @btn-publish-navtop-bg,@end-color: @btn-publish-nav-bg);
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus{
	background: @base-color-dark;
}
.navbar-default .navbar-nav > li > a:hover{
	background: @base-color-light;
}
.left-menu .fold {
	background: @base-color;
}
.navbar-submenu li.active {
	background: #fff;
	overflow: hidden;
	a{
		color: @base-color-blue;
		font-weight: bold;
	}
}
.toolbar .btn {
	background-color: @base-color;
}
.toolbar .btn:hover,
.toolbar .btn:focus {
	background-color: @base-color-light;
}
.toolbar .publish_134_1{
	background-color: @base-color-blue;
}
.toolbar .publish_134_1:hover,
.toolbar .publish_134_1:focus{
	background-color: @btn-publish-bg-hover;
}
a{
	color: @base-color-blue;
}
.page-square li.active > a {
	background: @base-color-blue;
}
.navbar-nav {
	float: left;
	margin: 0 15px;
}
.plus {
	background: @base-color;
}