<?php
include(__DIR__."/../setupform.function.php");
include(__DIR__."/../breadcumb.inc.php");
?>


<div class="g12">
<?php
//echo __NAMESPACE__;
//	var_dump($oController);
//	var_dump($this->getHelperPluginManager()->getServiceLocator()->get('Router')->getRequestUri()->getPath());
    $form->setAttribute('action', $this->url($actionURL, array('id'=>$sEntityId)));
    $form->setAttribute('data-ajax', false);
    $form->prepare();
    $messages = $form->getMessages();
	$sForm = "";

//	$sForm .= "<h2>".$this->translate('编辑')."</h2>";
    $sForm .= $this->form()->openTag($form);
//    $sForm .= $this->formHidden($form->get('DbConfig_customerid'));

//	$sForm .= "<label>".$oThis->translate('基本信息')."</label>";
	$sForm .= "<fieldset>";
	$sForm .= setupform($this, $form, '_formsplit_');
	$sForm .= "<section class=\"buttons\">";
		$sForm .= "<div>";
			$sForm .=  $this->formButton($form->get('submitForm'));
			$sForm .=  $this->formButton($form->get('cancel'));
		$sForm .= "</div>";
	$sForm .= "</section>";
	$sForm .= "</fieldset>";
	$sForm .= $this->form()->closeTag();
	echo $sForm;
?>
</div>

