<?php
include(__DIR__."/../admin.view.function.php");
// breadcumb
echo admin_breadcrumbs($this);
// content categories
echo admin_content_categories($this);

echo "<div style='clear:left'><ul>";
admin_show_view($this->data, $this);
echo "</ul></div>";

function admin_show_view($a, $oThis){
	if(is_array($a)){
		foreach($a as $k=>$v){
			if(is_array($v)){
				echo "<li><h5>".$oThis->translate($k).'</h5></li>';
				echo "<ul>";
				admin_show_view($v, $oThis);
				echo "</ul>";
			}else{
				echo "<li><b>".$oThis->translate($k)."</b>:  <span>".$v.'</span></li>';
			}
		}
	}
}