<?php
include(__DIR__."/../admin.view.function.php");



// breadcumb
?>

<?php
//detail tool bar
//echo admin_detail_toolbar($this, $this->detail_toolbar);

//detail content && page bar
//echo admin_ajaxdetail($this->ajaxlist_url);
?>

<?php $this->ycheukfHeadscript()
                    ->prependFile($this->basePath() . '/js/avataruploader/jquery.Jcrop.min.js') ?>
<div class="panel panel-default">
  <div class="panel-heading">上传图片
  </div>
  <div>
  <div class="panel-body">
    <p style="color:orange;">*请上传jpg格式，180x160尺寸，不超过2M的图片.</p>
    <input type="file" name="uploadfile">
    <div class="clearfix">
    <div class="origin-wrap">
          <img src="" alt="" id="target" style="">
      </div>
      <div class="avatar-preview-ctn">
        <div class="avatar-preview-bg">
            <img src="" alt="">
        </div>
        <div class="avatar-preview-sm">
            <img src="" alt="">
        </div>
      </div>
    </div>
    <div style="margin-top:20px;">
      <button type="button" class="btn btn-default btn-submit" id="save">保存</button>
    </div>
  </div>
</div>
<script type="text/javascript">

  jQuery(function($){
    var path ="<?php echo $img1;?>";
    
    // Create variables (in this scope) to hold the API and image size
    var jcrop_api,
        boundx,
        boundy,

        // Grab some information about the preview pane
        $preview = $('#preview-pane'),
        $pSmCnt = $('.avatar-preview-sm'),
        $pBgCnt = $('.avatar-preview-bg'),
        $pSmImg = $('.avatar-preview-sm img'),
        $pBgImg = $('.avatar-preview-bg img'),
        xsize = $pSmCnt.width(),
        ysize = $pSmCnt.height(),
        xsize1 = $pBgCnt.width(),
        ysize1 = $pBgCnt.height();

    console.log('init',[xsize,ysize]);


    function updatePreview(c)
    {
      if (parseInt(c.w) > 0)
      {
        var rx = xsize / c.w;
        var ry = ysize / c.h;
        var rx1 = xsize1/c.w;
        var ry1 = ysize1 / c.h;


        $pSmImg.css({
          width: Math.round(rx * boundx) + 'px',
          height: Math.round(ry * boundy) + 'px',
          marginLeft: '-' + Math.round(rx * c.x) + 'px',
          marginTop: '-' + Math.round(ry * c.y) + 'px'
        });

        $pBgImg.css({
          width: Math.round(rx1 * boundx) + 'px',
          height: Math.round(ry1 * boundy) + 'px',
          marginLeft: '-' + Math.round(rx1 * c.x) + 'px',
          marginTop: '-' + Math.round(ry1 * c.y) + 'px'
        });
      }
    };
    $("#save").on('click.avataruploader',function(){
        var c = $('#target').data('Jcrop').tellSelect(),
            //s = $('#target').data('Jcrop').tellScaled(),
            fullpath = l.get('imgUploadBaseUrl') + path;
        console.info(c);
        $.post('<?php echo $this->url('zfcadmin/imagecropping',array('id'=>$cid))?>',{
            dst_w:c.w,
            dst_h:c.h,
            dst_x:c.x,
            dst_y:c.y,
            path: path.substring(0,path.lastIndexOf('/')),
            filename: fullpath.substr(fullpath.lastIndexOf('/')+1)
        },function(res){
            window.location.href = '<?php echo $this->url('zfcadmin/contentlist',array('type'=>'content','cid'=>0))?>';
        },'json');
        //public/api/imagecropping

    });
    (function(imgPath) {
        $('#target').attr('src',l.get('imgUploadBaseUrl')+imgPath);
        $pSmImg.attr('src',l.get('imgUploadBaseUrl')+imgPath);
        $pBgImg.attr('src',l.get('imgUploadBaseUrl')+imgPath);
        if($('#target').data('Jcrop')){
          $('#target').data('Jcrop').destroy();
        }
        $('#target').Jcrop({
          onChange: updatePreview,
          onSelect: updatePreview,
          boxWidth: 600,
          aspectRatio: 1
        },function(){
          // Use the API to get the real image size
          var bounds = this.getBounds();
          boundx = bounds[0];
          boundy = bounds[1];
          // Store the API in the jcrop_api variable
          jcrop_api = this;
          this.setSelect([0,0,180*this.getScaleFactor()[0],160*this.getScaleFactor()[1]]);

          // Move the preview into the jcrop container for css positioning
          //$preview.appendTo(jcrop_api.ui.holder);
        });
    })(path);
  });


</script>
<?php
$this->ycheukfHeadlink()->appendStylesheet( '/js/avataruploader/jquery.Jcrop.min.css')
?>
<style type="text/css">

/* Apply these styles only when #preview-pane has
   been placed within the Jcrop widget */
.jcrop-holder #preview-pane {
  display: block;
  position: absolute;
  z-index: 2000;
  top: 10px;
  right: -280px;
  padding: 6px;
  border: 1px rgba(0,0,0,.4) solid;
  background-color: white;

  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;

  -webkit-box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.2);
}

/* The Javascript code will set the aspect ratio of the crop
   area based on the size of the thumbnail preview,
   specified here */
.avatar-preview-bg {
  width: 180px;
  height: 160px;
  overflow: hidden;
}
.avatar-preview-sm {
  width: 90px;
  height: 80px;
  overflow: hidden;
}

</style>
