<?php
$sCurrentUrl = ($this->url(null,array(),array(), true));
//var_dump($sCurrentUrl);
//$oIdentity = ($sm->get('zfcuser_auth_service')->getIdentity());
$oIdentity = $this->getHelperPluginManager()->getServiceLocator()->get('zfcuser_auth_service')->getIdentity();
$this->layout('layout/blank');
//if(is_null($oIdentity))//未登陆
//	$this->layout('layout/error');
//else
//	$this->layout('layout/admin');
$aConfig = $this->getHelperPluginManager()->getServiceLocator()->get('config');
?>
<html lang="en">
<head>
    <meta charset="utf-8">
    <?php echo $this->headTitle('LAF-403'); ?>

        <?php echo $this->headMeta()->appendName('viewport', 'width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no') ?>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="">
        <meta name="keywords" content="">

        <!-- Le styles -->
        <?php
			if($aConfig['debugFlag']){//debug
                
				echo $this->ycheukfHeadlink(array('rel' => 'shortcut icon', 'type' => 'image/vnd.microsoft.icon', 'href' =>  '/module/'.strtolower(LAF_NAMESPACE).'/images/favicon.admin.ico'))
					->appendStylesheet( '/js/summernote/dist/summernote.css')
					->appendStylesheet( '/components/font-awesome/css/font-awesome.min.css')
					->headLink(array('rel' => 'stylesheet/less', 'href' =>  '/less/bootstrap.less'))
					->headLink(array('rel' => 'stylesheet/less', 'href' =>  '/less/theme.less'));
				echo $this->ycheukfHeadscript()
					->appendFile( '/components/jquery/jquery.min.js')
					->appendFile( '/components/bootstrap/js/bootstrap.min.js')
					->appendFile( '/js/less/less.2.0.0-b3.min.js')
					->appendFile( '/js/module/tagSelect.js')
					->appendFile( '/js/module/nestedSelect.js')
					->appendFile( '/js/module/information.js')
					->appendFile( '/js/summernote/dist/summernote.min.js')
					->appendFile( '/js/summernote/dist/summernote-zh-CN.js')
					->appendFile( '/js/dm/DataTable.js')
					->appendFile( '/js/app.js');
			}else{//online
				echo $this->ycheukfHeadlink(array('rel' => 'shortcut icon', 'type' => 'image/vnd.microsoft.icon', 'href' =>  '/module/'.strtolower(LAF_NAMESPACE).'/images/favicon.admin.ico'))
					->appendStylesheet( '/js/summernote/dist/summernote.css')
					->appendStylesheet( '/components/font-awesome/css/font-awesome.min.css')
					//->appendStylesheet( '/css/app.css')
                        ->prependStylesheet('/components/bootstrap/css/bootstrap.min.css')
                        ->prependStylesheet('/components/bootstrap/css/bootstrap-theme.min.css')
					->appendStylesheet('/css/theme.css');
				echo $this->ycheukfHeadscript()
					->appendFile( '/components/jquery/jquery.min.js')
					->appendFile( '/components/bootstrap/js/bootstrap.min.js')
                    ->appendFile( '/js/less/less.2.0.0-b3.min.js')
					->appendFile( '/js/bootstrap-tokenfield.js')
					->appendFile( '/js/module/tagSelect.js')
					->appendFile( '/js/module/nestedSelect.js')
					->appendFile( '/js/module/information.js')
					->appendFile( '/js/summernote/dist/summernote.min.js')
					->appendFile( '/js/summernote/dist/summernote-zh-CN.js')
					->appendFile( '/js/dm/DataTable.js')
					->appendFile( '/js/app.js');

			}

		?>
</head>
<body>
<div class="errorbox">
	<table>
		<tr>
		<td><div class=""></div></td>
		<td>
			<div class="text">
				<h1> 403 错误</h1>
					<p>
						<p >抱歉. 您没有访问本页面的权限</p>
						<p style="display:none"><?php echo $message;?></p>
						<br>
						<a href="javascript:window.history.go(-1);" ><?php echo $this->translate('返回'); ?></a>
						<a href="<?php echo $this->url('zfcuser/logout')."?redirect=".urlencode($this->url('zfcuser/login')."?redirect=".$sCurrentUrl); ?>"><?php echo $this->translate('重新登录'); ?></a>
					</p><script type="text/javascript">
                    <!--
                    <?php
                        if(preg_match("/staticreport/i", $sCurrentUrl)){
                            //echo 'setTimeout("location.href=\''.$this->url('zfcuser/logout')."?redirect=".urlencode($this->url('zfcuser/login')."?redirect=".$sCurrentUrl).'\'",1500);';
                        }else{
                            // echo 'setTimeout("location.href=\''.$this->url('dashboard').'\'",3000);';
                        }
                    ?>
//                         

                    //-->
                    </script>
			</div>
		</td>
	
	</tr>
</table>
</div>
</body>
</html>