<?php
$this->layout('layout/blank');
$reasonMessage= '';
$aConfig = $this->getHelperPluginManager()->getServiceLocator()->get('config');
?>

<?php if (isset($this->reason) && $this->reason): ?>

<?php
switch ($this->reason) {
    case 'error-controller-cannot-dispatch':
        $reasonMessage = $this->translate('The requested controller was unable to dispatch the request.');
        break;
    case 'error-controller-not-found':
        $reasonMessage = $this->translate('The requested controller could not be mapped to an existing controller class.');
        break;
    case 'error-controller-invalid':
        $reasonMessage = $this->translate('The requested controller was not dispatchable.');
        break;
    case 'error-router-no-match':
        $reasonMessage = $this->translate('The requested URL could not be matched by routing.');
        break;
    default:
        $reasonMessage = $this->translate('We cannot determine at this time why a 404 was generated.');
        break;
}
?>

<?php endif ?>


<html lang="en">
<head>
    <meta charset="utf-8">
    <?php echo $this->headTitle('LAF-404'); ?>

        <?php echo $this->headMeta()->appendName('viewport', 'width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no') ?>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="">
        <meta name="keywords" content="">

        <!-- Le styles -->
        <?php
			if($aConfig['debugFlag']){//debug
				echo $this->ycheukfHeadlink(array('rel' => 'shortcut icon', 'type' => 'image/vnd.microsoft.icon', 'href' =>  '/module/'.strtolower(LAF_NAMESPACE).'/images/favicon.admin.ico'))
					->appendStylesheet( '/js/summernote/dist/summernote.css')
					->appendStylesheet( '/components/font-awesome/css/font-awesome.min.css')
					//->appendStylesheet( '/css/app.css')
					->headLink(array('rel' => 'stylesheet/less', 'href' =>  '/less/bootstrap.less'))
					->headLink(array('rel' => 'stylesheet/less', 'href' =>  '/less/theme.less'));
				echo $this->ycheukfHeadscript()
					->appendFile( '/components/jquery/jquery.min.js')
					->appendFile( '/components/bootstrap/js/bootstrap.min.js')
                    ->appendFile( '/js/less/less.2.0.0-b3.min.js')
                    
					->appendFile( '/js/module/tagSelect.js')
					->appendFile( '/js/module/nestedSelect.js')
					->appendFile( '/js/module/information.js')
					->appendFile( '/js/summernote/dist/summernote.min.js')
					->appendFile( '/js/summernote/dist/summernote-zh-CN.js')
					->appendFile( '/js/dm/DataTable.js')
					->appendFile( '/js/app.js');
			}else{//online
				echo $this->ycheukfHeadlink(array('rel' => 'shortcut icon', 'type' => 'image/vnd.microsoft.icon', 'href' => '/module/'.strtolower(LAF_NAMESPACE).'/images/favicon.admin.ico'))
					->appendStylesheet( '/js/summernote/dist/summernote.css')
					->appendStylesheet( '/components/font-awesome/css/font-awesome.min.css')
					//->appendStylesheet( '/css/app.css')
                        ->prependStylesheet('/components/bootstrap/css/bootstrap.min.css')
                        ->prependStylesheet('/components/bootstrap/css/bootstrap-theme.min.css')
					->appendStylesheet('/css/theme.css');
				echo $this->ycheukfHeadscript()
					->appendFile( '/components/jquery/jquery.min.js')
					->appendFile( '/components/bootstrap/js/bootstrap.min.js')
                    ->appendFile( '/js/less/less.2.0.0-b3.min.js')
					->appendFile( '/js/module/tagSelect.js')
					->appendFile( '/js/module/nestedSelect.js')
					->appendFile( '/js/module/information.js')
					->appendFile( '/js/summernote/dist/summernote.min.js')
					->appendFile( '/js/summernote/dist/summernote-zh-CN.js')
					->appendFile( '/js/dm/DataTable.js')
					->appendFile( '/js/app.js');

			}

		?>
</head>
<body>


<div class="errorbox">
	<table>
		<tr>
		<td><div class=""></div></td>
		<td>
			<div class="text">
				<h1> 404 错误</h1>
					<p>
						<?php echo $reasonMessage;?>
						<br>
						<a href="javascript:window.history.go(-1);" ><?php echo $this->translate('返回'); ?></a>
						<a href="<?php echo $this->url('zfcuser/logout')."?redirect=".urlencode($this->url('zfcuser/login')); ?>"><?php echo $this->translate('重新登录'); ?></a>
					</p>
			</div>
		</td>
	
	</tr>
</table>
</div>
</body>
</html>