<?php
echo $this->doctype();
$aConfig = $this->getHelperPluginManager()->getServiceLocator()->get('config');
?>
<html>
    <head>
        <meta charset="utf-8">
        <?php echo $this->headTitle(LAFADMINTITLE_TITLE); ?>

        <?php echo $this->headMeta()->appendName('viewport', 'width=device-width, initial-scale=1.0') ?>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <!-- Le styles -->
        <?php
            //注意本处使用prepend加载文件, 所以加载文件顺序需要反转
           if($aConfig['debugFlag']){//debug
                echo $this->ycheukfHeadlink(array('rel' => 'shortcut icon', 'type' => 'image/vnd.microsoft.icon', 'href' => '/module/'.strtolower(LAF_NAMESPACE).'/images/favicon.admin.ico'))
                    ->prependStylesheet( $this->basePath().'/components/jquery-ui/themes/base/jquery-ui.min.css')
                    ->prependStylesheet( $this->basePath().'/css/bootstrap-tokenfield.css')
                    ->prependStylesheet( $this->basePath().'/css/bootstrap-duallistbox.min.css')
                    //->prependStylesheet( '/css/app.css')
                    ->prependStylesheet( '/components/font-awesome/css/font-awesome.min.css')
                    ->prependStylesheet( '/js/summernote/dist/summernote.css')
                    ->prependStylesheet( '/components/bootstrap/css/bootstrap.min.css')
                    ->headLink(array('rel' => 'stylesheet/less', 'href' =>  '/less/bootstrap.less'))
                    ->headLink(array('rel' => 'stylesheet/less', 'href' =>  '/less/theme.less'));
//                    ->headLink(array('rel' => 'stylesheet/less', 'href' =>  '/module/'.strtolower(LAF_NAMESPACE).'/css/theme.less'));
                 echo <<<_EOF
                    <script>
                    less={'env':'development'};
                    </script>
_EOF;

                echo $this->ycheukfHeadscript()
                    ->prependFile( '/js/app.js')
                    ->prependFile( '/js/template.js')
                    ->prependFile( '/js/jquery.bootstrap-duallistbox.min.js')
                    ->prependFile( '/js/datetimepicker/locales/bootstrap-datetimepicker.zh-CN.js')
                    ->prependFile( '/js/datetimepicker/bootstrap-datetimepicker.js')
                    ->prependFile( '/js/daterangepicker/daterangepicker.js')
                    ->prependFile( '/js/daterangepicker/moment.min.js')
                    ->prependFile( '/js/dm/DataTable.js')
                    ->prependFile( '/js/jquery.fileupload.js')
                    ->prependFile( '/js/summernote/dist/summernote-zh-CN.js')
                    ->prependFile( '/js/summernote/dist/summernote.min.js')
                    ->prependFile( '/js/module/dialog.js')
                    ->prependFile( '/js/module/laf-ablelist.js')
                    ->prependFile( '/js/module/information.js')
                    ->prependFile( '/js/module/nestedSelect.js')
                    ->prependFile( '/js/module/tagSelect.js')
                    ->prependFile( '/js/bootstrap-tokenfield.js')
                    ->appendFile( '/js/less/less.2.0.0-b3.min.js')
                    // ->prependFile( 'https://cdn.staticfile.org/less.js/2.0.0-b3/less.min.js')
                    ->prependFile( '/js/html5shiv/html5.r29.min.js', 'text/javascript', array('conditional' => 'lt IE 9',))
                    ->prependFile( '/js/jquery.ui.datepicker-zh-CN.js')
                    ->prependFile( '/components/bootstrap/js/tooltip.js')
                    ->prependFile( '/components/jquery-ui/jquery-ui.min.js')
                    ->prependFile( '/components/bootstrap/js/bootstrap.min.js')
                    ->prependFile( '/js/FCPHPClassCharts/FusionCharts/FusionCharts.js')
                    ->prependFile( '/components/jquery/jquery.min.js');;
            }else{//online
                //if($this->hasRole('user-member')){//普通用户加载用户菜单
                    // echo $this->headLink(array('rel' => 'stylesheet/less', 'href' =>  '/less/header.less'));
                    //$this->headLink()
//                    ->prependStylesheet( '/css/header.css');
                //}
                $this->ycheukfHeadlink(array('rel' => 'shortcut icon', 'type' => 'image/vnd.microsoft.icon', 'href' => '/module/'.strtolower(LAF_NAMESPACE).'/images/favicon.admin.ico'))
                    ->prependStylesheet( $this->basePath().'/components/jquery-ui/themes/base/jquery-ui.min.css')
                    ->prependStylesheet( $this->basePath().'/css/bootstrap-tokenfield.css')
                    ->prependStylesheet( $this->basePath().'/css/bootstrap-duallistbox.min.css')
                    //->prependStylesheet( '/css/app.css')
                    ->prependStylesheet( '/components/font-awesome/css/font-awesome.min.css')
                    ->prependStylesheet( '/js/summernote/dist/summernote.css')
                    ->prependStylesheet('/module/'.strtolower(LAF_NAMESPACE).'/css/theme.css')
                    ->prependStylesheet( '/css/theme.css');
                echo $this->ycheukfHeadlink();
                echo $this->ycheukfHeadscript()
                    ->prependFile( '/js/app.js')
                    ->prependFile( '/js/template.js')
                    ->prependFile( '/js/jquery.bootstrap-duallistbox.min.js')
                    ->prependFile( '/js/datetimepicker/locales/bootstrap-datetimepicker.zh-CN.js')
                    ->prependFile( '/js/datetimepicker/bootstrap-datetimepicker.min.js')
                    ->prependFile( '/js/daterangepicker/daterangepicker.js')
                    ->prependFile( '/js/daterangepicker/moment.min.js')
                    ->prependFile( '/js/dm/DataTable.js')
                    ->prependFile( '/js/jquery.fileupload.js')
                    ->prependFile( '/js/summernote/dist/summernote-zh-CN.js')
                    ->prependFile( '/js/summernote/dist/summernote.min.js')
                    ->prependFile( '/js/module/dialog.js')
                    ->prependFile( '/js/module/laf_ablelist.js')
                    ->prependFile( '/js/module/information.js')
                    ->prependFile( '/js/module/nestedSelect.js')
                    ->prependFile( '/js/module/tagSelect.js')
                    ->prependFile( '/js/bootstrap-tokenfield.js')
                    ->prependFile( '/js/html5shiv/html5.r29.min.js', 'text/javascript', array('conditional' => 'lt IE 9',))
                    ->prependFile( '/js/jquery.ui.datepicker-zh-CN.js')
                    ->prependFile( '/components/bootstrap/js/tooltip.js')
                    ->prependFile( '/components/jquery-ui/jquery-ui.min.js')
                    ->prependFile( '/components/bootstrap/js/bootstrap.min.js')
                    ->prependFile( '/js/FCPHPClassCharts/FusionCharts/FusionCharts.js')
                    ->prependFile( '/components/jquery/jquery.min.js');;

            }

        ?>



        <script type="text/javascript">
            l.setup({
                // baseUrl: "http://"+document.domain,
                // imgUploadBaseUrl: "http://"+document.domain
                baseUrl: location.origin,
                imgUploadBaseUrl: location.origin
            });
        </script>

    </head>
    <body>

        <?php
//        var_dump($this->navigation('navigation')->menu()->getContainer());
        include(__DIR__."/flashmessenger.phtml");
        include(__DIR__."/admin_menu.phtml");

        
//        if($this->hasRole('user-member')){//普通用户加载用户菜单 && 隐藏管理菜单
//            include(__DIR__."/user_navigation.phtml");
//            echo <<<OUTPUT
//                <script type="text/javascript">
//                                    $("nav.navbar-default").remove();
//                </script>
//OUTPUT;
//        }
        ?>
        <div class="container container-static">
            <div class="left-menu">
            <?php
                include(__DIR__."/admin_menu_left.phtml");
            ?>
            </div>
            <div class='panel panel-default panel-plain offset-right-panel'>
                <div style="float:left">
                   <a href="javascript:;" class="btn btn-pirmary open" style="display:none;">
                        <span>&gt;&gt;</span>
                   </a>
                 </div>
            <?php
                include(__DIR__."/admin_breadcrumb.phtml");
//              echo $this->navigation()->breadcrumbs()->render();
                echo $this->content;
            ?>
            </div>

            <div class="footer">Copyright ©cheuk All Rights Reserved.</div>
        </div>
        <?php echo $this->inlineScript() ?>
    </body>
</html>