<?php echo $this->doctype();
$aConfig = $this->getHelperPluginManager()->getServiceLocator()->get('config');
//var_dump($aConfig['debugFlag']);
echo $this->doctype(); ?>
<html>
    <head>
        <meta charset="utf-8">
        <?php echo $this->headTitle($this->translate(LAFADMINTITLE_TITLE)."-管理员登录"); ?>

        <?php echo $this->headMeta()->appendName('viewport', 'width=device-width, initial-scale=1.0') ?>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
<?php
            if($aConfig['debugFlag']){//debug
                echo <<<_EOF
        <script>
            less = { env: 'development' };
        </script>
_EOF;
                echo $this->ycheukfHeadlink(array('rel' => 'shortcut icon', 'type' => 'image/vnd.microsoft.icon', 'href' =>  '/module/'.strtolower(LAF_NAMESPACE).'/images/favicon.admin.ico'))
                    ->appendStylesheet( '/components/font-awesome/css/font-awesome.min.css')
                    //->appendStylesheet( '/css/app.css')
                    ->headLink(array('rel' => 'stylesheet/less', 'href' =>  '/less/style_v3.less'));
                echo $this->ycheukfHeadscript()
                    ->appendFile( '/components/jquery/jquery.min.js')
                    //->appendFile( '/components/bootstrap/js/bootstrap.min.js')
                    ->appendFile( '/js/html5shiv/html5.r29.min.js', 'text/javascript',  array('conditional' => 'lt IE 9',))
//                    ->appendFile( '/assets/js/jquery.html5-placeholder-shim.js')
//                    
                    ->appendFile( '/js/less/less.2.0.0-b3.min.js');
                    // ->appendFile( 'https://cdn.staticfile.org/less.js/2.0.0-b3/less.min.js');

            }else{//online
                echo $this->ycheukfHeadlink(array('rel' => 'shortcut icon', 'type' => 'image/vnd.microsoft.icon', 'href' => '/module/'.strtolower(LAF_NAMESPACE).'/images/favicon.admin.ico'))
                    ->appendStylesheet( '/components/font-awesome/css/font-awesome.min.css')
                    ->appendStylesheet( '/css/style_v3.css');
                echo $this->ycheukfHeadscript()
                    ->appendFile( '/components/jquery/jquery.min.js')
                    //->appendFile( '/components/bootstrap/js/bootstrap.min.js')
//                    ->appendFile( '/assets/js/jquery.html5-placeholder-shim.js')
                    ->appendFile( '/js/html5shiv/html5.r29.min.js','text/javascript', array('conditional' => 'lt IE 9',));
            }
        ?>
        <script><?php echo 'var basePath = "'.$this->basePath().'";'?></script>


    </head>
    <body style="background:#3572b0;background-image: url(/css/images/header.jpg);">
        <div class="page-login">
                <section class="main">

    		  <?php echo $this->content; ?>
    		  <?php //echo $this->inlineScript() ?>
                </section>
        	<div class="login-footer"></div>
        </div>
    </body>
</html>
