<?php 
try{
    $sUserName = $this->zfcUserDisplayName();
}catch(\ZfcUser\Exception\DomainException $e){
    header("location:".$this->url('zfcuser/logout'));
//    exit;
}
$aConfig = $this->getHelperPluginManager()->getServiceLocator()->get('config');
$sCurrentUrl = ($this->url(null,array(),array(), true));


// var_dump(get_class($this));
// exit;
// $this->getEvent()->getRouteMatch()->getMatchedRouteName()
?>



<!-- navigator -->
<nav class="navbar navbar-default" role="navigation">

    <div class="navbar-collapse navbar-ex1-collapse">
        <div class="header-secondary">

        <?php
            /**
             * top-right 
             */
            echo $this->getHelperPluginManager()->getServiceLocator()->get(LAF_NAMESPACE.'\Service\Common')->getTopMenuRightHtml();
            
            // echo $sUserName;     
//                $bFlag = \Application\Model\Common::isPermissionGranted($this->getHelperPluginManager()->getServiceLocator(), "superadmin");
//                if($bFlag){
//                    echo " | <a href='". $this->url('zfcadmin/contentlist', array('type' => 'cacheadmin', 'cid' => 0))."'>缓存管理</a>";
//                }
            
        ?> <a href="<?php echo $this->url('zfcuser/logout'); ?>">            <?php echo $this->translate('退出'); ?></a>   
            <!-- |  <a href="<?php echo $this->url('zfcuser/logout')."?redirect=".urlencode($this->url('zfcuser/login')."?redirect=".$sCurrentUrl); ?>">            <?php echo $this->translate('退出'); ?></a>    -->
        </div>
        <!-- <div class="header-logo"><img  src="<?php echo $this->basePath().'/module/'.strtolower(LAF_NAMESPACE).'/images/h-logo.png'?>"></div> -->
        <div class="header-logo"><font style="font-size: 30px;padding: 8px;"><?php echo $this->translate(LAFADMINTITLE_TITLE)?></font></div>

        <div class="container container-static">
        <?php

            $aConfig = $this->getHelperPluginManager()->getServiceLocator()->get('config');

            $sHtml = "<ul class='nav navbar-nav'>";
            $oMenu = $this->navigation('MenuUserAdmin')->menu();
            $oContainer = $oMenu->getContainer();
            $has_resume = $has_user = 0;
            foreach ($oContainer as $k => $page) {
                $sLink = "";//主菜单链接
                $aPageArray = ($page->toArray());
                $sIconSpan = "<span class='licon licon-".$aPageArray['name']."'></span>";


                if($page->hasChildren()){//子菜单权限
                    $aLv2Page = array();
                    foreach($page->getPages() as $page2){
                        if(empty($sLink)){//将第一个子菜单链接赋给主菜单
                            $sPage2Label = $page2->get('label');
                            $page2->set('label', $page->get('label'));
                            $sLink =  $oMenu->htmlify($page2);
                            $page2->set('label', $sPage2Label);
//                            var_dump($sLink);
                        }
                    }
                }

                //上线模式&&菜单属于debug 调试模式下, 不展示菜单
                if($aConfig['debugFlag']==false && $page->get('debugFlag'))continue;

                $sActive = "";
                if (($page->isActive(true))){
                    $sActive =  "active";
                }
                $liClass = ' class="'.$sActive.'"';

                if(empty($sLink)){
                    $sLink = $oMenu->htmlify($page);
                    $sLink = preg_replace('/(<a.+?>)/i', '\1'.$sIconSpan, $sLink);
                }
                $sHtml .= "<li $liClass>".$sLink."<b></b></li>" ;
            }
            // $liClass = ' class="active"';
            // $sHtml .= "<li $liClass><a href=".$this->url('zfcadmin/userprofile').">".$this->translate('MY-PROFILE')."</a><b></b></li>" ;

            $sHtml .= "</ul>";
                echo $sHtml;
        ?>
        </div>
    </div><!-- /.navbar-collapse -->
</nav>

