<?php
//递归处理面包屑
function _getBreadCrumbs($aPages, $oThis){
	$aReturn = array();
	foreach($aPages as $i=>$page){
		$sSpan = $i+1 == count($aPages) ? "" : "<span class='sep'></span>";
		$sAhor = "";
		if($page->hasChildren()){
			if($page->isActive(true)){
				$aReturn[] = $oThis->navigation()->htmlify($page)."{$sSpan}";
			}
			$aTmp = _getBreadCrumbs($page->getPages(), $oThis);
			if(!empty($aTmp))
				$aReturn = array_merge($aReturn, $aTmp);
		}else{
			if($page->isActive(true)){
				$aReturn[] = $oThis->navigation()->htmlify($page)."{$sSpan}";
			}
		}
	}
	return $aReturn;
}
?>
<ol class="breadcrumb">
	<!-- <li><span class='sep'></span></li> -->
<?php 
	$aTmp = _getBreadCrumbs($this->navigation()->getContainer()->getPages(), $this);
	if(!empty($aTmp)){
		$aTmp[count($aTmp)-1] = strip_tags($aTmp[count($aTmp)-1]);
		echo "<li>".join("</li>\n<li>", $aTmp)."</li>";
	}
?>
</ol>
