<div class="fold"><span>&lt;&lt;</span></div>
<div class="bs-sidebar hidden-print">
<?php

$userId = $this->getHelperPluginManager()->getServiceLocator()->get('zfcuser_auth_service')->getIdentity()->getId();


function genNextSubMenu($userId, $oMenu, $oPage, &$sHtml){
    if($oPage->hasChildren()){//存在子记录
        $aLv3Page = array();
        $aPageArray = ($oPage->toArray());
        
        $sIconSpan = "<span class='licon licon-".$aPageArray['name']."  ></span>";
        foreach($oPage->getPages() as $oChildPage){
            if(!$oChildPage->isVisible())continue;
			$sDropdown = ($oChildPage->hasChildren() ? " dropdown":"");
//                              var_dump($oChildPage->get('permission'));
            if (( $oChildPage->isActive(true))){
                $liClass = " class='" .$sDropdown." active'";
            }
            if(!$oChildPage->isVisible())continue;
            $aLv3Page[] = $oChildPage;
        }

        if(count($aLv3Page)>0){//子菜单可见
            $sLink2 = $oMenu->htmlify($oPage);
            $sLink2 = preg_replace('/(<a.+?>)/i', ''.$sIconSpan, $sLink2);
            // $sLink2 = preg_replace('/(href=".+?")/i', 'href="javascript:void(0)"', $sLink2);
            $sTmp = "";
            $sLiActive2 = "";
            $sHtml .= '<li class="'.$sLiActive2.'">'.$sLink2;
            $sHtml .= "<ul class='sub-sub-ul'>";
            // $sHtml .= "<ul class='sub-sub-ul'>";
            foreach($aLv3Page as $oChildPage){
                if(!$oChildPage->isVisible())continue;
                if ($oChildPage->hasChildren()) {
                	genNextSubMenu($userId, $oMenu, $oChildPage, $sHtml);
                }else{
	                $aPageArray = ($oChildPage->toArray());
	                $sNameTmp = isset($aPageArray['name']) ? $aPageArray['name'] : "";

	                $sIconSpan = "<span class='licon licon-".$sNameTmp."'></span>";
	                $sActive3 = ($oChildPage->isActive(true) ? "active":"");
	                if(empty($sLiActive2))
	                    $sLiActive2 = ($oChildPage->isActive(true) ? "active":"");
	                $liClass3 = ' class="'.$sActive3.'"';
	                $sLink3 = $oMenu->htmlify($oChildPage);
	                $sLink3 = preg_replace('/(<a.+?>)/i', '\1'.$sIconSpan, $sLink3);
	                $sHtml .= "<li $liClass3>".$sLink3."</li>" ;

                }
            }
            // $sHtml .= $sTmp;
            $sHtml .= "</ul>";
            $sHtml .= "</li>";
        }else{//子菜单不可见
            $aPageArray = ($oPage->toArray());
            $sNameTmp = isset($aPageArray['name']) ? $aPageArray['name'] : "";
            $sIconSpan = "<span class='licon licon-".$sNameTmp."'></span>";
            $sActive2 = ($oPage->isActive(true) ? "active":"");
            $liClass2 = ' class="'.$sActive2.'"';
            $sLink2 = $oMenu->htmlify($oPage);
            $sLink2 = preg_replace('/(<a.+?>)/i', '\1'.$sIconSpan, $sLink2);
            $sHtml .= "<li $liClass2>".$sLink2."</li>" ;
        }
    }else{
        $aPageArray = ($oPage->toArray());

        if (isset($aPageArray['enableusers']) 
            && count($aPageArray['enableusers'])
            && !in_array($userId, $aPageArray['enableusers'])
        ) {
        }else{
            $sNameTmp = isset($aPageArray['name']) ? $aPageArray['name'] : "";
            $sIconSpan = "<span class='licon licon-".$sNameTmp."'></span>";
            $sActive2 = ($oPage->isActive() ? "active":"");
            $liClass2 = ' class="'.$sActive2.'"';
            $sLink2 = $oMenu->htmlify($oPage);
            $sLink2 = preg_replace('/(<a.+?>)/i', '\1'.$sIconSpan, $sLink2);
            $sHtml .= "<li $liClass2 >".$sLink2."</li>" ;
            
        }
    }
}


	$aConfig = $this->getHelperPluginManager()->getServiceLocator()->get('config');

	$sHtml = "<ul class='nav navbar-submenu bs-sidenav'>";
	// $sHtml = "<ul class='nav nav-list'>";
	$oMenu = $this->navigation('MenuUserAdmin')->menu();
	$oContainer = $oMenu->getContainer();
	foreach ($oContainer as $k => $page) {

		//上线模式&&菜单属于debug 调试模式下, 不展示菜单
		if($aConfig['debugFlag']==false && $page->get('debugFlag'))continue;


		$sDropdown = ($page->hasChildren() ? " dropdown":"");
		$sActive = "";
		if (!($page->isActive(true)))continue;
		$liClass = ' class="' .$sDropdown." ".$sActive.'"';
		$aPageArray = ($page->toArray());

        // $hit = true;
        // if (isset($aPageArray['enableusers']) 
        //     && count($aPageArray['enableusers'])
        //     && !in_array($userId, $aPageArray['enableusers'])
        // ) {
        //     continue;
        // }
		$sIconSpan = "<span class='licon licon-".$aPageArray['name']."'> </span>";
		
		// genNextSubMenu($oMenu, $page, $sHtml);
		if($page->hasChildren()){
			$aLv2Page = array();
			foreach($page->getPages() as $page2){
				if(!$page2->isVisible())continue;
				$aLv2Page[] = $page2;
			}
			if(count($aLv2Page)>0){
//					$sHtml .= "<ul >";
				foreach($aLv2Page as $page2){
					if(!$page2->isVisible())continue;
					genNextSubMenu($userId, $oMenu, $page2, $sHtml);
				}
//					$sHtml .= "</ul></li>";
				$sHtml .= "</li>";
			}else{
			}
		}else{
			$sActive = ($page->isActive() ? "active":"");
			$liClass = ' class="'.$sActive.'"';
			$sLink = $oMenu->htmlify($page);
			$sHtml .= "<li $liClass >".$sLink."</li>" ;
		}
	}
	$sHtml .= "</ul>";
	echo $sHtml;

?>
</div>
<script type="text/javascript">
    $('span.licon-menu_orgtreeview').addClass('icon-minus');
    $('span.licon-menu_orgtreeview').parent().click(function(event) {
        event.stopPropagation();//阻止事件冒泡即可
        $(this).children('ul').toggle();
        var s = $(this).children('ul').is(":visible") ? 'icon-minus' : 'icon-plus';
        $(this).children('span.licon-menu_orgtreeview').removeClass('icon-minus');
        $(this).children('span.licon-menu_orgtreeview').removeClass('icon-plus');
        $(this).children('span.licon-menu_orgtreeview').addClass(s);
    });
</script>
