
<!-- navigator -->
<nav class="navbar navbar-default" role="navigation">
	<!-- Brand and toggle get grouped for better mobile display -->
	<div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
		<span class="sr-only">Toggle navigation</span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		</button>
		<a class="navbar-brand" href="#">project-L</a>
		<div class="navbar-right">
		<p class="navbar-text"><?php echo $this->zfcUserDisplayName() ?> | <a href="<?php echo $this->url('zfcuser/logout') ?>">[<?php echo $this->translate('登出'); ?>]</a></p>          
		</div>
	</div>
	<!-- Collect the nav links, forms, and other content for toggling -->
	<div class="collapse navbar-collapse navbar-ex1-collapse">
		<div class="container container-static">
		<?php
			echo $this->navigation('MenuUserAdmin')->menu();;
//			echo($this->ycheukfNavigationMenu()->renderMenu('admin', array('UlClass'=>'nav navbar-nav')));
//					echo($this->ycheukfNavigationMenu()->renderMenu('default', array('UlClass'=>'nav navbar-nav')));
		?>
		</div>
		</div><!-- /.navbar-collapse -->
</nav>
