<?php
$this->layout('layout/blank');
$request = $this->getHelperPluginManager()->getServiceLocator()->get('request');
if ($request->isXmlHttpRequest()) {
    echo $this->exception->getMessage();
    return;
}
?>
 
 
<html lang="en">
    <head>
        <meta charset="utf-8">

        <?php echo $this->headMeta()
            ->appendName('viewport', 'width=device-width, initial-scale=1.0')
            ->appendHttpEquiv('X-UA-Compatible', 'IE=edge')
        ?>

        <!-- Le styles -->
        <?php echo $this->headLink(array('rel' => 'shortcut icon', 'type' => 'image/vnd.microsoft.icon', 'href' => $this->basePath() . '/images/favicon.ico'))
                        ->prependStylesheet($this->basePath() . '/components/bootstrap/css/bootstrap.min.css')
                        ->prependStylesheet($this->basePath() . '/components/bootstrap/css/bootstrap-theme.min.css') ?>

        <!-- Scripts -->
        <?php echo $this->headScript()
                ->prependFile( '/components/bootstrap/js/bootstrap.min.js')
                ->prependFile( '/components/jquery/jquery.min.js');
        ; ?>

</head>
<body style="margin: 1%;">
    <div class="errorbox">
        <table>
            <tr>
            <td><div></div></td>
            <td>
                <div class="text">
                    <h2>error!</h2><div id="" class="">
                        <?php 
                        if (isset($this->display_exceptions) && $this->display_exceptions && isset($this->exception)){
                            $aMsg = json_decode($this->exception->getMessage(), 1);
                            if(is_null($aMsg))echo $this->exception->getMessage();
                            else var_dump($aMsg);
                        }else
                            echo(($this->content));

                        ?>
                    </div>
                <br>
                <a href="javascript:window.history.go(-1);" ><?php echo $this->translate('pre page'); ?></a>
                <a href="<?php echo $this->url('home')?>" > <?php echo $this->translate('home'); ?></a>
                <a href="#" id='error_a'><?php echo $this->translate('trace'); ?></a>
                </p>
                </div>
            </td>
        </tr>
        </table>
    </div>
    <script type="text/javascript">
    <!--
        $('#error_a').click(function(){
            $('#error_div').toggle();
        });
    //-->
    </script>

    <div id="error_div" style="display:none">
        <?php if (isset($this->display_exceptions) && $this->display_exceptions): ?>

        <?php if(isset($this->exception) && $this->exception instanceof Exception): ?>
        <hr/>
        <h3><?php echo get_class($this->exception); ?></h3>
        <dl>
            <dt><?php echo $this->translate('File') ?>:</dt>
            <dd>
                <pre class="prettyprint linenums"><?php echo $this->exception->getFile() ?>:<?php echo $this->exception->getLine() ?></pre>
            </dd>
            <dt><?php echo $this->translate('Message') ?>:</dt>
            <dd>
                <pre class="prettyprint linenums"><?php echo $this->exception->getMessage() ?></pre>
            </dd>
            <dt><?php echo $this->translate('Stack trace') ?>:</dt>
            <dd>
                <pre class="prettyprint linenums"><?php echo $this->exception->getTraceAsString() ?></pre>
            </dd>
        </dl>
        <?php
            $e = $this->exception->getPrevious();
            if ($e) :
        ?>
        <hr/>
        <h2><?php echo $this->translate('Previous exceptions') ?>:</h2>
        <ul class="unstyled">
            <?php while($e) : ?>
            <li>
                <h3><?php echo get_class($e); ?></h3>
                <dl>
                    <dt><?php echo $this->translate('File') ?>:</dt>
                    <dd>
                        <pre class="prettyprint linenums"><?php echo $e->getFile() ?>:<?php echo $e->getLine() ?></pre>
                    </dd>
                    <dt><?php echo $this->translate('Message') ?>:</dt>
                    <dd>
                        <pre class="prettyprint linenums"><?php echo $e->getMessage() ?></pre>
                    </dd>
                    <dt><?php echo $this->translate('Stack trace') ?>:</dt>
                    <dd>
                        <pre class="prettyprint linenums"><?php echo $e->getTraceAsString() ?></pre>
                    </dd>
                </dl>
            </li>
            <?php
                $e = $e->getPrevious();
                endwhile;
            ?>
        </ul>
        <?php endif; ?>

        <?php else: ?>

        <h3><?php echo $this->translate('No Exception available') ?></h3>

        <?php endif ?>

        <?php endif ?>
    </div>
</body>
</html>
