<?php
if($this->flashMessenger()->getMessages()){
	foreach($this->flashMessenger()->getMessages() as $sMsg){
		echo <<<OUTPUT
		<div class="alert">
		  <button type="button" class="close" data-dismiss="alert">&times;</button>
		{$sMsg}
		</div>
OUTPUT;
	}
}