<?php
?>
<div class="container page-container">
    <div class="register">
    <div class="register-width register-form">
    <?php
    $sRedirect = isset($_GET['redirect']) ? $_GET['redirect'] : $this->url('home');

    $sHTML = '<p class="chgbanduser">切换用户</p>';
    $sHTML .= '<ul class="switch_user">';
    if(count($this->userdata)){
        foreach($this->userdata as $row){
    //        var_dump($row);
            $sHTML .= "<ol><a class='chg' href='".$this->url('zfcadmin/chgbandeduser', array('userid'=>$row['bander_user_id']))."?redirect=".urlencode($sRedirect)."'>";
            $sHTML .= !empty($row['display_name']) ? ($row['display_name']) : ($row['username']);
            $sHTML .= "</a>";
            if(is_null($this->sMasterUserId)){
                $sHTML .= "<a class='chg' href='".$this->url('zfcadmin/chgbandeduser', array('userid'=>$row['bander_user_id']))."?redirect=".urlencode($sRedirect)."'><a class='cancelbander' href='".$this->url('zfcadmin/cancelbandeduser', array('userid'=>$row['bander_user_id']))."'>取消绑定 </a> ";
            }
            $sHTML .= "</ol>";
        }
    }
    $sHTML .= "</ul>";
    echo $sHTML;
    ?>

        </div>
        <div class="register-other">
            <section class="third-title third-login">
            <?php
            if($this->sMasterUserId == null){
        ?>
            <p>绑定一个新账号, 请输入需要绑定的账号密码
            <div class="register-form">
                <form action="<?php echo $this->url()?>" method="post" class="binding_page">
                    <div class='tips'><?php echo $this->sErrorMsg; ?></div>
                    <div class="form-group">
                        <label for="" class="control-label col-sm-2">用户名:</label>
                        <div class="col-sm-10"><input type="text" id="identity" name="identity" class="form-control" holdplace="手机/邮箱"></div>
                    </div>
                    <div class="form-group">
                        <label for="" class="control-label col-sm-2">密码</label>
                        <div class="col-sm-10"><input type="password" id="credential" name="credential" class="form-control" holdplace="密码"></div>
                    </div>
                    <div class="form-group ">
                        <div class="col-sm-offset-2">
                        <button type="submit" class=" btn btn-lg btn-block btn-primary btn-register">提交绑定</button>
                        </div>
                    </div>
                    </div>
                </form>
            </div>
            <?php
            }else{
                echo "<div>当前账号为子账号, 无法执行绑定用户操作</div>";
            }
            ?>
            </div>
            </section>
        </div>
</div>
