<?php
$sRedirect = isset($_GET['redirect']) ? $_GET['redirect'] : $this->url('home');

$sHTML = "<ul>";
if(count($this->userdata)){
    foreach($this->userdata as $row){
//        var_dump($row);
        $sHTML .= "<ol><a href='".$this->url('zfcadmin/cancelbandeduser', array('userid'=>$row['bander_user_id']))."'>取消绑定 </a><a href='".$this->url('zfcadmin/chgbandeduser', array('userid'=>$row['bander_user_id']))."?redirect=".urlencode($sRedirect)."'> 切换至 ";
        $sHTML .= !empty($row['display_name']) ? ($row['display_name']) : ($row['username']);
        $sHTML .= "</a></ol>";
    }
}
$sHTML .= "</ul>";
echo $sHTML;
?>
<p>绑定一个新账号, 请输入需要绑定的账号密码
<form action="<?php echo $this->url()?>" method="post">
<div class='tips'><?php echo $this->sErrorMsg; ?></div>
            <div class="row"><label for="identity">
                    用户名</label>
                    <input name="identity" type="text" value="">                </div>
                <div class="row">
                    <label for="credential">密码</label>
                    <input name="credential" type="password" value="">                </div>

                
                <div class="toolbar"><input type="submit" name="login" value="登  录"></div>

                                <div class="row" style="margin: 10px 0;">
                    <a class="pull-left" target="_blank" href="/work/apps/code/l_project_web/public/forgetpwd">忘记密码</a>
                    <a target="_blank" class="pull-right" href="/work/apps/code/l_project_web/public/register">立即注册</a>
                </div>
            </div>
</form>