<?php
$this->layout('admin/login/layout');
$form = $this->loginForm;
$form->prepare();
$form->setAttribute('action', $this->url('zfcuser/login'));
$form->setAttribute('method', 'post');
$form->setAttribute('class', 'form-horizontal');

?>
<div class="login-wrap">
    <div id="login" class="login-form">
        <h2><?php echo LAFADMINTITLE_TITLE?> - 登陆</h2>
        <p> <?php echo LAFADMINTITLE_TITLE_TIPS?>
        <?php echo $this->form()->openTag($form) ?>
            <div class="text-danger"><?php echo $this->formElementErrors($form->get('identity')) ?></div>
            <div class="form-group">
                <?php $identityInput = $form->get('identity');
                      $identityInput->setAttribute('placeholder',$this->translate('username'));
                      $identityInput->setAttribute('class','form-control');
                      echo $this->formInput($identityInput);
                ?>
            </div>
            <div class="form-group">
                <?php $credentialInput = $form->get('credential');
                      $credentialInput->setAttribute('placeholder',$this->translate('password'));
                      $credentialInput->setAttribute('class','form-control');
                      echo $this->formInput($credentialInput);
                ?>
            </div>
            <?php if ($this->redirect): ?>
                    <input type="hidden" name="redirect" value="<?php echo $this->escapeHtml($this->redirect) ?>" />
            <?php endif ?>
            <div class="form-group ">
                <div class="col-sm-6">
                    <button type="submit" class="btn btn-block btn-primary">登录</button>
                </div>
<!--                <div class="col-sm-6">
                    <a class="pull-left" target="_blank" href="<?php echo $this->url('forgetpwd');?>"><?php echo $this->translate('forgetpwd') ?></a>
                </div>-->
            </div>
        <?php echo $this->form()->closeTag() ?>
    </div>
</div>
