
.container-static {
    width: 1120px;
    margin: 0 auto;
}
.navbar-nav{
    li{
    text-align: center;
    float: left;
    }
}
 
.nav > li > a{
    font-size: 20px;
}
#header{
    .navbar-text{
        margin:0;
        line-height: 40px;
        color: @base-font-color;
        font-size: 12px;
        a{
            padding:0 8px;
            cursor: pointer;
            line-height: 35px;
        }
        a.navbar-link{
            padding:0 0 0 5px;
        }
        a.navbar-link:hover{
            text-decoration: none;
        }
    }
}
.navbar-brand{
    text-indent: -999px;
    display: inline-block;
    margin: 8px 0;
    width: 180px;
    height: 45px;
    background: url("../images/v3/icons.png") no-repeat -6px -6px;
}

.header {
    min-width: 1350px;
    .container-static{
        height: 40px;
    }
    .nav > li > a:hover{
        background: @base-color-light;
        cursor: pointer;
    }
}
.navbar-nav{
    margin: 0 0 0 70px;
    float: left;
    li{
        min-width: inherit;
        min-width: 85px;
    }
}
.header{
    background: #000;
    /*border-bottom: 2px solid #cc3333;*/
    a{
        color:#fff;
    }
}

.navbar-nav > li > a{
    height: 40px;
    padding-top:0;
    padding-bottom: 0;
    line-height: 40px;
}
.navbar-nav > li.active a{
    background: @base-color-light;}
.t-weixin-icon,
.sina-weibo-icon,
.t-weibo-icon{
    display: inline-block;
    zoom:1;
    position: relative;
    top: 10px;
    background: url("../images/icons.png") no-repeat 0 0;
    height:22px;
    width:22px;
}

.t-weixin-icon{
    background-position: 0 0;
}
.sina-weibo-icon{    
    background-position: -27px 0;
}
.t-weibo-icon{
    background-position: -54px 0;
}
#weixin-qr{
    top: 30px;
    right: 13px;
    line-height: 20px;
    z-index: 10;
}
.qr-box{
  border-radius: 4px;
  background: rgb(0,0,0);
  padding:3px;
}
.user-box,
.msg-box{
    position: relative;
    padding: 0 10px;
}
.user-box,
.msg-box{
    .user-info,
    .msg-info{
        display: none;
        border-style: solid;
        border-color:#ddd;
        border-width: 1px;
        background: #fff;
        a{
            color:#333;
        }
    }
}

.arrow-up{
  border-width: 8px;
  border-left-color: transparent!important;
  border-right-color: transparent!important;
  border-style: outset;
  _border-style: solid dotted!important;
  border-top-width: 0!important;
  border-color: #000;
  position:relative; 
  top: -6px;
}

.msg-box{
    width:50px;
    float: left;
    /*border-left: 1px solid #000;
    border-right: 1px solid #000;*/
    .mail{
        background: url("../images/icons/msg.png") no-repeat 0 -52px;
        width:21px;
        height: 14px;
        display: inline-block;
    }
    .new-mail{
        background: url("../images/icons/msg.png") no-repeat 0 -75px;
        width:21px;
        height: 14px;
        display: inline-block;
    }
}
.msg-box:hover{
    cursor: pointer;
}
.user-box{
    width: 200px;
    float: left;
    text-align: right;
}
.user-name{
    overflow: hidden;
    white-space: nowrap;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    width: 165px;
    float: left;
    text-align: right;
    font-size: 13px;
}
.msg-status{
    span{
        background: red;
        padding:5px;
    }
}
.caret{
        border-top-color:#999 !important;
    }
.hover{
    background-color: #fff;
   /* border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;*/
    .caret{
        border-top-color:#999 !important;
    }
    .user-info,
    .msg-info{
        display: block;
        position: absolute;
        top: 35px;
        right: 10px;
        min-width: 120px;
        z-index: 10;
    }
    .msg-info{
        display: none;
    }
    .mail{
        background-position: 0 -52px;
    }
    .new-mail{
        background-position: 0 -75px; 
    }
}
.hover{
    .msg-info{
        .msg-list{
            margin: 0;
            padding: 5px 10px;
            list-style: none;
            text-align: left;
        }
    }

    .user-info{
        /*padding: 20px 0;*/
        .user-avatar{
            display:none;
            float: left;
            img{
                width:60px;
                height: 60px;
                border-radius: 60px;
            }
        }
        .action{
            /*width:200px;*/
            text-align: left;
            a{
                color:#333;
                display: block;
                font-size: 14px;
            }
            a:hover{
                color: @base-color;
                text-decoration: none;
            }
        }
    }
}
.feedback{
    position: fixed;
    right: 0;
    bottom: 100px;
}
.feedback .btn {
    height: 50px;
    line-height: 50px;
    overflow: hidden;
    display: inline;
    float: left;
    cursor: pointer;
    clear: both;
    width: 50px;
    text-align: center;
    background: #333;        
    filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
    filter: alpha(opacity=40);
    opacity:0.4;
}
.feedback {
    .btn-gotop{
        display: none;
    }
    z-index: 10;
    .go-top {
        display: inline;
    }
    .btn{
        margin-bottom: 10px;
        margin-right: 2px;
    }
    .qn-icon-gotop,
    .qn-icon-feedback{
        background: url("../images/icons/t_icons.png") no-repeat 0 -50px;
        display: inline-block;
        width: 27px;
        height: 27px;
    }
    .qn-icon-feedback{
        background-position: 0 0;
    }
     em {
        display: none;
        margin: 3px auto 0;
        width: 24px;
        font-size: 12px;
        line-height: 16px;
        font-style: normal;
        white-space: normal;
    }
}
.feedback .btn:hover {
    color: #fff;
    filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
    .qn-icon-gotop,
    .qn-icon-feedback{
        display: none;
    }
    em{
        display: block;
    }
}
