// Core variables and mixins
@import "variables.less";
@import "mixins.less";

// Reset
@import "normalize.less";
@import "print.less";

// Core CSS
@import "scaffolding.less";
@import "type.less";
@import "code.less";
@import "grid.less";
//@import "tables.less";
@import "forms.less";
@import "buttons.less";

// Components
@import "component-animations.less";
@import "glyphicons.less";
@import "dropdowns.less";
//@import "button-groups.less";
//@import "input-groups.less";
@import "navs.less";
@import "navbar.less";
//@import "breadcrumbs.less";
//@import "pagination.less";
//@import "pager.less";
//@import "labels.less";
//@import "badges.less";
//@import "jumbotron.less";
//@import "thumbnails.less";
//@import "alerts.less";
//@import "progress-bars.less";
//@import "media.less";
//@import "list-group.less";
//@import "panels.less";
//@import "wells.less";
@import "close.less";

// Components w/ JavaScript
@import "modals.less";
//@import "tooltip.less";
//@import "popovers.less";
@import "carousel.less";

// Utility classes
@import "utilities.less";
@import "responsive-utilities.less";
@base-color:#cc3333;
@base-color-light:#fa4545;
@title-base: #cc3333;
@title-red: #990000;
@title-black: #333333;
@btn-color-start:#d95f57;
@btn-color-end:#c23632;
body {
  background: #f8f7f2;
}
.section-header{
  margin-top: 0;
}
@media (min-width: @screen-sm){
  .container {
    max-width: 1000px;
  }
}
@media (min-width:1000px){
  .bg-1{
    background:url(../images/b-tu1.jpg) no-repeat 50% 50%;
    height: 572px;
    width:100%;
  }
  .bg-2{
    background:url(../images/b-tu2.jpg) no-repeat 50% 50%;
    height: 572px;
    width:100%;
  }
  .bg-3{
    background:url(../images/b_tu3.jpg) no-repeat 50% 50%;
    height: 572px;
    width:100%;
  }
  .bg-4{
    background:url(../images/b_tu4.jpg) no-repeat 50% 50%;
    height: 572px;
    width:100%;
  }
  .hidden-overkilo{
    display:none;
  }
}
@media (max-width:999px){
  .hidden-overkilo{
    display:block;
  }
}
@media (min-width: @screen-sm){

  .page-content h1 {
    margin:50px 0 20px;
  }
  .pic-feature{
    background:url(../images/img.png);
    width:960px;
    height:565px;
    margin-left:-25px;
  }
  .pic-phone{
    background:url(../images/phone.png) no-repeat 0 0;
    width:314px;
    height:435px;
    margin-top:0 !important;
  }
  .partner-list{
    li {
      width:160px;
    }
  }
  .page-content > section{
  padding:0 25px;
  position:relative;
  }

}

@media (max-width: @screen-sm){
 .page-content h1{
  margin-top:15px;
 }
  .section-header{
    margin-top:0;
  }
  .pic-cloud{
    background:none;
    display:none;
  }
  .pic-phone{
    background:none;
    display:none;
  }
  .partner-list{
    li {
      width:110px;
    }
  }
  .page-content > section{
    padding:10px 0;
    position:relative;
  }
  #service{
    display:none;
  }
  #service-hr{
    display:none;
  }
}
.container{
  padding-left:20px;
  padding-right: 20px;
}
div.page-container{
  background: #fff;
}


//
// Buttons
// --------------------------------------------------

// Common styles
.btn-default,
.btn-primary,
.btn-success,
.btn-info,
.btn-warning,
.btn-danger {
  text-shadow: 0 -1px 0 rgba(0,0,0,.2);
  @shadow: inset 0 1px 0 rgba(255,255,255,.15), 0 1px 1px rgba(0,0,0,.075);
  .box-shadow(@shadow);

  // Reset the shadow
  &:active,
  &.active {
    .box-shadow(inset 0 3px 5px rgba(0,0,0,.125));
  }
}

// Mixin for generating new styles
.btn-styles(@btn-color: #555) {
  #gradient > .vertical(@start-color: @btn-color; @end-color: darken(@btn-color, 12%));
  background-repeat: repeat-x;
  border-color: darken(@btn-color, 14%);

  &:hover,
  &:focus  {
    background-color: darken(@btn-color, 12%);
    background-position: 0 -15px;
  }

  &:active,
  &.active {
    background-color: darken(@btn-color, 12%);
    border-color: darken(@btn-color, 14%);
  }
}

// Common styles
.btn {
  // Remove the gradient for the pressed/active state
  &:active,
  &.active {
    background-image: none;
  }
}

// Apply the mixin to the buttons
.btn-default { .btn-styles(@btn-default-bg); text-shadow: 0 1px 0 #fff; border-color: #ccc; }
.btn-primary { .btn-styles(@btn-primary-bg); }
.btn-success { .btn-styles(@btn-success-bg); }
.btn-warning { .btn-styles(@btn-warning-bg); }
.btn-danger  { .btn-styles(@btn-danger-bg); }
.btn-info    { .btn-styles(@btn-info-bg); }
.btn-download{
  color:#fff;
  border: 0 none;
  border-radius: 0;
  padding: 8px 12px;
  margin-right: 8px;
  .btn-styles(@btn-color-start);
  &:active,&.active{
    color:#fff;
  }
  &:hover,&:focus{
    color:#fff;
  }
}


//
// Images
// --------------------------------------------------

.thumbnail,
.img-thumbnail {
  .box-shadow(0 1px 2px rgba(0,0,0,.075));
}



//
// Dropdowns
// --------------------------------------------------

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  #gradient > .vertical(@start-color: @dropdown-link-hover-bg; @end-color: darken(@dropdown-link-hover-bg, 5%));
  background-color: darken(@dropdown-link-hover-bg, 5%);
}
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  #gradient > .vertical(@start-color: @dropdown-link-active-bg; @end-color: darken(@dropdown-link-active-bg, 5%));
  background-color: darken(@dropdown-link-active-bg, 5%);
}



//
// Navbar
// --------------------------------------------------
.navbar{
  margin-bottom: 0;
  .container{
    padding: 0;
    & >.navbar-header, &>.navbar-collapse{
      margin:0;
    }
  }
}  
.mask-banner{
  border: 0;
  height: 56px;
  width: 100%;
  position: absolute;
  background: rgba(0, 0, 0, 0.3);
  z-index: 1;
}

// Default navbar
.navbar-trans {
  background: rgba(0,0,0,0.3);
  border: 0;
  height: 56px;
  //#gradient > .vertical(@start-color: lighten(@navbar-default-bg, 10%); @end-color: @navbar-default-bg);
  border-radius: @navbar-border-radius;
  @shadow: inset 0 1px 0 rgba(255,255,255,.15), 0 1px 5px rgba(0,0,0,.075);
  .box-shadow(@shadow);
  
  .navbar-text{
    color:#fff;
    vertical-align: top;
  }
  .navbar-nav{
    background: #000;
    &> li > a{
      color:#fff;
    }
    margin : 0;

  }
  .navbar-nav > .active > a {
    //#gradient > .vertical(@start-color: darken(@navbar-default-bg, 5%); @end-color: darken(@navbar-default-bg, 2%));
    .box-shadow(inset 0 3px 9px rgba(0,0,0,.075));
    background: @base-color;
  }
  .navbar-link {
    color: #fff;
    vertical-align: top;
  }

  .navbar-toggle {
    border-color: @navbar-default-toggle-border-color;
    &:hover,
    &:focus {
      background-color: lighten(#000 ,30%);
    }
    .icon-bar {
      background-color: @navbar-default-toggle-icon-bar-bg;
    }
  }
}

@media (max-width: @screen-sm){
  .navbar-trans {
    background: rgba(0, 0, 0, 1);
    position:relative;
  }
}
@media (min-width: @screen-sm){
  .navbar-trans{
    position:absolute;
  }
  .navbar-toggle{
    display:none;
  }
}


.navbar-brand,
.navbar-nav > li > a {
  text-shadow: 0 1px 0 rgba(255,255,255,.25);
}

// Inverted navbar
.navbar-dark {
  background: #000;
  border:0;
  border-radius:0;
  font-size: 16px;
  .navbar-nav > .active {
    background:@base-color;
  }

  .navbar-brand,
  .navbar-nav > li > a {
    color:#fff;
  }
}
.nav{
  &> li > a:hover,& > li > a:focus{
    background: @base-color-light;
  }
} 
// Undo rounded corners in static and fixed navbars
.navbar-static-top,
.navbar-fixed-top,
.navbar-fixed-bottom {
  border-radius: 0;
}
.qn-logo {
  margin-top:3px !important;
  background: url('../images/icons_03.png') 0 0 no-repeat;
  width: 230px;
  height: 50px;
}

.page-content{
  h1{
    font-size:30px;
    color:@title-base;
  }
  h2{
    font-size:18px;
    color:@title-red;
  }
  h3{
    font-size:24px;
    color:@title-black;
  }
}
.partner-logo{
    >li+li:before{
      padding: 0 5px;
      color: #cccccc;
      content: "|";
  }
  >li{
    float:left;
  }
  list-style-type: none;
  overflow:hidden;
}
.affix {
  top: 0;
  width:100%;
}
[class^="custom-icon-"], [class*=" custom-icon-"]{
  background-image: url('../images/icons_18.png');
  width:21px;
  height:21px;
  display: inline-block;
  line-height: normal;
  vertical-align: baseline;
  background-repeat: repeat;
  margin-right: 5px;
}
.custom-icon-1{
  background-position: 0 0;
}
.custom-icon-2{
  background-position: -41px 0;
}
.custom-icon-3{
  background-position: -82px 0;
}
.custom-icon-4{
  background-position: -121px 0;
}
.pull-left {
    padding: 5px 20px 0 0;
}
.pull-left a{
    vertical-align: top;
}
.table{
  width:100%;
}
.table td{
  text-align: center;
}
.navbar > .container .navbar-brand{
  margin: 0;
}
.navbar-dark .navbar-brand, .navbar-dark .navbar-nav > li > a{
  width:120px;
  text-align: center;
}
.navbar-collapse {
  padding:0;
}



.icon-android,.icon-apple{
  font-size: 18px;
}
.btn[disabled]{
  opacity: 0.4;
}
.third-part-download{
  margin-left: 0;
}
.third-part-download{
    h3{
        font-size: 14px;
    }
    ul{
      padding: 0;
      list-style: none;
    }
    li{
      margin-bottom: 20px;
    }
  }
  a:hover{
    text-decoration: none;
  }
.third-part-download ul{
  margin-right: 20px;
  }
.third-part-download li {
  margin-bottom: 10px;
}
  .table{
      span{
        border-right: 1px solid #ccc;
        float: right;
        width: 1px;
        display: inline-block;
        height: 25px;
        margin-top: 20px;
      }
  }
  .t-weixin-icon{
    display: inline-block;
    zoom:1;
    background: url("../images/icons.png") no-repeat 0 0;
    height:22px;
    width:22px;
    background-position: 0 0;
  }
  .sina-weibo-icon{
    display: inline-block;
    zoom:1;
    background: url("../images/icons.png") no-repeat 0 0;
    height:22px;
    width:22px;
    background-position: -27px 0;
  }
  .t-weibo-icon{
    display: inline-block;
    zoom:1;
    background: url("../images/icons.png") no-repeat 0 0;
    height:22px;
    width:22px;
    background-position: -54px 0;
  }
 
  .clearfix .pull-right{
    margin-top:-30px;
  }
.carousel-caption {
  bottom: 0;
  margin-left: -100px;
  img{
  margin-left: -200px;
  }
  p{
    margin-left: -100px;
    margin-top: 10px;
  }
}
.carousel-inner > .item{
  // images/s-tu1.jpg
  // .bg-1{
  //   background:url(../images/f-bj1.jpg) no-repeat 50% 50%;
  //   width:100%;
  // }
  // .bg-2{
  //   background:url(../images/f-bj2.jpg) no-repeat 50% 50%;
  //   width:100%;
  // }
  // .bg-3{
  //   background:url(../images/f-bj3.jpg) no-repeat 50% 50%;
  //   width:100%;
  // }
  // .bg-4{
  //   background:url(../images/f-bj4.jpg) no-repeat 50% 50%;
  //   width:100%;
  // }
  .banner-wrapper{
      min-width:320px;
      margin:0 auto;
      text-align: center;
      img{
        vertical-align: middle;
        max-width: 1000px;
      }
  }
}
  .banner2{
    min-width:320px;
    margin:0 auto;
    text-align: center;
  }
.btn-wrapper a.btn-trans{
  background: #000;
  color: #fff;
  border-width: 2px;
  border-color: #999;
  padding-left: 20px;
  padding-right: 20px;
  cursor: pointer;
  border-radius: 8px;
  margin-left:10px;
}
.icon-android,.icon-apple{
  padding-right: 3px;
}
.footer .container{
  background: #ededed;
  text-align: center;
  padding: 10px;
}
.footer{
  a{
    color:#666;
  }
  a:hover{
    text-decoration:none;
  }
  p{
    font-size: 12px;
    color:#999;
    font-family: "Microsoft YaHei", "weiruanyahei", "Arial";
    margin: 0;
  }
}
.carousel-indicators{
  bottom: -5px;
  li{
      border: 1px solid rgb(204, 204, 204);
      background: rgb(255, 255, 255);
      &.active {
          background-color: @base-color;
      }
  }
}
.carousel-indicators {
  
}
.carousel-indicators .active{
  background-color:#00fff2;
}
h2{
  margin:10px 0;
}
row{
  p{
    .a{
        padding-right: 20px;
      }
  }
}

.footer .splitter{
}
.carousel-caption p{
  margin-left: -130px;
}
.sub{
  font-size: 18px;
color: #000;
}
.color-base{
  color:@base-color
}
.partner-list{
  list-style: none;
  padding: 0;
  li{
    float:left;
  }
}
.title{
  color:#333;
  font-size: 24px;
}
.c-icon{
    background: url(../images/s-icn.png) 0 0 no-repeat;
    height:24px;
    width:24px;
    display: inline-block;
    vertical-align: baseline;
    margin-right: 5px;
    position: relative;
    top: 4px;
}
.c-icon-3{
  background-position: 0 -68px;
}
.c-icon-2{
  background-position: 0 -34px;
}
.c-icon-1{
 background-position: 0 0;
}
.suggestion-container{
  width: 39px;
  height:115px;
  top: 100px;
  display:block;
  position: fixed;
  z-index:1001;
}

hr {
  margin-top: 0;
  margin-bottom: 0;
}
p.version{
  font-size: 12px;
  color: #666;
}
#service{
  padding-left:0;
  padding-right:0;
  .section-header{
    padding-left:20px;
  }
}
.btn-suggest{
  background: #000;
  border: 0;
  color: #ddd;
  line-height: 16px;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
  outline: none;
}
.btn-primary {
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(@btn-color-start), to(@btn-color-end));
  background-image: -webkit-linear-gradient(top, @btn-color-start, 0%, @btn-color-end, 100%);
  background-image: -moz-linear-gradient(top, @btn-color-start 0%, @btn-color-end 100%);
  background-image: linear-gradient(to bottom, @btn-color-start 0%, @btn-color-end 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@btn-color-start', endColorstr='@btn-color-end', GradientType=0);
  background-repeat: repeat-x;
  border-color: #bb3530;
}
.btn-primary:hover, .btn-primary:focus {
  background-color: #bb3530;
  border-color: #bb3530;
}
.modal-title {
  margin: 0;
  line-height: 1.428571429;
  font-size: 16px;
  padding: 5px 10px;
  color: #fff;
  background: url("../images/meg_26.png") 10px center no-repeat @base-color;
  padding-left: 30px;
  display: inline;
}
.arrow-up{
  border-width: 8px;
  border-left-color: transparent!important;
  border-right-color: transparent!important;
  border-style: outset;
  _border-style: solid dotted!important;
  border-top-width: 0!important;
  border-color: #000;
  position:relative; 
  top:-7px;
}
.qr-box{
  border-radius: 4px;
  background: rgb(0,0,0);
  padding:3px;
}