.ns-list{//ul
    list-style: none;
    .ns-item {//li
        float:left;
        margin: 5px 5px;
        .btn-link{
            padding: 5px;
            margin: 0;
        }
    }
    .active{
        a{
           color:#fff;
        }
        background: #205081;
        
    }
}
.ns-selected-container .btn{
        margin: 0;
        padding: 0;
}
.ns-selected-list {
    display: inline-block;
    margin: 0;
    padding: 0 10px;
    vertical-align: middle;
    list-style: none;
    
}

.ns-item-selected{
    float: left;
    background: #205081;
    padding: 5px 10px;
    margin-right: 10px;
    color: #fff;
    margin-bottom: 10px;
}
.ns-selected-submit{
    float: left;
}
.btn-tag{
     text-decoration: none;
}
// .btn-tag:before{
//     content:'['
// }
// .btn-tag:after{
//     content:']'
// }
.selected-label,
.ns-title{
    font-weight: bold;
}
