@base-color: #205081;//蓝
@base-color-light: #05c2b8;//浅蓝
@base-color-dark: #2a67a5;//深蓝
@base-font-color: #999;
@base-qianniu-font: #e95e13; //橙色
@base-integral-font: green;
@base-green:#339900; // 绿色

//后台
@btn-add-bg: #e67d12;
@btn-primary-bg: @base-color;
@btn-primary-bg-hover: @base-color-dark;

@btn-publish-bg: #ff9900;
@btn-publish-bg-hover: #e78c05;

@btn-publish-btn-bg: @base-color;   //button
@btn-publish-btn-bg-hover: @base-color-dark;

@btn-auth-bg:  #8ecff5;

@management-bg: #e2e2e2;
@page-bg-active: @base-color;
@nav-tabs-bg: #009900;
@navbar-submenu-active: @base-color;


//通用
@navbar-hover:@base-color-light;
@navbar-active: @base-color-dark;
@navbar-bg: @base-color;
@link-color:            @base-color;
@link-hover-color:      darken(@link-color, 15%);
@navbar-hover-bg: #C2ECEA;