.register-header,
.login-header{
    //width: 180px;
    height: 45px;
    margin-bottom: 10px;
    background: url("@{image-path}images/v3/lg_log.png") no-repeat 0 0;
    p{
        text-align: right;
        line-height: 65px;
        font-size: 18px;
        color: #fff;
        a{
            color:#fff;
        }
    }
}
.register-footer,
.login-footer{
    width: 315px;
    height: 35px;
    margin: 10px auto 0;
}
.page-register,
.page-login{
    width: 750px;
    height: 450px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -300px;
    margin-left: -350px;
}
.register-wrap,
.login-wrap{
    border-radius: 5px;
    width: 750px;
    min-height: 380px;
    padding: 20px 30px 10px;
    background: #fff;
    border: 1px solid @base-color;
    .btn-primary{
        height:40px;
    }
    .clearfix();
    .login,
    .register-tabs{
        .make-xs-column(6,10px);
        padding-right:50px;
        border-right:1px solid #eee;
        .nav-tabs{
            border:0;
            margin-bottom: 24px;
            > li {
                border:0;
                border-bottom: 2px solid rgba(0,0,0,0);
                margin-right: 30px;
                > a{
                    border:0;
                    font-size:18px;
                    font-weight: normal;
                    padding: 5px;
                    &:hover,&:active{
                        background:#fff;
                    }
                }
                &.active{
                    > a{
                        color:#red;
                    }
                    border-bottom:2px solid @base-color;
                }
            }
        }
    }
    .register-other,
    .login-third{
        a.btn-login-qq,
        a.btn-login-weibo{
            width: 250px;
            height: 50px;
            padding: 5px 10px 0 50px;
            i{
                left: 50px;
            }
        }
        .make-xs-column(6,10px);
        padding-left:50px;
        a{
            color: @base-color;
        }
        dt{
            font-size: 18px;
            font-weight: normal;
        }
        dd{
            padding: 10px 0;
        }
        .btn-login-qq,
        .btn-login-weibo{
            color:#fff;
            position: relative;
            padding:0 10px 0 45px;
            background:rgb(133,210,215);
            line-height: 40px;
            width:195px;
            border-radius: 0;
            i{
                display: inline-block;
                position: absolute;
                left:25px;
                width:40px;
                height:40px;
                background: url('@{image-path}images/v3/icons.png') -313px -322px no-repeat;
            }
        }
        .btn-login-weibo{
            background:rgb(215,40,41);
            i{
                background: url('@{image-path}images/v3/icons.png') -313px -379px no-repeat;
            }
        }
    }
}
.qianniu-signin{
    h3{
        font-size: 16px;
    }
}

.third-login{
    dt{
        font-size: 16px;
        font-weight: normal;
        padding: 10px 0;
    }
}
.i-login{
    background: url('@{image-path}images/v3/icons.png') -328px -278px no-repeat;
    width: 30px;
    height: 24px;
    display: inline-block;
    vertical-align: middle;
}
.container > .content{
    margin-top: 20px;
    border: 1px solid #f0f0f0;
    background-color: #fff;
    padding: 20px 0;
}
.register-step{
    background: url('@{image-path}images/v3/open_services_steps.png') 0 0 no-repeat;
    display: block;
    width:808px;
    margin:0 auto 30px;
    height:70px;
    &.step2{
        background-position: 0 -75px;
    }
}
.register-section-wrap{
    h1{
        font-size:24px;
    }
    width:650px;
    margin: 0 auto;
    text-align: left;
}
.login-form{

    .form-control {
        display: block;
        width: 200px;
        height: 40px;
        padding: 6px 12px;
        font-size: 14px;
        border: 1px solid #cccccc;
        border-radius: 0;
        box-shadow: none;
        transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    }

}
.login-form{
    float: left;
    border-left: 1px solid #eee;
    padding-left: 70px;
    margin-left: 20px;
    h2{
        font-size: 18px;
        padding-bottom: 10px;
    }
    .pull-left{
        padding: 20px 10px 0;
    }
}

.text-danger{
    ul{
        padding: 0;
        list-style: none;
        color: red;
    }
}