@media screen and (max-width:1024px){

	body{
		min-width: 1004px;
	}

	.container-static{
		width:1004px;
	}
	.search-form {
		width: 350px;
	}
	.btn{
		padding: 0 3px;
	}
	.useful-links .btn {
		padding: 6px 4px;
	}
	.container-static {
		width: 985px;
	}
	.page-content > .main {
		width: 680px;
		.banner{
			width: 680px;
			height: auto;
		}
	}
	.btn-more {
		background: #fff;
		border: 1px solid #ddd;
		color: #666;
		padding: 8px 30px;
	}
	//企业
	.site-banner{
		width: 985px;
		height: 90px;
	}
	.tab-content{
		.main{
			width: 700px;
		}
	}
	.qr-wrap{
		display: none;
	}
	.page-content > .main {
		width: 680px;
		}
}
