.ts-body{
    margin-bottom: 0;
    padding-left: 0; // Override default ul/ol
    border: 0 none;
    background: #eee;
    list-style: none;
    max-height: 225px;
    overflow-y: scroll;
    .clearfix();

    > li {
        position: relative;
        display: block;
        float: left;
        > a {
            position: relative;
            display: block;
            padding: 5px 10px;
            background: #999;
            border-radius: 20px;
            margin: 5px;
            line-height: 15px;
            color: #fff;
            &:hover,
            &:focus {
                text-decoration: none;
            }
        }
        &.active{
            > a{
                background: none;
                border: none;
                background: #009900;
                color: #fff;
            }
        }
    }
}