//@import "variables.less";
//@import "mixins.less";
@import "overridevariables.less";
@import "header.less";
@import "mypanel.less";
@import "tagselect.less";
@import "bootstrap.less";
@import "bootstrap-tokenfield.less";
@import "nestedselect.less";
@import "datetimepicker.less";
@import "daterangepicker-bs3.less";

@imagePath:~'../css';
body{
	/*background: url("../css/images/m-bj.png") repeat-x 0 0 #ececec;*/
	font-family:@font-family-base;
	background: @management-bg;
	min-width:1120px;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus {
	color: #fff;
	background: @navbar-active;
}
.navbar-default .navbar-nav > .active > a:hover{
	background:@base-color-light;
	color: #fff;
}

.licon span{
	padding-right:3px;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a,
 .navbar-default .navbar-nav > .open > a:focus{
	color:#fff;
	background: @navbar-active;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > .open > a:hover{
	background:@base-color-light;
	color: #fff;
}
@media (min-width:@screen-desktop) {
  	li.active b{
		display: none;
	}
}
a{
	color: @base-color;
}
b.menu_haschild{
	display: inline-block;
	width: 0;
	height: 0;
	margin-left: 2px;
	vertical-align: middle;
	border-top: 4px solid #000000;
	border-right: 4px solid transparent;
	border-left: 4px solid transparent;
	border-bottom: 0 dotted;
}
/* menu css*/
div.navbar-ex1-collapse li a span.licon {
	background: url("../css/images/icons.png") no-repeat 0 -9px;
	width: 20px;
	height: 18px;
	display: inline-block;
	vertical-align: middle;
}
div.navbar-ex1-collapse li a span.licon-admin{
	background-position: -2px -35px;
}
div.navbar-ex1-collapse li a span.licon-company{
	background-position: -54px -9px;
}
div.navbar-ex1-collapse li a span.licon-resume{
	background-position: -29px -9px;
}
div.navbar-ex1-collapse li a span.licon-task{
	background-position: -349px -8px;
}
div.navbar-ex1-collapse li a span.licon-content{
	background-position: -85px -9px;
}
div.navbar-ex1-collapse li a span.licon-user{
	background-position: -111px -9px;
}
div.navbar-ex1-collapse li a span.licon-report{
	background-position: -30px -35px;
}
div.navbar-ex1-collapse li a span.licon-system{
	background-position: -57px -35px;
}
div.navbar-ex1-collapse li a span.licon {
	display: none;
}
/*end*/
.panel-default {
	overflow: hidden;
	/*padding:0 15px 20px 15px;*/
	min-height: 600px;
	border:none;
}
.panel-default .panel-heading{
	border-radius: 0;
	background: #fff !important;
	border-bottom: 1px solid #ccc !important;
	padding: 0;
	li{
		padding: 10px 20px;		
		position: relative;
		top:1px;
		margin-left:10px;
		a{
			text-decoration: none;
		}
		cursor:pointer;
	}
	li:hover{
		background: #eee;
	}
	li.active{
		background: #fff;
		border:1px solid #ccc;
		border-bottom-color: #fff;
	}
}
.navbar-header {
	float:none;
}
.navbar-default {
	background: #fff;
	border: none;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
	background: @navbar-bg;
	/*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#34afa4', endColorstr='#029c8e');
	background: -webkit-gradient(linear, left top, left bottom, from(#34afa4), to(#029c8e));
	background: -moz-linear-gradient(top, #34afa4, #029c8e);
	background: -o-linear-gradient(top, #34afa4, #029c8e);
	background: linear-gradient(top, #34afa4, #029c8e);*/

	color: #fff;
}
.navbar-default .navbar-nav > li > a {
	color: #fff;
}
.breadcrumb {
	margin: 5px 20px;
	padding: 0 5px;
	background: none;
	border-radius: 0;
}

.navbar-nav > li > a {
	padding: 0 10px;
	height: 42px;
	line-height: 42px;
	font-size: 16px;
}

div.navbar-ex1-collapse ul.dropdown-menu li a span.licon {
	display: none;
}
.dropdown-menu > li > a{
	padding-left:40px;
}
.navbar-default .navbar-nav > .dropdown > a .menu_haschild{
	border-top-color: #fff;
	border-bottom-color: #fff;
}
 div.container li b.menu_haschild {
	display:inline-block;
}
.container{
	width: 100%;
	padding: 0 0px;
}
.container-user{
	width:1120px;
}
/*
.navbar-default .navbar-nav > .dropdown > a .menu_haschild,
.navbar-default .navbar-nav > .dropdown > a .menu_haschild:hover {
	border-top-color: #fff;
	border-bottom-color: #fff;
	margin: 5px;
}*/
.navbar-default .navbar-nav > .dropdown > a:hover .menu_haschild, .navbar-default .navbar-nav > .dropdown > a:focus .menu_haschild {
	border-top-color: #fff;
	border-bottom-color: #fff;
}
.navbar-default .navbar-nav > .open > a .menu_haschild,
 .navbar-default .navbar-nav > .open > a:hover .menu_haschild,
 .navbar-default .navbar-nav > .open > a:focus .menu_haschild {
	border-top-color: #fff;
	border-bottom-color: #fff;
}
/*按钮*/
div.clearfix > .btn{
	padding:6px 15px;
	margin-bottom: 8px;
}
.toolbar .btn {
	margin: 0 5px 0 0;
}

.toolbar .btn.btn-add,
.toolbar .btn-add{
	background: @btn-add-bg;
	#gradient > .vertical(@start-color: lighten(@btn-add-bg,15%),@end-color: @btn-add-bg);
	margin-right: 20px;
}

.toolbar .btn-default:hover,
.toolbar .btn-default:focus, 
.toolbar .btn-default:active,
.toolbar .btn-default.active{
	color: #ffffff;
	background-color: @btn-primary-bg-hover;
	/*border:none;*/
}
.toolbar .btn.btn-add:hover,
.toolbar .btn-add:hover{
	background: @btn-add-bg !important;
	}
.toolbar .btn-default {
	color: #fff;
	background-color: @btn-primary-bg;
	border:none;
}
button.phone{
	margin-left: 10px;
}
div.row-box{
	padding: 10px 10px 0;

	dd:hover{
		color: #2a6496;
		text-decoration: underline;
	}
}
.toolbar span.pull-left{
	padding-top:10px;
	padding-right: 5px;
}
dd.filter-item{
	padding-top: 10px;
}
.toolbar span {
	margin-left: 20px;
}
.toolbar{
	margin-top:0px;
}
.toolbar {
	.btn{
		color: #ffffff;
		background-color: @btn-primary-bg;
		border:none;
	}
	.publish, .action_134-1, .publish_134_1, .publish_102_1 {
		background:@btn-publish-bg;
	}
	.publish:hover,.publish_134_1:hover,.publish_102_1:hover, .action_134-1:hover{
		background:@btn-publish-bg-hover;
	}
}
.toolbar{
	.toolbar-link{
		margin-right: 10px;
		margin-top: 10px;
	}
	.filter{
		list-style: none;
		margin: 0;
		padding:0;
		.clearfix();
		.filter-label{
			float:left;
			margin-right: 10px;
		}
		.filter-item{
			float:left;
			margin-right: 10px;
			&.active{
				color: red;
			}
			cursor:pointer;
		}
	}
}
/*table css */
.report-cantainer {
	margin: 5px 10px;
}

.table {
	margin-bottom:0;
}
th.dimen div{
	padding:10px 0;
}

.toolbar{
	clear:left;
}
.toolbar span.input-group-btn span {
	margin-left: 0;
}
div.input-group input.form-control{
	margin: 0;
}
.table-bordered > thead > tr > th,
.table-bordered > thead > tr > td {
	border-bottom-width: 1px;
}
.table-bordered{
	img{
		width:60px;
	}
	img.attachment{
		width: 19px;
	}
}
.pagination {
	margin: 10px 0;
}
.pagination > li > a,
.pagination > li > span {
	padding:3px 12px;
}
/*search*/
form.pull-right div.input-group{
	width: 230px !important;
	height: 30px;
	padding: 0;
	margin: 0;
}
form.pull-right div.input-group span.input-group-btn{
	line-height: 0;
}


div.input-group input.form-control {
	height: 32px;
	font-size: 14px;
	line-height: 1.428571429;
	vertical-align: middle;
	background-color: #ffffff;
	background-image: none;
	border: 1px solid #cccccc;
	border-radius: 5px 0 0 5px;
}
a.btn-add span.licon-add{
	background: url("../css/images/icons.png") no-repeat -166px -2px ;
	padding: 5px 10px;
}
.toolbar span{
	margin:0;
}
div.clearfix .form-control {
	padding: 5px;
	font-size: 12px;
}
.toolbar .form-control {
	margin: 5px 5px 5px 0;
}
/* table css*/

.table > thead > tr > th, 
.table > tbody > tr > th, 
.table > tfoot > tr > th, 
.table > thead > tr > td, 
.table > tbody > tr > td, 
.table > tfoot > tr > td {
	padding: 2px 10px;
	vertical-align: middle;
}
div.pull-left select.input-sm {
	margin:10px 0 !important;
	padding:5px;
}
div.table-responsive .pagination {
	margin: 10px 0;
}
div.table-responsive .pagination li a{
	padding:3px 10px;
}
.pagination > .active > a, 
.pagination > .active > span,
.pagination > .active > a:hover, 
.pagination > .active > span:hover, 
.pagination > .active > a:focus, 
.pagination > .active > span:focus {
	background-color: @page-bg-active;
	border-color: @page-bg-active;
}
/* from css*/
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8,
.col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4,
.col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12,
.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, 
.col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-lg-1, .col-lg-2, 
.col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, 
.col-lg-11, .col-lg-12 {
	padding-left:0;
}
div.uploader-wrapper input.form-control{
		border:none;
		border-radius: none;
		-webkit-box-shadow: none;
		box-shadow: none;
		-webkit-transition: none;
		transition:none;
	}
	div.uploader-wrapper{
		border: 1px solid #ccc;
		border-radius: 4px;
		padding: 6px;
		-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
		box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
		-webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
		transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
div.uploader-wrapper img{
	margin: 0 13px 10px;
}

.dropdown-menu {
	border-radius:0;
	padding:0;
}
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  	background: @base-color;
  }
  .dropdown-menu > li > a {
  	padding: 5px 20px;
  }
 .nav-tabs > li > a,
  .nav-tabs > li > a:hover{
  	background: #999;
	border-radius: 20px;
	margin-right: 10px;
	line-height: 15px;
	color: #fff;
	padding: 5px 10px;
	border: 0 none;
	margin:5px;
  }
 
 .nav-tabs > li.active > a,
 .nav-tabs > li.active > a:hover,
 .nav-tabs > li.active > a:focus {
  	background: none;
	border: none;
	background: @nav-tabs-bg;
	color: #fff;
  }
 .nav-tabs {
	border: 0 none;
	background: #eee;
	//padding: 5px;
}
.panel {
	
}
ul.ulsubmenu{
	height: 70px;
	margin-left: 15px;
	padding: 0;
	margin-top: 10px;
}
ul.ulsubmenu li{
	float: left;
	height: 50px;
	border: 1px solid #ccc;
	margin-right: 10px;
	text-align: center;
	line-height: 50px;
	padding: 0 20px;
	margin-top: 10px;
	position: relative;
	cursor: pointer;
}
ul.ulsubmenu li.active{
	background: #339933;
	border: 1px solid #339933;
}
ul.ulsubmenu li.active a{
	color:#fff;
}
ul.ulsubmenu li.active b.selected{
	border-color: #339933;
	display: block;
	position: absolute;
	top: 49px;
	left: 50%;
	border-width: 6px;
	margin-left: -6px;
	border-left-color: transparent !important;
	border-right-color: transparent !important;
	border-style: solid outset;
	border-style: solid dotted!important;
	border-bottom-width: 0!important;
}
.licon-publish,
.licon-unpublish,
.licon-save{
	display: block;
	text-indent: -9999999px;
	width: 30px;
	background: url("../css/images/icons.png") no-repeat -253px -5px;
}
.licon-unpublish{
	background-position: -285px -5px;
}
.licon-save{
	background-position: -315px -5px;
}

.thumbnail {
	margin-right: 10px;
	padding: 10px;
	margin-bottom: 10px;
}

.preview-wrap .preview-action {
	padding: 8px;
margin-left: auto;
text-align: center;
}

div.thumbnail .btn-link {
	color: #fff;
	font-size: 18px;
}
div.contentedit-toolbox button{
	background: #fcfcfc;
	display: block;
	border: 1px dashed #ccc;
	width: 225px;
	height: 35px;
	border-radius: 5px;
}
.tab-panel {
	background: #eee !important;
	border: 0 !important;
	margin-top: 10px;
	border-radius: 0;
}
.preview-action li{
	display: inline-block;
}
.note-editor {
	background: #fff;
}
ul.ulsubmenu span.label{
	color:#333;
}
ul.ulsubmenu li.active span.label {
	color:#fff;
}

div.horizon-row{
	border-bottom: 2px solid #ccc;
	padding-bottom: 5px;
	padding-left: 0;
	margin: 0 10px 10px;
}
span.base{
	border-bottom: 2px solid @base-color;
	padding: 6px 30px 6px 50px;
	font-weight: bold;
	background: url("../css/images/icons.png") no-repeat -53px -27px;
}
.ALYSflash_trend_div{
	margin-right: 20px;
}
div.clearfix .hasDatepicker {
	width: 100px !important;
}

.report-detail td{
	padding:5px 10px !important;
}
.preview-wrap .preview-title{
	/*padding:5px;*/
}

/* error css*/
.errorbox{
	margin: 100px auto;
	width: 500px;
}
.img403{
	background: url("../css/images/i403.png") no-repeat 0 0;
	width: 139px;
	height: 107px;
	display: inline-block;
	float: left;
	}
.img404{
	background: url("../css/images/i404.png") no-repeat 0 0;
	width: 139px;
	height: 107px;
	display: inline-block;
	float: left;
}
.img505{
	background: url("../css/images/i505.png") no-repeat 0 0;
	width: 139px;
	height: 107px;
	display: inline-block;
	float: left;
}
.errorbox{
	p{
		text-align: center;

	}
	td{
		vertical-align: top;
	}
	h1{
		font-size: 60px;
		margin-top:5px;
		text-align: center;
		border:none;
	}
	a{
		background: @btn-primary-bg;
		padding: 10px 20px;
		display: inline-block;
		margin: 10px auto;
		border-radius: 5px;
		color: #fff;
		text-align: center;
	}
	a:hover{
		text-decoration: none;
		background: @base-color-dark;
	}
	
}
table.table-striped{
	th.dimen{
		background: #fff;

	}
	.dimen{
		background: url("../css/images/icons.png") no-repeat -112px -27px;
		padding: 5px 0 5px 5px;
	}
}
.table {
	td{
		.text-overflow();
		div{
			.text-overflow();
		}
	}

}
.table {
	.sortable{
		div{
			background: url("../css/images/icn_x_03.png") no-repeat right center;
		}
	}
	.orderby_asc{
		div{
			background: url("../css/images/icn_x_07.png") no-repeat right center;
		}
	}
	.orderby_desc{
		div{
			background: url("../css/images/icn_x_05.png") no-repeat right center;
		}
	}
}
/*
.td50{
	width:50px;
}
.td100{
	width:100px;
}
.td150{
	width:150px;
}
.td200{
	width:200px;

}
.td250{
	width:250px;
}
.td300{
	width:300px;
}
.td350{
	width:350px;
}

.td400{
	width:400px;
}*/
.td600{
	width:600px !important;
}
.btn-submit{
	color: #fff;
	background-color: @btn-primary-bg;
	border: none;
}
.btn-submit:hover,
.btn-submit:focus{
	color: #fff;
	background-color:@btn-primary-bg-hover;
}

.panel{
	margin: 0px 0;
}
.footer{
	text-align: center;
	font-size: 12px;
	color: #999;
	height: 50px;
	position: relative;
}
.ulsubmenu{
	list-style:none;
}
.navbar-submenu{
	ul{
			padding:0;
		}
	li{
		list-style: none;
		line-height: 35px;
		padding: 0;
		color: #333;
		a{
			color:#666;
			padding:0 10px;
			span{
			display: none !important;
			}
		}

	}
	li:hover{
		background: #eee;
	}
	li.active{
		overflow: hidden;

		a{
			color: @base-color;
			font-weight: bold;
		}
	}

.active .sub-sub-ul{
	display: block;
}
ul.sub-sub-ul{
	margin: 0;
/*	display: none; */
	background: #fff;
	li{
		background: none;
		border: 0 none;
		/*margin: 5px 0;*/
		line-height: 30px;
		padding-left: 20px;
		a{
			color:#666;
			font-size: 14px;
			font-weight: 100;
			display: block;
			overflow: hidden;
			white-space: nowrap;
			-o-text-overflow: ellipsis;
			text-overflow: ellipsis;
		}
		a:hover{
			text-decoration: none;
		}
	}
	li:hover{
		/*background: #eee;*/
		border-radius: 3px;
	}
	li.active{
		background: #fff;
		line-height: 30px;
		/*margin: 5px 0;*/
		border: none;
		a{
			font-weight: bold;
			color:#000;
			display: block;
		}
		a:hover{
			text-decoration: none;
		}
	}
}
}
.panel-heading {
	border:none !important;
	background: #eee !important;
	padding: 8px 15px;
	border-radius: 0;
	.open{
		float: left;
		background:@base-color;
		height: 30px;
		margin: -5px 10px 0 0;
		line-height: 100%;
		span{
			color: #fff;
			font-family: arial bold;
			font-size: 14px;
			text-align: center;
			display: inline-block;
		}
	}
}

.left-menu{
	padding: 0px;
	position: absolute;
	width: 200px;
	margin-top: 0px;
	z-index: 2;
	.fold{
		height: 30px;
		display: block;
		cursor: pointer;
		line-height: 30px;
		border-bottom: 1px solid #666;
		span{
			font-family: arial bold;
			font-size: 14px;
			text-align: center;
			display: inline-block;
			padding-left: 10px;
		}
	}
}
.left-menu *{
	padding:0;
	margin: 0;
	}
.left-menu .container{
	padding-right: 0;
}
.panel-plain{
	background: #FFF;
	border-radius: 0;
	border: none 0;
	margin-top: 0px;
}
.offset-right-panel{
	margin-left: 200px;
}
.navbar{
	margin: 0;
}
.panel {
	-webkit-box-shadow: none;
	box-shadow: none;
}
.table-hover > tbody:hover > tr > td, .table-hover > tbody:hover > tr > th {
	background-color: #fefbe9;
}
.bs-sidenav li a{
	/*padding: 0;*/
	font-size: 15px !important;
	text-align: left;
}
.bs-sidenav li a:hover{
	background:none;
}
.action-log,
.tr-trigger{
	display:inline-block;
	width:22px;
	height:22px;
	cursor:pointer;
	float:right;
	margin-left: 5px;	
	margin-left: 10px;
}
.action-log{
	background:url("../css/images/view.png") no-repeat center bottom;
}
.tr-trigger{
	float:right;
/*	background:url("../css/images/open.png") no-repeat center 6px; */
}
.tvs_5,
.tvs_7,
.tvs_9{
	background:url("../css/images/open.png") no-repeat center -16px;
}
.dashboard-wrapper{
	background: #e2e2e2;
	display: block;
	position: relative;
	width: 100%;
	.dashboard-left{
		margin-right: 10px;
		background: white;
		padding: 10px;
		overflow: hidden;
		width: 65%;
		display: block;
		position: relative;
		float: left;
		a{
			color:#333;
			.notice-count{
				font-size: 30px;
				color: @base-qianniu-font;
				font-family: "Arial bold";
			}
			.notice-description{
				font-size: 16px;
			}
		}
	}
	.dashboard-right{
		background: #eee;
		display: block;
		width: 33%;
		position: relative;
		float: right;
		right: 0;
		top: 0;
	}
}

.dashboard-content{
	width:100%;
	table{
		width:100%;
		th{
			height: 50px;
			background: #eee;
			padding:0 5px;
		}
		td{
			border-bottom: 1px solid #ddd;
			padding:10px 5px;
			line-height: 20px;
			span{
				color:@base-qianniu-font;
			}
		}
	}
}
.dashboard-notice{
	//.make-xs-column(8,5px);
	margin-bottom: 30px;
}
.member-body{
	.clearfix();
	.member-avatar{
		float:left;
		width:100px;
		height:100px;
		img{
			border:1px solid #eee;
			width: 90px;
			height: 90px;
		}
	}
	.member-detail{
		margin-left: 10px;
		a{
			margin: 0 5px 5px 0;
			display: inline-block;
			strong{
				margin-bottom: 5px;
			}
		}
	}
}

.dashboard-member{
	background: #fff;
	border: 1px solid #ddd;
	padding: 10px;
	.member-icons{
		list-style: none;
		padding:0;
		margin-top: 5px;
		.clearfix();
		li{
			float: left;
			
			a{
				display: block;
				text-align: center;
				width:24px;
				height:24px;
				color:#fff;
				margin-right: 5px;
				border-radius: 50%;
				background:#428bca;
			}
			.qn-icon-credit{
				background: #00a59c;
			}
			a:hover{
				text-decoration: none;
			}
		}
	}
}
.notice-table{
	width:100%;
	text-align: center;
	border-collapse:separate;
	td{
		border:1px solid #fff;
		a:hover{
		text-decoration: none;
		}
	}

	.notice-table-border-side{
		border-right-color: #eee;
		height: 100px;
	}
	.notice-table-border-start{
		td{
			border-bottom: 1px solid #eee;
		}
	}
	.notice-table-border-end{
		border-top-color: #eee;
	}
	.notice-table-border-side:hover,
	.notice-table-border-side-last:hover{
		border:1px solid @base-qianniu-font;
		background:#f6f6f6;
	}
}
.member-foot{
	.make-row(0);
	text-align: center;
	.member-foot-col{
		border-right: 1px solid #ddd;
	}
	.last-col{
		border-right: none;
	}
	a{
		color: #333;
		.strong{
			color: @base-qianniu-font;
			font-weight: bold;
		}
	}
	a:hover{
		text-decoration: none;
	}
}
.member-foot-col{
	.make-xs-column(4,5px);
}
.circle{
	border-radius: 50%;
}

.dashboard-wrapper{
    h1{
        font-size: 20px;
        border-bottom: 2px solid #ccc;
        span{
            border-bottom: 2px solid @base-color;
            padding: 0 5px;
            position: relative;
            top: -2px;
        }
    }
}

.col-bounty{
	color: @base-qianniu-font;
	font-size: 20px;
}
.btn-auth{
	background: @btn-auth-bg;
	border-radius: 20px;
	line-height: 20px;
	padding: 0 10px;

	font-size: 12px;
	color: #333;
}
.panel-nav-title{
	list-style: none;
	margin:0;
	padding: 0;
	.clearfix();
	li {
		padding: 5px;
		float:left;
	}
}
.info-wrapper{
	.make-row(0);
	.major-info{
		.make-xs-column(8,0);
	}
	.avatar-upload{
		/*border:1px solid #ccc;*/
		text-align: center;
		.make-xs-column(4,0);
		img{
			width:120px;
			height: 120px;
			border-radius: 50%;
			border: 1px solid #eee;
			display: block;
			margin:20px auto;
		}
		.btn-upload-avatar{
			.button-variant(@btn-danger-color; @btn-danger-bg; @btn-danger-border);
		}
	}
}
.addition-info{
	.make-xs-column(8,0);
}
.grid-view{
	border-bottom: 1px solid #ccc;
	margin-bottom: 10px;
	.taskboss-item{
		overflow: hidden;
		margin-bottom: 10px;
	}
	.item-header{
		float: left;
		img{
			width: 90px;
			height: 90px;
		}
	}
	.item-detail {
		text-align: left;
		padding: 0 0 0 5px;
		margin: 0;
		font-size: 12px;
		color: #666;
		float: left;
	}
}
.taskcompany-item{
	float: left;
	padding: 10px;
	margin-bottom: 10px;
	border: 1px solid #ddd;
	background: #fff;
}
.recommended-list{
	padding:10px;
}
.auth-fail{
	color:red;
	background: url("../css/images/f_icn_e.png") 0 center no-repeat;
	padding-left: 15px;
	padding-right: 30px;
}
.auth-success,
.hunterbounty .b{
	color:green;
	background: url("../css/images/f_icn_r.png") no-repeat 0 center;
	padding-left: 15px;
	padding-right: 30px;
	margin-left: 20px;
	font-size: 14px;
}
.hunterbounty,
.hunterintegration div{
	font-size: 20px;
}
.hunterintegration div a{
	font-size: 14px;
}

.hunterbounty .alipay{
	font-size: 14px;
}
.hunterbounty,
.hunterintegration{
	.n{
		color:@base-qianniu-font;
	}
}
.hunterbounty{
	p{
		font-size: 14px;
		line-height: 40px;
		color: #999;
	}
}
.table-responsive{
	overflow: auto;
}
ul.tags{
	list-style: none;
	padding: 0;
	margin: 5px 0 0 0;
	.clearfix();
	li{
		float: left;
		word-break: break-all;
		margin: 0 5px 5px 0;
		border: 1px solid #e4e4e4;
		padding: 2px 5px;
		color: #999;
	}
}
.info {
	height: 30px;
	line-height: 30px;
	font-size: 12px;
	color: #666;
	border-bottom: 1px dashed #ccc;
}
.name {
	padding-left: 20px;
	background: url("../images/icons/c_name.png") no-repeat left 0;
	font-weight: bold;
	color: #333;
	margin: 5px 0;
	a{
		color: #333;
	}
}
.btn-primary{
	color: #fff;
	background-color: @btn-primary-bg;
}
.btn-primary:hover{
	background-color: @btn-primary-bg-hover;
}
// .modal-dialog{
// 	.modal-body{
// 		input{
// 			width: 50%;
// 			height: 34px;
// 			padding: 6px 12px;
// 			font-size: 14px;
// 			line-height: 1.428571429;
// 			color: #555555;
// 			vertical-align: middle;
// 			background-color: #ffffff;
// 			background-image: none;
// 			border: 1px solid #cccccc;
// 			border-radius: 4px;
// 			-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
// 			box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
// 			-webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
// 			transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
// 		}
// 	}
// }
.modal-body{
	p{
		padding:10px 0 10px;
	}
}
.col-job-name{
	display: block;
	a{
		font-size: 16px;
		color:#333;
	}
}
.col-job-company{
	display: block;
	a{
		font-size: 14px;
		color:#999 !important;
	}
}
.status-list{
	li{

		list-style: none;
		line-height: 30px;
		border-bottom: 1px solid #ddd;
		padding: 0 10px;
	}
}
.detail-box{
	.status-progress-bar{
		.clearfix();
		padding:0;
		list-style: none;
		text-align: center;
		li{
			float:left;
			width:20%;
			background-color:#d7d7d7;
			
			&.pass{
				background-color:#33cc66;
				color:#fff;
			}
			&.current{
				background-color:#ff3300;
				color:#fff;
			}
		}
	}
}
.status-progress{
	line-height: 158px;
	width: 158px;
	height: 158px;
	margin-bottom: 20px;
	border-radius: 50%;
	font-size: 0;
	position: relative;
	display: inline-block;
	img{
		border-radius: 50%;
		width:120px;
		height: 120px;
	}
	a{
		display: block;
		font-size: 30px;
		position: absolute;
		padding: 0;
		line-height: 1;
		right: 0;
		bottom: 0;
		color: #999;
	}
}
.resume-percent-0{
	background: url("../images/icons/img0.png") no-repeat center 0;

}
.resume-percent-10{
	background: url("../images/icons/img1.png") no-repeat center 0;
}
.resume-percent-20{
	background: url("../images/icons/img2.png") no-repeat center 0;
}
.resume-percent-30{
	background: url("../images/icons/img3.png") no-repeat center 0;
}
.resume-percent-40{
	background: url("../images/icons/img4.png") no-repeat center 0;
}
.resume-percent-50{
	background: url("../images/icons/img5.png") no-repeat center 0;
}
.resume-percent-60{
	background: url("../images/icons/img6.png") no-repeat center 0;
}
.resume-percent-70{
	background: url("../images/icons/img7.png") no-repeat center 0;
}
.resume-percent-80{
	background: url("../images/icons/img8.png") no-repeat center 0;
}
.resume-percent-90{
	background: url("../images/icons/img9.png") no-repeat center 0;
}
.resume-percent-100{
	background: url("../images/icons/img10.png") no-repeat center 0;
}
.resume-container{
	padding-left:20px;
	.resume-status{
		padding: 10px;
		text-align: center;
	}
	.status-list{
		padding:0;
	}
	.title{
		width:50%;
		display: inline-block;
		text-align: left;
	}
	.status-unfinished,
	.status-finished{
		text-align: right;
		width:50%;
		display: inline-block;
		color: red;
	}
	.status-finished{
		color:green;
	}
}
.resume-form{
	padding: 10px 30px 10px 60px;
	float: left;
	h4{
		font-size: 20px;
		font-weight: bold;
		padding: 5px;
		color: #000;
		border-bottom: 2px solid #ccc;
		margin: 30px 0 20px;
		span{
			font-size: 16px;
			font-weight: normal;
			color: #999;
		}
	}
}
.btn-block{
	margin-top: 30px;
}
.form-group {
	a{
		//font-size: 14px !important;
	}
	li{
		min-width: 0 !important;
	}
}
.jcrop-holder{
	float: left;
}
.avatar-preview-ctn{
	float: left;
	margin-left: 10px;
}
.avatar-preview-bg{
	margin-bottom: 10px;
}
.control-label{
	padding-right: 10px;
}
ul.ns-selected-list{
	list-style: none;
	.ns-item-remove{
		cursor:pointer;
	}
}
legend{
	cursor:pointer;
	span{
		font-size: 14px;
		color: #666;
	}
}
.resume-form{
	fieldset,
	.section{
		margin-bottom: 20px;
	}
}
.text-danger {
	color: red;
	padding: 5px 0 20px;
}
.task_bonus_tips{
	line-height: 30px;
	padding: 0 5px;
	color: #999;
	float: left;
}
.text-danger:hover{
	color:red;
}
.section-edit{
	// p{
	// 	text-align: center;
	// 	margin-bottom: 30px;
	// 	list-style: 25px;
	// }
}
.btn-lg{
	font-size: 14px;
}
.resumepercent_green{
	background: #7bba00;
}
.resumepercent_red{
	background: #ff6666;
	overflow: initial !important;
}
.cover{
	img {
	    width: 180px;
	    height: 70px;
	}
}		
em{
	font-style: normal;
}
[data-key="default_resume"]{
	a{
		display: none;
	}
}
[data-key="default_resume"]:hover{
	a{
		display: block;
	}
}
.selectedtr{
    td{
        background-color: #EAF4FF;
    }
}
.form-control-static{
	word-break: break-all;
}
.form-control[readonly].hasDatepicker{
	cursor: default;
	background-color: inherit;
}
.modal-footer{
	padding-bottom: 30px;
}
button.btn-tag,
button.btn-tag:hover{
	color: blue;
}
.tab-panel{
    border-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.wysiwyg {overflow:scroll; max-height:300px}

.preview-wrap{
    position: relative;
}
.preview-wrap .preview-title{
    position: absolute;
    bottom: 0;
    margin:0;
    width: 100%;
    background-color: #000;
/*    background-color: rgba(0,0,0,0.8);*/
    opacity: 0.6;
    color: #fff;
}

.preview-wrap .preview-title-sub{
    width: 190px;
    top: 0;
    text-align: center;
    position: absolute;
    line-height: 50px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.preview-wrap .preview-action{
    display:none;
    position: absolute;
    list-style: none;
    top:0;
    height:100%;
    width: 100%;
    background-color: #000;
    opacity: 0.8;
    color: #fff;
}

.preview-wrap:hover .preview-action{
    display:block;
}

.page-square li > a{
        border-radius: 3px !important;
        margin: 0 3px;
        background: #eee;
        vertical-align: top;
        b.right_next{
		width: 0;
		height: 0;
		line-height: 0;
		font-size: 0;
		border-width: 6px;
		border-style: dashed dashed dashed solid;
		border-color: transparent transparent transparent #333;
		display: inline-block;
    }
    b.left_next{
    	width: 0;
		height: 0;
		line-height: 0;
		font-size: 0;
		border-width: 6px;
		border-style: dashed solid dashed dashed;
		border-color: transparent #333 transparent transparent;
		display: inline-block;
    }
}
.page-square li.active > a{
    background: @page-bg-active;
    color:#fff;
}
.add_word{
	background: url("../images/add_w.png") no-repeat 0 0;
	width:45px;
	height: 45px;
	display: block;
}
.add_img{
	background: url("../images/add_i.png") no-repeat 0 0;
	width:45px;
	height: 45px;
	display: block;
}
.jp_tip{
	width: 20px;
	display: inline-block;
}
.plus,
.positive{
	background: #7DB310;
	color: #fff;
	border-radius: 5px;
	display: inline-block;
	margin: 5px 5px 0 0;
	font-size: 16px;
	font-weight: bold;
	width: 20px;
	height: 23px;
	text-align: center;
	vertical-align: middle;
}
.positive{
	background: #B5B5B5;
}
.bootstrap-duallistbox-container{
	.box1,.box2{
		padding: 0 15px;
	}
}
.panel-body{
	padding: 15px 30px;
}

.resid-text{
    overflow:hidden; 
    text-overflow:ellipsis;
    white-space: nowrap;
    width:200px;
}

.navbar{
    min-height: 42px;
}
.navbar div.header-logo{
    float: left;
    height: 42px;
}

.navbar div.header-secondary{
    float: right;
    margin:10px;
}
.navbar div.header-secondary a{
    color:white;
}
.navbar div.header-secondary a{
    color:white;
}
.navbar div.header-secondary .dropdown-menu li a{
    color:#205081;
}
span.licon-menu_orgtreeview {
	padding-left:10px;
}