<?php
//$form = $this->form;
//$form->setAttribute('action', $this->url(
//    'demo/form',
//    array(
//        'action' => 'edit',
//        'id'     => $this->id,
//    )
//));
//$form->prepare();
//
//echo $this->form()->openTag($form);
//echo $this->formHidden($form->get('id'));
//echo $this->formRow($form->get('title'));
//echo $this->formRow($form->get('artist'));
//echo $this->formSubmit($form->get('submit'));
//echo $this->form()->closeTag();
?>
<div class="panel panel-default">
    <div class="panel-heading">初始url</div>
    <div class="panel-body">
	<?php
		var_dump($this->basePath());
		var_dump($this->baseurl);
	?>
	</div>
</div>

<!-- 新增职位 -->
<div class="panel panel-default">
    <div class="panel-heading">新增职位</div>
    <div class="panel-body">
        <form class="form-horizontal">
            <fieldset>
                <legend>公司信息(<span class="text-danger">*</span>必填)</legend>
                <div class="form-group">
                    <label for="" class="col-sm-2 control-label">所属公司</label>
                    <div class="col-sm-3">
                        <select class="form-control">
                            <option value="">请选择</option>
                            <option value="shanghai">上海</option>
                            <option value="beijing">北京</option>
                        </select>
                    </div>
                    <div class="col-sm-3">
                        <select class="form-control" disabled>
                            <option value="">请选择</option>
                            <option value="shanghai">上海</option>
                            <option value="beijing">北京</option>
                        </select>
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <legend>职位信息(<span class="text-danger">*</span>必填)</legend>
                <div class="form-group">
                    <label for="" class="col-sm-2 control-label"><span class="text-danger">*</span>职位名称</label>
                    <div class="col-sm-6">
                        <select class="form-control">
                            <option value="manager">经理</option>
                            <option value="director">总监</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="col-sm-2 control-label"><span class="text-danger">*</span>职位类别</label>
                    <div class="col-sm-6">
                        <select class="form-control">
                            <option value="">请选择</option>
                            <option value="销售">销售</option>
                            <option value="媒介">媒介</option>
                            <option value="策划">策划</option>
                            <option value="创意">创意</option>
                            <option value="客服">客服</option>
                            <option value="技术">技术</option>
                            <option value="运营">运营</option>
                            <option value="市场">市场</option>
                            <option value="其他">其他</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="col-sm-2 control-label">工作地点</label>
                    <div class="col-sm-6">
                        <input type="text" name="" id="" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="col-sm-2 control-label">薪资待遇</label>
                    <div class="col-sm-6">
                        <div class="input-group">
                            <span class="input-group-addon">$</span>
                            <input type="number" class="form-control">
                            <span class="input-group-addon">元</span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="col-sm-2 control-label">悬赏金额</label>
                    <div class="col-sm-6">
                        <input type="text" name="" id="" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="col-sm-2 control-label">招聘人数</label>
                    <div class="col-sm-6">
                        <input type="number" class="form-control" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="col-sm-2 control-label">职位描述</label>
                    <div class="col-sm-6">
                        <textarea class="form-control" palaceholder="重要的信息放在前面，尽量给出福利待遇，准确描述职位相关信息">
                        </textarea>
                    </div>
                </div>
            </fieldset>
        </form>
        <div class="container text-center">
            <button type="button" class="btn btn-default">取消</button>
            <button type="button" class="btn btn-default">提交</button>
        </div>
    </div>
</div>


<!-- 新增资讯 -->
<?php echo $this->ycheukfHeadlink()->prependStylesheet( '/css/app.css')?>
<?php echo $this->ycheukfHeadscript()->prependFile( 'https://apps.bdimg.com/libs/holder/2.3.1/holder.min.js') ?>
<?php echo $this->ycheukfHeadscript()->prependFile( '/js/bootstrap-wysiwyg/bootstrap-wysiwyg.js') ?>
<?php echo $this->ycheukfHeadscript()->prependFile( '/js/module/information.js') ?>
<div class="panel panel-default">
    <div class="panel-heading">新增资讯</div>
    <div class="panel-body">
        <form class="form-horizontal">

            <div class="form-group">
                <label for="" class="col-sm-2 control-label">资讯类别</label>
                <div class="col-sm-6">
                    <select class="form-control">
                        <option value="名人招聘">名人招聘</option>
                        <option value="名企招聘">名企招聘</option>
                        <option value="号外">号外</option>
                        <option value="活动">活动</option>
                        <option value="文库">文库</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label for="" class="col-sm-2 control-label">资讯行业</label>
                <div class="col-sm-6">
                    <select class="form-control">
                        <option selected="" value="移动互联网">移动互联网</option>
                        <option value="电商">电商</option>
                        <option value="搜索">搜索</option>
                        <option value="游戏">游戏</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="" class="col-sm-2 control-label"><span class="text-danger">*</span>职位类别</label>
                <div class="col-sm-6">
                    <select class="form-control">
                        <option value="">请选择</option>
                        <option value="销售">销售</option>
                        <option value="媒介">媒介</option>
                        <option value="策划">策划</option>
                        <option value="创意">创意</option>
                        <option value="客服">客服</option>
                        <option value="技术">技术</option>
                        <option value="运营">运营</option>
                        <option value="市场">市场</option>
                        <option value="其他">其他</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="" class="col-sm-2 control-label">内容形式</label>
                <div class="col-sm-10">

                    <ul class="nav nav-tabs" id="">
                        <li class="active"><a href="#plaintext" data-toggle="tab">纯文字</a></li>
                        <li><a href="#single" data-toggle="tab">单图文</a></li>
                        <li><a href="#multiple" data-toggle="tab">多图文</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="plaintext">

                            <div class="panel panel-default tab-panel">
                                <div class="panel-body">
                                    <div class="btn-toolbar" data-role="editor-toolbar" data-target="#editor">
      <div class="btn-group">
        <a class="btn dropdown-toggle" data-toggle="dropdown" title="Font"><i class="icon-font"></i><b class="caret"></b></a>
          <ul class="dropdown-menu">
          </ul>
        </div>
      <div class="btn-group">
        <a class="btn dropdown-toggle" data-toggle="dropdown" title="Font Size"><i class="icon-text-height"></i>&nbsp;<b class="caret"></b></a>
          <ul class="dropdown-menu">
          <li><a data-edit="fontSize 5"><font size="5">Huge</font></a></li>
          <li><a data-edit="fontSize 3"><font size="3">Normal</font></a></li>
          <li><a data-edit="fontSize 1"><font size="1">Small</font></a></li>
          </ul>
      </div>

      <div class="btn-group">
          <a class="btn dropdown-toggle" data-toggle="dropdown" title="Hyperlink"><i class="icon-link"></i></a>
            <div class="dropdown-menu input-append">
                <input class="span2" placeholder="URL" type="text" data-edit="createLink"/>
                <button class="btn" type="button">Add</button>
        </div>
        <a class="btn" data-edit="unlink" title="Remove Hyperlink"><i class="icon-cut"></i></a>

      </div>

      <div class="btn-group">
        <a class="btn" title="Insert picture (or just drag & drop)" id="pictureBtn"><i class="icon-picture"></i></a>
        <input type="file" data-role="magic-overlay" data-target="#pictureBtn" data-edit="insertImage" />
      </div>
      <div class="btn-group">
        <a class="btn" data-edit="undo" title="Undo (Ctrl/Cmd+Z)"><i class="icon-undo"></i></a>
        <a class="btn" data-edit="redo" title="Redo (Ctrl/Cmd+Y)"><i class="icon-repeat"></i></a>
      </div>
    </div>

                                    <div id="editor" class="" contenteditable></div>
                                </div>

                            </div>
                        </div>
                        <div class="tab-pane" id="single">
                            <div class="panel panel-default tab-panel">
                                <div class="panel-body">
                                    <div class="col-sm-3">
                                        <div class="panel panel-default">

                                            <div class="panel-body">
                                                <div class="thumbnail">
                                                    <img class="cover-default" data-src="holder.js/100%x180/thumbnail/text:封面图片/">
                                                    <!-- <p style="line-height:160px;text-align:center;">封面</p> -->
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-9">
                                        <div class="form-group">
                                            <label for="title">标题</label>
                                            <input id="title" type="text" class="form-control">
                                        </div>
                                        <div class="form-group">
                                            <label for="author">作者(可选)</label>
                                            <input id="author" type="text" class="form-control">
                                        </div>
                                        <div class="form-group">
                                            <label for="summary">摘要(可选)</label>
                                            <input id="summary" type="text" class="form-control">
                                        </div>
                                        <div class="form-group">
                                            <label for="cover">封面</label>
                                            <input id="cover" type="file" class="form-control">
                                        </div>
                                        <div class="form-group">
                                            <label for="cover">内容</label>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="multiple">
                            <div class="panel panel-default tab-panel ">
                                <div class="panel-body">
                                    <div class="col-sm-3">
                                        <div class="panel panel-default">

                                            <div class="panel-body">
                                                <div class="thumbnail">
                                                    <img class="cover-default" data-src="holder.js/100%x180/thumbnail/text:封面图片/">
                                                    <!-- <p style="line-height:160px;text-align:center;">封面</p> -->
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-9">
                                        <div class="form-group">
                                            <label for="title">标题</label>
                                            <input id="title" type="text" class="form-control">
                                        </div>
                                        <div class="form-group">
                                            <label for="author">作者(可选)</label>
                                            <input id="author" type="text" class="form-control">
                                        </div>
                                        <div class="form-group">
                                            <label for="summary">摘要(可选)</label>
                                            <input id="summary" type="text" class="form-control">
                                        </div>
                                        <div class="form-group">
                                            <label for="cover">封面</label>
                                            <input id="cover" type="file" class="form-control">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">上传</div>
    <div class="panel-body">

		<form id="upload" method="post" action="<?php echo $this->url('images/resumepic')?>" enctype="multipart/form-data">
			<div id="drop">
				Drop Here
				<a>Browse</a>
				<input type="file" name="uploadfile" multiple />
			</div>
			<input type="submit">
		</form>
	</div>
</div>
