<?php
$form = $this->form;
$form->setAttribute('action', $this->url(
   'demo/fulltextsearch',
   array(
       'action' => 'fulltextsearch',
   )
));
$form->setAttribute('target','_blank');
$form->setAttribute('method','GET');
$form->prepare();

echo $this->form()->openTag($form);
?>
<input type="text" name="fullKeyword" id="fullKeyword" value="<?php echo $this->fullKeyword?>">
<input type="submit" value="搜索" name="">
<?php
echo $this->form()->closeTag();
?>
<ul>
<?php
if (!empty($this->datas)){
    foreach ($this->datas as $key => $data){?>
<li><h3><?php echo $data['title'];?></h3>
    <p><?php echo $data['content'];?></p>
</li>
<?php }}?>
</ul>
<script>
$(document).ready(function() {
$('form').off('submit');
})
</script>