
<div class="jumbotron">
    <h1><?php echo sprintf($this->translate('欢迎使用 l_appframeworker 框架'), '<span class="zf-green">', '</span>') ?></h1>
    <p><?php echo sprintf($this->translate('您正在访问 DEMO moudle, 下面是一些demo链接')) ?></p>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><?php echo $this->translate('菜单') ?></h3>
            </div>
            <div class="panel-body">
<?php
//echo(($this->Navigation('MenuUserAdmin')->menu()));
//$oMenu = $this->navigation('navigation')->menu();
//$oContainer = $this->navigation('MenuUserAdmin')->getContainer();
//foreach ($oContainer as $k => $page){
//    exit;
//var_dump($page->get('permission'));
//}
?>
            </div>
        </div>
    </div>
</div>

<div class="row">

    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><?php echo $this->translate('登陆') ?></h3>
            </div>
            <div class="panel-body">
                <p>
                    <a href="<?php echo $this->url('zfcuser/login')?>" target="_blank">LOGIN   admin/admin1234</a>
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><?php echo $this->translate('YCFDEBUG, 检测变量') ?></h3>
            </div>
            <div class="panel-body">
                <p>
                    <a href="<?php echo $this->url('debug')?>" target="_blank">ycfdebug </a>
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><?php echo $this->translate('DEMODEBUG, 测试用') ?></h3>
            </div>
            <div class="panel-body">
                <p>
                    <a href="<?php echo $this->url('demo/default', array('controller'=>'index', 'action'=>'debug'));?>" target="_blank">DEMODEBUG </a>
                </p>
            </div>
        </div>
    </div>

</div>

<div class="row">

    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><?php echo $this->translate('todo list') ?></h3>
            </div>
            <div class="panel-body">
                <p>
                    <ol>
                        <li>缓存支持文件模式
                        <li>[ok]创建新module的脚本
                        <li>[ok]整合docker
                        <li>[ok]report plugin
                        <li>restful api的权限管理
                        <li>简化配置项
                        <li>一键部署脚本
                        <li>AdminContentController.php 496 这里需要一个验证机制, 验证允许的字段
                        <li>[待定]admincontent的资源角色管理
                        <li>[待定]开源的app服务端快速开发框架
                    </ol>
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><?php echo $this->translate('部署注意事项') ?></h3>
            </div>
            <div class="panel-body">
                <p>
                    <ol>
                            <li>参照 /README.md
                    </ol>
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><?php echo $this->translate('加载不同module的demo') ?></h3>
            </div>
            <div class="panel-body">
                <p>
                     <ol>
                        <li>首先加载 /bin/script/apiclientdemo/index.php
                        <li>依次加载 config/application.config.php中对应的 module/[MODULE]//bin/apiclientdemo/index.php
                     </ol>
                </p>
            </div>
        </div>
    </div>

</div>
<div class="row">

    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><?php echo $this->translate('事件列表') ?></h3>
            </div>
            <div class="panel-body">
                <p>
                     <ol>
                        <li>lf_user_afterauthenticate, 用户账号密码验证后触发
                        <li>lf_record_insert, 记录被新增
                        <li>lf_record_update, 记录被修改
                        <li>lf_record_delete, 记录被删除
                     </ol>
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><?php echo $this->translate('加载不同module的migration') ?></h3>
            </div>
            <div class="panel-body">
                <p>
                     <ol>
                        <li>首先加载 /migrations 迁移
                        <li>依次加载 config/application.config.php中对应的 module/[MODULE]/migrations
                     </ol>
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><?php echo $this->translate('adminconroller增加 presave, aftersave事件') ?></h3>
            </div>
            <div class="panel-body">
                <p>
                     <ol>
                        <li>参考 demo/indexcontroller 的 _triggerevent 方法
                     </ol>
                </p>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><?php echo $this->translate('不同角色登陆后的route') ?></h3>
            </div>
            <div class="panel-body">
                <p>
                     <ol>
                        <li>调整config中的 dashboardroute_role2action 配置
                     </ol>
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><?php echo $this->translate('自定义的service') ?></h3>
            </div>
            <div class="panel-body">
                <p>
                     <ol>
                     </ol>
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><?php echo $this->translate('多module的navigation') ?></h3>
            </div>
            <div class="panel-body">
                <p>
                     <ol>
                        <li>配置admin的menu. 通过调整[:module] config里的 [navigation][user-admin]
                     </ol>
                </p>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><?php echo $this->translate('module 下的 public 资源') ?></h3>
            </div>
            <div class="panel-body">
                <p>
                     <ol>
                        <li>module 下的 public 目录用软连接连到 public/module 下
                        <li>同事api文档也被整合了. api文档在 /module/[:module]/public/docs/apidocs 下, 会被link到 /public/module/[:module]/docs/apidocs
                     </ol>
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><?php echo $this->translate('restful apidocs') ?></h3>
            </div>
            <div class="panel-body">
                <p>
                    <a href="<?php echo $this->url('apidocs')?>" target="_blank"> restful apidocs</a>
                </p>
            </div>
        </div>
    </div>
</div>