<?php echo $this->headLink()->prependStylesheet($this->basePath() . '/components/font-awesome/css/font-awesome.min.css')?>
<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">
        职位管理
    </div>
    
    
    <div class="form-inline">
        <button type="button" class="btn btn-default">新增</button>
        <button type="button" class="btn btn-default">状态</button>
        <button type="button" class="btn btn-default">批量导入</button>
        <div class="form-group">
            <div class="input-group" style="width: 220px;">
                <input type="text" class="form-control" placeholder="not with input-groups" />
                <span class="input-group-btn">
                <button class="btn btn-default" type="button">
                <span class="glyphicon glyphicon-search"></span>
                </button>
                </span>
            </div>
        </div>
    </div>
    
    <div class="table-responsive">
        <table class="table table-hover ">
            <thead>
                <tr>
                    <th>ID <i class="icon-sort"></i></th>
                    <th>职位 <i class="icon-sort-up"></i></th>
                    <th>所属公司 <i class="icon-sort-down"></i></th>
                    <th>所属账户</th>
                    <th>简历数</th>
                    <th>认证标识</th>
                    <th>发布时间</th>
                    <th>自荐状态</th>
                    <th>推荐状态</th>
                    <th>消息状态</th>
                    <th>职位状态</th>
                    <th>操作状态</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>test</td>
                    <td>test</td>
                    <td>内容很多很多很多很多很多很多很多很多很多很多很多很多很多很多很多很多很多很多很多很多</td>
                    <td>test</td>
                    <td>test</td>
                    <td>test</td>
                    <td>test</td>
                    <td>test</td>
                    <td>test</td>
                    <td>test</td>
                    <td>test</td>
                    <td>test</td>
                </tr>
                <tr>
                    <td>test2</td>
                    <td>test2</td>
                    <td>内容很多很多很多很多很多很多很多很多很多很多很多很多很多很多很多很多很多很多很多很多</td>
                    <td>test2</td>
                    <td>test2</td>
                    <td>test2</td>
                    <td>test2</td>
                    <td>test2</td>
                    <td>test2</td>
                    <td>test2</td>
                    <td>test2</td>
                    <td>test2</td>
                </tr>
            </tbody>
        </table>
    </div>
    <ul class="pagination pull-right">
        <li><a href="#">&laquo;</a></li>
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li><a href="#">&raquo;</a></li>
    </ul>
</div>