<div class="panel panel-default">
                    <!-- Default panel contents -->
                    <div class="panel-heading">
                        职位管理
                    </div>
                    
                    
                    <div class="form-inline" style="margin:20px;">
                        <button type="button" class="btn btn-default">新增</button>
                        <button type="button" class="btn btn-default">状态</button>
                        <button type="button" class="btn btn-default">批量导入</button>

                        <div class="form-group">
                            <div class="input-group" style="width: 220px;">
                                <input type="text" class="form-control" placeholder="not with input-groups" />
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button">
                                        <span class="glyphicon glyphicon-search"></span>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                    

                    <div class="table-responsive">
    						<?php 
    							//表格数据
								if(isset($oYcfReport['flash.output']))
									echo $oYcfReport['flash.output'];
//    							echo $oYcfReport['detail.output'];
    						?>
                    </div>

					<?php
					//分页条数据
					//var_dump($aYcfReportPage);
					?>
</div>
<script>
var url = "ajaxlist";
//$('.table-responsive').dataTable({
//    source: url
//})
</script>