<?php
$this->layout('layout/blank');
$aConfig = $this->getHelperPluginManager()->getServiceLocator()->get('config');
?>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
 <head>
  <title> API docs </title>
	<meta charset="utf-8">
<style>
th,h4{background-color:#ffff99}
</style>
<link href="https://libs.baidu.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" media="screen">
<style type="text/css">body{margin: 20px;}</style>
<script type="text/javascript">
<!--
	var _apitesthost = 'https://192.168.1.41/token.php?api=';
//-->
</script>
 </head>

 <body>
<h1>api 接口文档</h1>
<hr>
<h3>API使用规范, 参考</h3> <a href="https://developer.github.com/v3/#current-version">https://developer.github.com/v3/#current-version</a>

<h3>请求方式[GET,POST,DELETE]</h3>
<pre>
http://127.0.0.1:8001/restapi.php/:resource[/:id]
</pre>

<h3>例子</h3>
<pre>
[GET,list] http://127.0.0.1:8001/restapi.php/metadata
[GET, entity] http://127.0.0.1:8001/restapi.php/metadata/2
[POST, create] http://127.0.0.1:8001/restapi.php/metadata
[POST/PUT, update] http://127.0.0.1:8001/restapi.php/metadata/2
[DELETE, delete] http://127.0.0.1:8001/restapi.php/metadata/2
</pre>

<h3>POST的表单</h3>
<pre>
data={"name":"demo-name", "age":18}
</pre>

<h3>认证</h3>
<pre>
request header中加入 Authorization:token xxxxxxxx
xxxxxxxx 即用户token
</pre>

<h3>key memo</h3> 
<pre>
<table border=1>
<tr>
    <th>key name</th>
    <th>demo</th>
</tr>
<tr>
    <td>d:type</td>
    <td>数值类型</td>
</tr>
<tr>
    <td>d:memo</td>
    <td>memo</td>
</tr>
<tr>
    <td>d:default</td>
    <td>default value</td>
</tr>
<tr>
    <td>d:post-required</td>
    <td>required when post</td>
</tr>
<tr>
    <td>d:entity</td>
    <td>child entity</td>
</tr>
<tr>
    <td>d:image</td>
    <td>is a image</td>
</tr>
<tr>
    <td>d:urlflag</td>
    <td>is a url</td>
</tr>
<tr>
    <td>d:alias</td>
    <td>field alias</td>
</tr>
<tr>
    <td>d:resource</td>
    <td>resource</td>
</tr>
</table>
</pre>

<h3>entity type</h3> 
<pre>
<table border=1>
<tr>
    <th>type</th>
    <th>demo</th>
</tr>
<tr>
    <td>int</td>
    <td>123</td>
</tr>
<tr>
    <td>bool</td>
    <td>true</td>
</tr>
<tr>
    <td>string</td>
    <td>abc</td>
</tr>
<tr>
    <td>json_string</td>
    <td>[1, 2]</td>
</tr>
<tr>
    <td>float</td>
    <td>1.2</td>
</tr>
<tr>
    <td>list-entity</td>
    <td>[{id:1, label:"abc"}, {id:2, label:"bbb"}]</td>
</tr>
</table>
</pre>

<div id="content">
<?php
function fmtArray($s){
    $sTmp = print_r($s, true);
    $sTmp = str_replace("Array", "", $sTmp);
//    $sTmp = str_replace("Array", "", $sTmp);
    $sTmp = preg_replace("/\s+\(/i", "", $sTmp);
    $sTmp = preg_replace("/\)/i", "", $sTmp);
    $sTmp = preg_replace("/\t/i", "", $sTmp);
    $sTmp = preg_replace("/\n\s+\n/i", "\n", $sTmp);
    $aTmpDkey = array("d:type", "d:memo", "d:default", "d:post-required", "d:entity", "d:values", "d:image","d:urlflag", "d:alias", "d:resource");
    foreach($aTmpDkey as $vTmp){
        $sTmp = str_replace("[".$vTmp."]", "<font color=blue>".$vTmp."</font>", $sTmp);
    }
    return $sTmp;
}


    $sHTML = "<h3>自定义 api</h3>
    <div class='table-responstive'>
        <table  class=\"table table-bordered\"  style=\"white-space:nowrap;\">
          <tbody>
            <tr>
            <th class='col-sm-2'>api</th><th class='col-sm-1'>status</th><th class='col-sm-3'>query</th><th  class='col-sm-2'>memo</th><th >entity</th></tr>
            ";
    foreach($aConfig['apiservice']['customer'] as $sResource=>$aTmp){
        $bTipsFlag = isset($aTmp['restfulflag']) ? $aTmp['restfulflag'] : false;
        if(!$bTipsFlag)continue;
        $sTmp = "";
        if(isset($aTmp['d:entity'])){
            $sTmp = fmtArray($aTmp['d:entity']);
        }
        $sFinished = isset($aTmp['finished'])&&$aTmp['finished']==1 ? "finished" : "";
        $sQuery = (isset($aTmp['query'])&&!empty($aTmp['query'])) ? "<pre style=\"white-space:pre;\">".fmtArray($aTmp['query'])."</pre>" : "";
        $sMemo = isset($aTmp['memo']) ? $aTmp['memo'] : "";
            $sHTML .= "<tr>
                <td >{$sResource}</td><td >{$sFinished}</td><td >{$sQuery}</td><td >{$sMemo}</td><td ><pre style=\"white-space:pre;\">{$sTmp}</pre></td></tr>
        ";
    }
    $sHTML .= "</table></div>";
    echo $sHTML;

    $sHTML = "<h3>资源表 api</h3>    <div class='table-responstive'>
<table  class=\"table table-bordered\" style=\"white-space:nowrap;\">
          <tbody>
            <tr>
            <th class='col-sm-2'>resource key</th><th class='col-sm-1'>status</th><th  class='col-sm-2'>memo</th><th >table name</th></tr>
            ";
    foreach($aConfig['apiservice']['resources'] as $sResource=>$aTmp){
        $bTipsFlag = isset($aTmp['restfulflag']) ? $aTmp['restfulflag'] : false;
        $sFinished = isset($aTmp['finished'])&&$aTmp['finished']==1 ? "finished" : "";
        if(!$bTipsFlag)continue;
        $sMemo = isset($aTmp['memo']) ? $aTmp['memo'] : "";
            $sHTML .= "<tr>
                <td >{$sResource}</td><td >{$sFinished}</td><td >{$sMemo}</td><td >{$aTmp['table']}</td></tr>
        ";
    }
    $sHTML .= "</table></div>";
    echo $sHTML;

?>
</div>

 </body>
</html>