<?php
$this->layout('admin/airui/login');
?>
<div class="forgetpwd-form">
    <form action="<?php echo $this->url('forgetpwd')?>" method="post" class="form-horizontal">
        <div class="form-group">
            <label for="" class="control-label col-sm-2">手机/邮箱&nbsp;</label>
            <div class="col-sm-3">
                <input type="text" id="user_name"  name="user_name" class="form-control" holdplace="手机/邮箱">
                <span class="errormsg"><?php echo $this->translate($this->message);?></span>
            </div>
        </div>
        <div class="form-group ">
            <div class="col-sm-offset-2">
                <button type="submit" class=" btn  btn-primary">找回密码</button>
            </div>
        </div>
    </form>
</div>