<?php 
$this->layout('layout/blank');

echo $this->doctype();
$aConfig = $this->getHelperPluginManager()->getServiceLocator()->get('config');
?>
<html>
    <head>
        <meta charset="utf-8">
        <?php echo $this->headTitle("切换MODULE CONFIG"); ?>

        <?php echo $this->headMeta()->appendName('viewport', 'width=device-width, initial-scale=1.0') ?>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
<?php

            
        echo $this->ycheukfHeadlink(array('rel' => 'shortcut icon', 'type' => 'image/vnd.microsoft.icon', 'href' =>  '/module/'.strtolower(LAF_NAMESPACE).'/images/favicon.admin.ico'))
            ->headLink(array('rel' => 'stylesheet/less', 'href' =>  '/less/bootstrap.less'));
        echo $this->ycheukfHeadscript()
                    ->appendFile( '/components/jquery/jquery.min.js');
?>

    </head>
    <body >

<h5>切换需要使用的配置文件. <a href="<?php echo $this->url("home");?>">回到首页</a>
                <ul class="list-group">
                   
              <?php 


              if (is_array($aResouceList) && count($aResouceList)) {
                  foreach ($aResouceList['system_moduleconfig'] as $sKtmp1 => $aRowTmp1) {
                    echo ' <li class="list-group-item"> <div class="radio">
                        <label>
                            <input type="radio" name="configname" id="input" value="'.$aRowTmp1['id'].'" '.($aRowTmp1['selected']==1?'checked="checked"':'').'>
                            <a href="'.$this->url("moduleconfig").'?action=u&id='.$aRowTmp1['id'].'">'.$aRowTmp1['name'].'</a>
                        </label>
                    </div></li>';
                  }
              }
               ?>
                </ul>
    </body>
</html>
