<?php
$this->layout('layout/blank');
$aConfig = $this->getHelperPluginManager()->getServiceLocator()->get('config');
?>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
 <head>
  <title> API docs </title>
	<meta charset="utf-8">
<style>
th,h4{background-color:#ffff99}
</style>
<link href="https://libs.baidu.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" media="screen">
<style type="text/css">body{margin: 20px;}</style>
<script type="text/javascript">
<!--
	var _apitesthost = 'https://192.168.1.41/token.php?api=';
//-->
</script>
 </head>

 <body>
<h1>stroage文档</h1>
<?php
echo $aConfig['apiservice']['metadata-usage']['memo'];
?>

<div id="content">
<?php

    $sHTML = "<table  class=\"table table-bordered\">
          <tbody>
            <tr>
            <th class='col-sm-2'>type</th><th  class='col-sm-2'>memo</th><th >resid</th><th >p_type</th><th >p_resid</th></tr>
            ";
    foreach($aConfig['apiservice']['metadata-usage']['dictionary'] as $nType=>$aTmp){
        $sPtype = isset($aTmp['p_type']) ? $aTmp['p_type'] : "";
        $sPresid = isset($aTmp['p_resid']) ? $aTmp['p_resid'] : "";
        $sHTML .= "<tr>
                <td >{$nType}</td><td >{$aTmp['memo']}</td><td >{$aTmp['resid']}</td><td >{$sPtype}</td><td >{$sPresid}</td></tr>
        ";
    }
    $sHTML .= "</table>";
    echo $sHTML;

?>
</div>

 </body>
</html>