.search-bar{
    display: block;
    float: initial;
    margin-left: 15px;
    margin-top: 20px;
}
.col-xs-2 {
     width: auto;
}
.search-content .main > .location {
    margin-top: 20px;
    border-top: 2px solid #eee;
    padding-bottom: 5px;
}