.company-content{
	.location,.filter{
		overflow: hidden;
		background: #fff;
		padding: 15px 10px 0 0;	
		>.label{
			padding: 3px 10px;
			float: left;
			cursor: pointer;
		}
		>ul{
			list-style: none;
			margin: 0;
			>li{
				cursor: pointer;
				text-decoration: none;
				display: inline-block;
				overflow: hidden;
				padding: 2px 5px;
				margin-bottom: 5px;
				>a{
					color: #333;
				}
			}
			>li:hover{
				>a{
					color:@base-color;
					text-decoration: none;
				}

			}
			>li.active{
				background-color: @base-color;
				a{
				color: #fff;
				}
			} 
		}
	}
	.location{border-bottom: 2px solid #eee;}
	.dataview-toolbar{
		border-bottom: 1px solid #ddd;
		margin-bottom: 15px;
		height: 35px;
		background-image: url('../images/v3/bg_img.png');
		>li{
			>a{
				padding: 0 30px;
				color: #333;
				padding-top: 6px;
				font-size: 16px;
				height: 35px;
			}
			>a:hover{
				padding: 0 30px;
				color: @base-color;
				text-decoration: none;
				height: 35px;
				padding-top: 6px;
				font-size: 16px;
			}
		}
		>li.active{
			>a,
			>a:hover{
				height: 35px;
				color: @base-color;				
				text-decoration: none;
				border-top: 2px solid @base-color;
			}

		}
	}
}
.company-list{
	margin-top:10px;
	.item-company{
		padding-bottom: 10px;
		border: 1px solid #ddd;
		.wrap{
			.count{
				color: @base-qianniu-font;
				padding: 0 3px;
			}
			.row{
				padding-top: 5px;
			}
		}
		h1 {
			margin: 0;
			font-size: 15px;
			font-weight: bold;
			width: 110px;
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
			a{
				color: #333;
			}
		}
		.tags{
			margin-top: 10px;
			height: 60px;
			overflow: hidden;
			>li{
				margin-bottom: 5px;
			}
		}
	}
} 
.company-content{
	margin-top: 15px;
    .sticky-task{
        background-color: #c4c4c4;
        padding:10px 7px;

    }
    .sticky-task,
    .task-wrap{
        margin-bottom: 20px;
        .clearfix();
    }
}


.company-list{
	&.sticky-task{
	    padding-left:0;
	    padding-right:0;
	}
	.item{
	    height: 230px;
	    margin: 5px 8.25px;	    
	}
}
.suggestion-item {
	> div {
		width: 75px;
		line-height: 20px;
		font-size: 14px;
	}
}
.quote-marker-1{
    background-image: url('../images/v3/quote_l.png');
    display:inline-block;
    width:17px;
    height:15px;
    margin-right: 10px;
}
.quote-marker-2{
    background-image: url('../images/v3/quote_r.png');
    display:inline-block;
    width:17px;
    height:15px;
    margin-left: 10px;
}
.company-content{
    .overview{
        min-height: 150px;
        padding-right: 50px;
        position: relative;
        padding: 10px 10px 10px 235px;
        border-bottom: 2px solid @base-color;
        background: #fff;
        .avatar,.logo{
        	width: 209px;
            height: 93px;
        	position: absolute;
        	left:10px;
        	top:10px;
        }
        .col-xs-6{
        	padding-bottom: 5px;
            vertical-align: top;
            font-size: 16px;
            .name{
                font-size: 18px;
            }
    	    .ent-title{
    	    	font-size: 18px;
        	}
    	}
        .ent-description{
        	font-size: 14px;
        	color: #999;
        	line-height: 20px;
        	padding-bottom: 10px;
        }
        .tags{
        	padding:0;
        	margin:0;
        	.clearfix();
    		list-style:none;
        	>li{
        		float: left;
    			margin-right: 10px;
    			margin-bottom: 5px;
    			border: 1px solid #e5e5e5;
    			font-size: 12px;
    			color: #adadad;
    			padding: 3px 5px;
        	}
        }
    }
}