.coterie-list{
    padding:9/2px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: auto;
    .item{
        width:290px;
        margin: 9/2px;
        padding:10px 10px 10px 110px;
        >p{
            padding:0;
            margin-bottom:5px;
        }
        .avatar-wrap{
            width:90px;
            height:90px;
            display: block;
            position: absolute;
            left:10px;
            top:10px;
            >img{
                width:90px;
                height:90px;
            }
            >.symbol-niu{
                position: absolute;
                right:0;
                bottom:0;
                width:35px;
                height:35px;
                background-image: url('../images/v3/icons.png');
                background-repeat: no-repeat;
            }
        }
    }
}
.item-coterie{
    border:1px solid #ddd;
    .name{
        margin: 0;
        font-size: 16px;
        font-weight: bold;
        width: 130px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        a{
            color: #333;
            font-size: 14px;
        }
    }
}
.coterie-content{
    margin-top: 15px;
    .location,.filter{
        overflow: hidden;
        background: #fff;
        padding: 15px 10px 0 0;  
        >.label{
            padding: 3px 10px;
            float: left;
            cursor: pointer;
        }
       >ul{
            list-style: none;
            margin: 0;
            >li{
                cursor: pointer;
                text-decoration: none;
                display: inline-block;
                overflow: hidden;
                padding: 2px 5px;
                margin-bottom: 5px;
                >a{
                    color: #333;
                }
            }
            >li:hover{
                >a{
                    color:@base-color;
                    text-decoration: none;
                }
            }
            >li.active{
                background-color: @base-color;
                a{
                color: #fff;
                }
            } 
        }
    }
    .location{border-bottom: 2px solid #eee;}
}
.item-coterie{
    .count,
    .count:hover{
        color: @base-qianniu-font;
        padding: 0 3px;
    }
}
.coterie-content{
    .sticky-task{
        background-color: #c4c4c4;
        padding:10px 4.5px;
        .item{
            margin:5px 4.5px;
        }
    }
    .sticky-task,.task-wrap{
       /* margin-bottom: 20px;*/
        .clearfix();
    }
}
.coterie-list{
    .coterie-list{
        padding-bottom: 10px;
        border: 1px solid #ddd;
        .wrap{
            .count{
                color: @base-qianniu-font;
                padding: 0 3px;
            }
            .row{
                padding-top: 5px;
            }
        }
        h1 {
            margin: 0;
            font-size: 16px;
            font-weight: bold;
            width: 165px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            a{
                color: #333;
            }
        }
        .title{
            width: 165px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
        .tags{
            margin-top: 10px;
            height: 60px;
            overflow: hidden;
            >li{
                margin-bottom: 5px;
            }
        }
    }
}
.coterie-content{
    .overview{
        min-height: 150px;
        padding-right: 50px;
        position: relative;
        padding: 10px 10px 10px 145px;
        border-bottom: 2px solid @base-color;
        background: #fff;
        .avatar,.logo{
            width: 120px;
            height: 120px;
            position: absolute;
            left:10px;
            top:10px;
        }
        .col-xs-6{
            padding-bottom: 5px;
            vertical-align: top;
            font-size: 16px;
            .name{
                font-size: 18px;
            }
            .ent-title{
                font-size: 18px;
            }
        }
        .ent-description{
            font-size: 14px;
            color: #999;
            line-height: 20px;
            padding-bottom: 10px;
        }
        .tags{
            padding:0;
            margin:0;
            .clearfix();
            list-style:none;
            >li{
                float: left;
                margin-right: 10px;
                margin-bottom: 5px;
                border: 1px solid #e5e5e5;
                font-size: 12px;
                color: #adadad;
                padding: 3px 5px;
            }
        }
    }
}
.coterie-list{
    margin-top:10px;
    .item-coterie{
        .name,
        p{
            width: 170px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    }
}