.dataview{
    list-style: none;
    .ui-li-aside{
        float: right;
        text-align: right;
        font-size: 18px;
    }
    .links{
        float: right;
        font-size:14px;
        padding-top: 10px;
        a{
            padding: 0 5px;
        }
        span{
            padding: 0 5px;
            color:#666;
        }
    }
    
}
.topbar{
    .btn-add{
        color: #fff;
        line-height: 40px;
        padding: 0 20px;
        background: #e67d12;
        border:0;
        margin: 15px 0 0 20px;
        border-radius: 0;
        background: @btn-add-bg;
        #gradient > .vertical(@start-color: lighten(@btn-add-bg,15%),@end-color: @btn-add-bg);
    }
    .btn-add:hover{
        background: @btn-add-bg;
    }
}
.btn-filter{
    >i{
        color:@base-color-3
    }
    &.checked >i{
        color:@base-color-1;
    }
}

.form-inline{
    .clearfix();
    .inline-pipe{
        color: #ccc;
        font-size: 16px;
        padding: 0 10px;
    }
    .btn-default {
        color: #333333;
        margin-right: 10px;
        /*background: none;        
        border: none;*/
    }
}
.page-square li > a{
        border-radius: 0 !important;
        margin: 0 3px;
        background: #fff;
        vertical-align: top;
        b.right_next{
        width: 0;
        height: 0;
        line-height: 0;
        font-size: 0;
        border-width: 6px;
        border-style: dashed dashed dashed solid;
        border-color: transparent transparent transparent #333;
        display: inline-block;
    }
    b.left_next{
        width: 0;
        height: 0;
        line-height: 0;
        font-size: 0;
        border-width: 6px;
        border-style: dashed solid dashed dashed;
        border-color: transparent #333 transparent transparent;
        display: inline-block;
    }
}
.page{
    border-top: 1px solid #EEE;
    .clearfix();
}
.page-square li.active > a{
    background: @base-color;
    color:#fff;  
}
.form-control{
    border-radius: 0;
}
.form-wrap{
    margin-top:30px;
}
.form-horizontal {
    .control-label{
        padding-right: 5px;
    }
}
.btn-submit{
    border: none;
    border-radius: 0;
    padding: 10px 30px;
    margin-right: 10px;
}
.btn-cancel{
    border-radius: 0;
    padding:10px 30px;
    background: #EEE;
}
.forward{
    color: #fff;
    padding: 5px 30px;
    background: #e67d12;
    #gradient > .vertical(@start-color: #e4af12,@end-color: #e67d12);
    font-size: 16px;
    cursor: pointer;
}
.forward:hover{
    color:#fff;
    text-decoration: none;
}
.title{
    margin: 30px 0 10px 20px;
    font-size: 20px;
    color: @base-color;
    border-left: 2px solid @base-color;
    padding: 2px 5px;
}
.total-count{
    padding-top: 8px;
    color: #666;
    padding-left: 30px;
}
