
.position-list{
	margin:20px;
	padding:0;
	list-style: none;
	.item-position{
		background: #fff;
		display: block;
		position: relative;
		margin-bottom:15px;
		border: 1px solid #eee;	
		border-left-width: 2px;
		height:84px;
		padding:12px 150px 12px  84px;
        >a{
            width:60px;
            height: 60px;
           > img{
            position: absolute;
            width:60px;
            height: 60px;
            left:12px;
            top:12px;
            } 
        }
		
		> .ui-li-aside{
			position: absolute;
			right:12px;
			top:12px;
			text-align: right;
			> .btn-action{
				color: #fff;
				line-height: 32px;
				padding: 0 20px;
				border-radius: 0;
				border: 0;
                background: @btn-publish-bg;
                #gradient > .vertical(@start-color: lighten(@btn-publish-bg,15%),@end-color: @btn-publish-bg);
			}
            > .btn-action:hover{
                background: @btn-publish-bg-hover;
            }
		}
	}
	.title{
		font-size: 14px;
		color:#999;
		strong{
			a{
				font-size: 15px;
				padding: 0 5px;
				font-weight: bold;
				color:#333;
			}
		}
		span{
			color: #333;
			padding: 0 3px;
		}
		em{
			color: @base-qianniu-font;
			padding: 0 3px;
			font-size: 16px;
			font-style: normal;
		}
		.detail{
			padding-right: 30px;
		}
	}
}
.comment-wrap{
	background: #fff;
	.form-post{
		padding:30px;
	}
	.post{
		margin-top:15px;
		.clearfix();
		.checkbox{
			float: right;
			display: inline-block;
            margin:5px;
		}
		.btn{
			float: right;
            padding: 5px 20px;
		}
	}
	
	textarea{
		border:1px solid #CCC;
        margin: 5px 0;
		width:100%;
        max-width:100%;
	}
}
.comments{
	padding:0 30px 20px;
	> h1{
		font-size: 18px;
		padding-left:5px;
		border-bottom: 1px solid #ccc;
        padding-bottom: 10px;
	}
}
.comment-list{
	list-style:none;
	padding:0;
	margin:0;
	>li{
		padding: 10px 10px 10px 80px;
		border-bottom: 1px solid #eee;
		min-height: 80px;
		position: relative;
		> img{
			width:60px;
			height:60px;
			position: absolute;
			left:10px;
			top:10px;
		}
		>h1{
			font-size: 16px;
			margin:0;
		}
		>p{
			
		}
	}
}
.detail-content{
	.links{
    	a{
    		display: inline-block;
			padding: 5px 10px;
    	}
    }
}
.position-toolbar{
	.clearfix();
}

.position-overview{
    td{
        vertical-align: top;
        padding: 20px 0;
    }
}
.title-wrap{
    background-color: #66ccc7;
    border-bottom: 3px solid #14b1a9;
    padding: 15px 40px;
    float: left;
    position: relative;
    white-space: nowrap;
    h1{
        padding: 3px 0;
        margin: 0;
        color:#fff;
    }
    .company-title{
        font-size: 18px;
        a{
            color: #fff;
        }
    }
    .position-title{
        font-size: 32px; 
    }
    .shadow{
        background: url('../images/v3/ty.png') 0 0 no-repeat;
        position: absolute;
        bottom: -18px;
        left: 0;
        width: 206px;
        height: 15px;
    }
}
.position-content{
    .describe{
        float: left;
        padding-left: 20px;
        h3{
            padding-bottom: 10px;
            margin: 0;
            color: #333;
            font-weight: normal;
            font-size: 18px;
        }
        p.web{
            font-size: 14px;
        }
        p.time{
            font-size: 14px;
            color:#666;
        }
        .ent-tag-list{
            padding: 0;
            list-style: none;
            li{
                border: 1px solid #ddd;
                padding: 2px 10px;
                float: left;
                color: #999;
                margin: 5px 8px 0 0;
                font-size: 12px;
            }
        }
    }
    .position-toolbar{
        background: #f6f6f6;
        border-bottom: 2px solid #75cbc7;
        padding: 10px 20px;
        .pull-left{
            text-align: left;
            display: inline-block;
        }
        .pull-right{
            float: right;
            display: inline-block;
        }
    }
    .content {
        padding: 0 25px;
    }
    .section {
        h2 {
        margin: 30px 0 10px 0;
        font-size: 20px;
        color: @base-color;
        border-left: 2px solid @base-color;
        padding: 2px 5px;
        }
        .position-content{
            font-size: 16px;
            text-indent: 32px;
        }
    }
}
.position-content{
    margin-top: 15px;
    .article{
        background-color: #fff;
        padding-bottom: 30px;
        border: 1px solid @base-color-3;
        .header{
            .clearfix();
            position: relative;
            padding:15px 0;
            .title-wrap{
                background-color: #66ccc7;
                border-bottom: 3px solid #14b1a9;
                padding: 20px 40px;
                float: left;
                h1{
                    color: #fff;
                    background-color: #66ccc7;
                    border-bottom: 3px solid #14b1a9;
                    padding:20px 40px;
                    float: left;
                    font-size: 32px;
                }
                .shadow{
                    background: url('../../images/v3/ty.png') 0 0 no-repeat;
                    position: absolute;
                    bottom:10px;
                    width:206px;
                    height:15px;
                }
            }
            .toolbar{
                position:absolute;
                right:0;
                bottom:15px;
                .clearfix();
                .btn-group{
                    float: left;
                }
            }
            
        }
        .resume-overview{
            background-color: #f6f6f6;
            padding:20px 0 20px 110px;
            position:relative;
            border-bottom: 2px solid @base-color;
            img{
                position:absolute;
                left:25px;
                width:70px;
                height:70px;
            }
            h2{
                font-size: 16px;
                margin: 0;
                line-height: 25px;
            }
            p{
                color:#999999;
                font-size:14px;
            }
        }
    }
    .position{
        border-color:#ddd;
    }
    .qr-code-wrap{
        position: absolute;
        opacity: 0;
        right: 35px;
        top: 4px;
        visibility: hidden;
        transition: opacity 1s;
        -webkit-transition: opacity 1s;
        -moz-transition: opacity 1s;
        text-align: center;
        img{
            padding-bottom: 10px;
        }
        p{
            padding: 0;
            margin: 0;
        }
        i{
            border-width: 8px;
            border-left-color: transparent!important;
            border-right-color: transparent!important;
            border-style: outset;
            _border-style: solid dotted!important;
            border-top-width: 0!important;
            border-color: #66ccc7;
            position: relative;
            top: -80px;
            right: -120px;
            display: none;
        }
    }
    .qr-code-tigger{
        background: url("../images/v3/saoma.png") no-repeat 0 0;
        width:37px;
        height: 57px;
        padding-top:37px;
        display: inline-block;
        text-align: center;
        color: #999;
    }
    .section-qr-code{
        position: relative;
        float: right;
    }
    .section-qr-code.hover .qr-code-wrap{
        visibility: visible;
        opacity: 1;
        background: #fff;
        border: 1px solid #ccc;
        padding: 10px 30px;
        width: 202px;
    }
    .title-wrap{
        padding: 15px 25px;
        min-width: 220px;
    }
    .btn-post-resume{
        color: #fff;
        line-height: 32px;
        font-size: 18px;
        padding: 10px 60px;
        border-radius: 0;
        border: 0;
        background: #e67d12;
        #gradient > .vertical(@start-color: #e4af12,@end-color: #e67d12);
    }
    .btn-post-resume:hover{
        background: #e67d12;
    }
}
.statistical{
    padding: 5px 8px;
    background: #F8F8F8;
    span{
        color: @base-qianniu-font;
        font-size: 18px;
        padding: 0 3px;
    }
}
.position-content{
    .text-center {
        text-align: center;
        border-top: 1px solid #eee;
        margin: 40px 0 0;
        padding: 30px 0 0;
    }
}