.announcement{
    width:365px;
    height: 23px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    bottom: 0;
    a{
        color:#333;
    }
}   
.icon-ann{
    float: left;
    background: url("../../images/v3/icons.png") no-repeat -85px -283px;
    padding: 5px;
    margin-top: 5px;
}
.site-navbar{
    position: relative;
    padding: 5px 0;
    z-index: @zindex-navbar;
    min-height: @navbar-height; // Ensure a navbar always shows (e.g., without a .navbar-brand in collapsed mode)
    border: 1px solid transparent;
    .clearfix();
    .nav > li > a,
    .ajax-usernavigation{
        padding:0 10px;
    }
    .nav .nav-register a:hover{
        color: @base-qianniu-font;
    }
    .msg-box {
        position: relative;
        padding:0 0 0 5px;
        float: right;
        .msg-status > a{
        display:inline-block !important;
        }
    }
}
.site-nav{
    list-style: none;
    margin:0;
    float: left;
    > li{
        position: relative;
        float: left;
    }
}
.user-menu-list{
    width: 92%;
    min-width: 170px;
    position: absolute;
    list-style: none;
    margin:0;
    white-space: nowrap;
    display:none;
    z-index: @zindex-navbar;
    dd{
        & :hover{
            background-color: @base-color-1;
        }
    }
}
.hover{
    .user-menu-list{
        display:block;
    }
}
.new-mail{
        background: url("../../images/v3/icons.png") no-repeat -211px -317px;
        width:21px;
        height: 14px;
        display: inline-block;
    }
.mail{
        background: url("../../images/v3/icons.png") no-repeat -211px -341px;
        width:21px;
        height: 14px;
        display: inline-block;
    }

.msg-box{
    position: relative;
    padding: 0 10px;
    
}
.msg-info{
    display: none;
    border-style: solid;
    border-color:#ddd;
    border-width: 0 1px 1px 1px;
    background: #fff;
    a{
        color:#333;
    }
}
.page-navbar{
    height: 45px;
    background: @base-color;
    position: relative;
    z-index: (@zindex-navbar)-1;
    margin-bottom:2px;
    .clearfix();
    .navbar-brand{
        float: left;
        width:142px;
        height:32px;
        background: url("../../images/v3/icons.png") no-repeat -211px -8px;
        margin: 7px 0;
        text-indent: -999px;
        margin-right: 140px;
    }
    ul.navbar-nav{
        li{
            a{
                position: relative;
                display: block;
                padding: 10px 0 0;
                color: #fff;
                font-size: 18px;
                width: 100px;
                height: 45px;
                text-align: center;
            }
            a:hover{
                background: @base-color-light;
            }
        }
        li.active{
            >a{
                background: @base-color-dark;
            }
        }
    }
}

.navbar-nav{
    > li{float: left;position: relative;}
}
.navbar-left  { .pull-left(); }
.navbar-right { .pull-right(); }
.navbar-right{
    li{
        a{
            padding: 0 3px !important; 
        }
    }
}

.t-weixin-icon,
.sina-weibo-icon,
.t-weibo-icon{
    display: inline-block;
    zoom:1;
    position: relative;
    background: url("../../images/icons.png") no-repeat 0 0;
    height:22px;
    width:22px;
}

.t-weixin-icon{
    background-position: 0 0;
}
.sina-weibo-icon{    
    background-position: -27px 0;
}
.t-weibo-icon{
    background-position: -54px 0;
}
#weixin-qr{
    top: 30px;
    right: 13px;
    line-height: 20px;
    z-index: 10;
}
.qr-box{
  border-radius: 4px;
  background: rgb(0,0,0);
  padding:3px;
}
.user-info{
    i{
        position: relative;
        display:inline-block;
        width:8px;
        height:6px;
        margin-left:5px;
        transition: .3s ease-in;
        -webkit-transition: .3s ease-in;
        -moz-transition: .3s ease-in;
        -o-transition: .3s ease-in;
        em,span{
            display: inline-block;
            top:0;
            left:0;
            width: 0;
            height: 0;
            vertical-align: middle;
            border-top:   @caret-width-base solid ;
            border-right: @caret-width-base solid transparent;
            border-left:  @caret-width-base solid transparent;
            position: absolute;
        }
        em{
            top:1px;
            border-top-color: #666;
        }
        span{
            border-top-color: #eee;
        }
    }
}
.hover{
    i{
        transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -o-transform: rotate(180deg);
    }
}
.user-menu-list{
    background: #fff;
    padding: 10px 20px;
    border: 1px solid #ddd;
    .user-menu{
        line-height:30px;
    }
}
li.hover {

     .user-menu > a{
        color:#666;
        display: block;
    }
}
li.hover{
    .user-menu > a:hover{
    background: none;
    color:@base-color;
    text-decoration: none;
    }
}  
.nav > li > a:hover, 
.nav > li > a:focus {
    text-decoration: none;
    background: none;
    color:@base-color;
}
#user-name{
    float: left;
}
.auth-v2{
    background: url("../../images/v3/icons.png") no-repeat -144px -391px;
    width: 18px;
    height: 18px;
    display: inline-block;
    margin: 3px 0 0 5px;
    float: left;
}
