body{
    min-width: 1190px;
    font-family:@font-family-base;
    background-image: url('../images/v3/bg_img.png');
}
.nav > li > a:focus{
    background: none;
}
.container-static{
    position: relative;
    width:1190px;
    margin: 0 auto;
    .clearfix();
}
//header
.announcement{
    width:365px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    bottom: 0;
    height:20px;
    background: url("../images/v3/gb.gif") 0 5px no-repeat;
    padding-left: 15px;
    .item{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    a{
        color:#333;
    }
}   
.icon-ann{
    float: left;
    background: url("../images/v3/icons.png") no-repeat -85px -283px;
    padding: 5px;
    margin-top: 5px;
}
.site-navbar{
    position: relative;
    padding: 5px 0;
    z-index: @zindex-navbar;
    background:url("../images/v3/top_bg.png") repeat-x 0 0;
    .clearfix();
    .nav > li{
        color: #333;
        span,a{
            color: #333;
        }
    }
    .nav > li > a,
    .ajax-usernavigation{
        padding:0 10px;
        color: #707070;
        .clearfix();
    }
    .nav > li.login  > a{
        color: @base-qianniu-font;
    }
    .nav > li > a:hover{
        background: none;
        color: @base-color;
    }
    .nav .nav-register a:hover{
        color: @base-qianniu-font;
    }
    .msg-box {
        position: relative;
        padding:0 0 0 5px;
        float: right;
        .msg-status > a{
        display:inline-block !important;
        }
    }
}
.header{
    background-color: #fff;
}
.header-wrap{
    padding-top:28px;
    height: 115px;
}
.site-logo{
    display: inline;
    float: left;
    text-indent: -9999px;
    width: 180px;
    height: 45px;
    //margin-top: 8px;
    background: url("../images/v3/icons.png") no-repeat -6px -6px;
}
.search-bar{
    display: inline;
    float: left;
    margin-left:100px;
}
.search-form{
    width:470px;
    .open{
        .dropdown-toggle{
        }
    }
    .dropdown-toggle,.dropdown-toggle:active,.dropdown-toggle:focus{
        box-shadow: none;
        background-color: #fff;
        border:2px solid @base-color;
        height:38px;
        margin-right: -2px !important;
        .caret{
            border-top-color:@base-color;
            margin-left: 10px;
        }
    }
    .dropdown-menu{
        margin:0;
        min-width: 100px;
    }
    .search-input{
        width:100%;
        display: table-cell;
        height: 38px;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.428571429;
        color: #555;
        vertical-align: middle;
        background-color: #FFF;
        background-image: none;
        border:2px solid @base-color;
        outline: 0;
    }
    .btn{
        outline: 0;
        padding:8px 20px;
    }
}
.search-hots{
    list-style:none;
    .clearfix();
    margin: 10px 0 0 0;
    dt,dd{
        float: left;
        margin-right: 15px;
        a{
            color: @base-qianniu-font;
        }
    }
}
.header-user{
    float: left;
}
.user-menu-list{
    width: 92%;
    min-width: 170px;
    position: absolute;
    list-style: none;
    margin:0;
    white-space: nowrap;
    display:none;
    z-index: @zindex-navbar;
    > dd{
        margin-bottom: 5px;
        > a{
            color:#999;
            display: block;
            &:hover{
                color: @base-color;
                text-decoration: none;
            }
        }
        
    }
}
.useful-links{
    position: relative;
    top:-18px;
    .btn{
        color:#a1a1a1;
        font-size: 11px;
        padding:6px 8px;
    }
    i{
        display: block;
        margin:0 auto;
        background: url("../images/v3/icons.png") no-repeat;
        width: 64px;
        height: 64px;
    }
    .pipe{
        border-right: 1px dotted #d3d3d3;
        height: 64px;
        display: inline-block;
        vertical-align: middle;
    }
    .btn-quickresume {
        i{
            background-position: -6px -78px;
        }
        &:hover{
            i{
                background-position: -6px -164px;
            }
        }
    }
    .btn-publish{
        i{
            background-position: -92px -79px;
        }
        &:hover{
            i{
                background-position: -92px -165px;
            }
        }
    }
    
    .btn-download-android{
        i{
            background-position: -179px -79px;
        }
        &:hover{
            i{
                background-position: -179px -165px;
            }
        }
    }
    
    .btn-download-iphone{
        i{
            background-position: -265px -79px;
        }
        &:hover{
            i{
                background-position: -265px -165px;
            }
        }
        // filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
        // filter: alpha(opacity=30);
        // opacity: 0.3;
    }
    
    a:active{
        -webkit-box-shadow: none;
        box-shadow: none;
    }
}

.hover{
    .user-menu-list{
        display:block;
    }
}
.new-mail{
        background: url("../images/v3/icons.png") no-repeat -211px -317px;
        width:21px;
        height: 14px;
        display: inline-block;
    }
.mail{
        background: url("../images/v3/icons.png") no-repeat -211px -341px;
        width:21px;
        height: 14px;
        display: inline-block;
    }

.msg-box{
    position: relative;
    padding: 0 10px;
    float: left;
}
.msg-info{
    display: none;
    border-style: solid;
    border-color:#ddd;
    border-width: 0 1px 1px 1px;
    background: #fff;
    a{
        color:#333;
    }
}
.index-navbar{
    height: 45px;
    background: black;
    position: relative;
    background-color:@base-color;
    z-index:3;
    .clearfix();
    .navbar-nav{
        > li > a{
            position: relative;
            display: block;
            padding: 10px 0 0;
            color: #fff;
            font-size: 18px;
            width:100px;
            text-align: center;
            height: 45px;
            &:hover{
                background: @base-color-light;
            }
            span.flag-new{
                background: url("../images/v3/icons.png") no-repeat -123px -357px;
                width: 29px;
                height: 16px;
                display: inline-block;
                position: relative;
                bottom: 10px;
                left: 5px;
            }
        }
        >.active >a{
            background: @base-color-dark;
        }
    }
}

.navbar-nav{
    float: left;
    > li{float: left;position: relative;}
}
.navbar-left  { .pull-left(); }
.navbar-right { .pull-right(); }
.navbar-right{
    li{
        a{
            padding: 0 3px !important; 
        }
    }
}

.t-weixin-icon,
.sina-weibo-icon,
.t-weibo-icon{
    display: inline-block;
    zoom:1;
    position: relative;
    background: url("../images/icons.png") no-repeat 0 0;
    height:22px;
    width:22px;
}

.t-weixin-icon{
    background-position: 0 0;
}
.sina-weibo-icon{    
    background-position: -27px 0;
}
.t-weibo-icon{
    background-position: -54px 0;
}
#weixin-qr{
    top: 14px;
    line-height: 20px;
    z-index: 10;
    left: -47px;
}
.arrow-up {
    border-width: 8px;
    border-left-color: transparent!important;
    border-right-color: transparent!important;
    border-style: outset;
    _border-style: solid dotted!important;
    border-top-width: 0!important;
    border-color: #000;
    position: relative;
    top: -7px;
}
.qr-box{
  border-radius: 4px;
  background: rgb(0,0,0);
  padding:3px;
}
.user-info{
    i{
        position: relative;
        display:inline-block;
        width:8px;
        height:6px;
        margin-left:5px;
        transition: .3s ease-in;
        -webkit-transition: .3s ease-in;
        -moz-transition: .3s ease-in;
        -o-transition: .3s ease-in;
        em,span{
            display: inline-block;
            top:0;
            left:0;
            width: 0;
            height: 0;
            vertical-align: middle;
            border-top:   @caret-width-base solid ;
            border-right: @caret-width-base solid transparent;
            border-left:  @caret-width-base solid transparent;
            position: absolute;
        }
        em{
            top:1px;
            border-top-color: #666;
        }
        span{
            border-top-color: #eee;
        }
    }
}
.hover{
    i{
        transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -o-transform: rotate(180deg);
    }
}
.user-menu-list{
    background: #fff;
    padding: 10px 20px;
    border: 1px solid #ddd;
    .user-menu{
        line-height:30px;
    }
}
li.hover {

     .user-menu > a{
        color:#666;
        display: block;
    }
}
li.hover{
    .user-menu > a:hover{
    background: none;
    color:@base-color;
    text-decoration: none;
    }
}
#user-name{
    float: left;
}
.auth-v2{
    background: url("../images/v3/icons.png") no-repeat -144px -391px;
    width: 18px;
    height: 18px;
    display: inline-block;
    margin: 3px 0 0 5px;
    float: left;
}
.cate-trigger{
    padding-right:20px;
    position: relative;
    > i{
        color:@base-color;
        position: absolute;
        display: block;
        cursor: pointer;
        width:100%;
        height:42px;
        background:url('../images/v3/pull.png') no-repeat 230px 11px;
        right:0px;
        top: 0;
    }
}
.cate-icon{
    vertical-align:bottom;
    display: inline-block;
    width:25px;
    height:17px;
    background: url("../images/v3/icons.png") no-repeat;  
}
.cate-icon-0{
    background-position: -6px -487px;
}
.cate-icon-1{
    background-position: -6px -600px;
}
.cate-icon-2{
    background-position: -6px -282px;
}
.cate-icon-3{
    background-position: -6px -528px;
}
.cate-icon-4{
    background-position: -6px -323px;
}
.cate-icon-5{
    background-position: -6px -445px;
}
.cate-icon-6{
    background-position: -6px -363px;
}
.cate-icon-7{
    background-position: -6px -403px;
}
.cate-icon-8{
    background-position: -6px -570px;
}
.cate-container{
    position: absolute;
    width: 270px;
}
.side{
    .cate-container{
        position:relative;
    }
}
.cate-wrap{
    width:270px;
    min-height: 1px;
    margin-right:10px;
    background: #fff;
    >h1{
        font-size:18px;
        margin:0;
        padding:11px 20px;
        height: 45px;
        border: 2px solid @base-color;
        border-bottom: 1px solid #ddd;
        background-image: url('../images/v3/bg_img.png');
        }
    .head-wrap{
        border: 2px solid @base-color;
        border-bottom: 0 none;
        h1{
            font-size:18px;
            margin:0;
            padding:11px 20px;
            height: 43px;
            border-bottom: 1px solid #ddd;
            background-image: url('../images/v3/bg_img.png');
        }
    }
    .cate-container{
        border:2px solid @base-color;
        border-top:0 none;
    }
    .catebox{
        position: relative;
        background-color: #fff;
        .main{
            .section-header{
                font-size:16px;
                padding:8px 15px;
                margin:0;
                cursor: pointer;
                .more{
                    float: right;
                    background: url('../images/icons/more.png') no-repeat 0 4px;
                    padding: 5px;
                    text-indent: -999px;
                    cursor: pointer;
                }
            }
            .section-header:hover{
                background: #D4F5F3;
            }
            >ul{
                margin:0;
                padding:0 15px;
                .clearfix();
                list-style: none;
                max-height: 50px;
                overflow: hidden;
                >li{
                    float: left;
                    >a{
                        padding:5px 20px 5px 0;
                        color: #666;
                        font-size: 12px;
                        display: inline-block;
                    }
                }
            }
        }
        .active{
            .section-header{
                background: @navbar-hover-bg;
            }
        }
        .sub{
            z-index: 100;
            //border:1px solid @base-color;
            top:0;
            position:absolute;
            left:266px;
            min-width:600px;
            display:none;
            background: #fff;
            padding: 10px 20px;
            border: 1px solid @base-color;
            .clearfix();
            dl{
                float:left;
                margin-right:20px;
            }
            a{
                color:#666;
                font-family: "Microsoft YaHei", "weiruanyahei", "Arial";
                padding: 3px 0;
                display: inherit;
            }
           .hot{
            color:@base-color;
           }
        }
    }
}
.cate-coterie{
    > .catebox{
        .main > ul {
            margin: 0;
            padding: 0 15px;
            list-style: none;
            max-height: 200px;
            overflow: hidden;
        } 
    }
}
.cate-company{
    > .catebox{
        .main{ 
            a, 
            a:hover{
                color: #333;
                text-decoration: none;
                .cate-icon-1 {
                    background-position: -396px -12px;
                }
                .cate-icon-5 {
                    background-position: -396px -45px;
                }
                .cate-icon-3 {
                    background-position: -396px -80px;
                }
                .cate-icon-2 {
                    background-position: -396px -114px;
                }
            }

            > ul {
                margin: 0;
                padding: 0 15px;
                list-style: none;
                max-height: 200px;
                overflow: hidden;
            } 
        }
    }
}

//全页面共通
.page-content{
    .main{
        background: #fff;
        padding-bottom:10px;
    }
    .section{

        >h1{
            position: relative;
            margin: 30px 15px 10px;
            font-size: 20px;
            color: @base-color;
            border-left: 3px solid @base-color;
            padding: 0 5px;
            >.more{
                background: url("../images/v3/more.png") no-repeat right 8px;
                padding-right: 8px;
                margin-right: 10px;
            a{
                font-size: 14px;
                color: #676767;
                }
            }
            >.more:hover{
                background-position: right -22px;
                a{
                    text-decoration: none;
                    color: @base-color;
                }
            }
        }
    }
}

//仅限首页
.index-content{   
    > .main{
        margin-left:10px;
        float: left;
        width: 910px;
        > .section > div{
            position: relative;
            background: #fff;
            /*border:1px solid #eee;*/
            padding: 20px;
        }
    }
    > .side{
        width:270px;
        float: left;
        .section {
            margin:10px 0;
        }
        .section-wrap{
            position: relative;
            background: #fff;
            border:1px solid #ddd;
            .article{
                position: relative;
                padding: 10px 74px 10px 10px;
                border-top:1px solid #eee;
                min-height: 84px;
                > h1{
                    margin:10px 0 5px 0;padding: 0;
                    font-size: 14px;
                    color: @base-color;
                }
                > p{
                    font-size: 12px;
                    a{
                        color: #333;
                    }
                }
                .img-wrap{
                    display: block;
                    position: absolute;
                    right:10px;
                    top:10px;
                    >img{
                        width:64px;
                        height:64px;
                    }
                }
            }
        }
    }
}
//fade
.carousel.fading .active {
    opacity: 1;
}
 
.carousel.fading .next {
    opacity: 0;
}
 
.carousel.fading .prev {
    opacity: 0;
}
.carousel.fading .next.left,
.carousel.fading .prev.right {
    opacity: 1;
}
 
.carousel.fading .active.left {
    opacity: 0;
}
 
.carousel.fading .active.right {
    opacity: 0;
}
.carousel.fading .item {
    -webkit-transition: 0.6s ease-in-out opacity,display;
    -moz-transition: 0.6s ease-in-out opacity,display;
    -ms-transition: 0.6s ease-in-out opacity,display;
    -o-transition: 0.6s ease-in-out opacity,display;
    transition: 0.6s ease-in-out opacity,display;
}
.headline{
    position: relative;
    padding:10px;
    .headline-wrap{
        position: relative;
        display: block;
        > img{
            width:248px;
            height: 141px;
        }
        >.title{
            position: absolute;
            width:100%;
            font-size: 18px;
            bottom:0;
            left:0;
            color:#fff;
            background: rgba(0,0,0,.5);
            padding: 5px 10px;
        }
    }
}
.campaign-wrap{
    padding:15px 10px 5px 10px;
    .campaign-img{
        margin-bottom: 15px;
        img{
            width:100%;
        }
        .active-title{
            color: #333;
            font-size: 16px;
            display: block;
            padding: 5px 0;
            text-align: center;
        }
    }   
}

.hots{
    background-color: #fff;
    padding: 0 15px 0;
    /*margin-bottom: 20px;*/
    .item{
        padding-bottom: 20px;
        margin-top: 15px;
        max-width: 210px;
        .avatar-wrap{
            
            float: left;
            vertical-align: top;
            padding-right: 10px;
                img{
                    width:60px;
                    height: 60px;
                    border:1px solid #eee;
                }
        }
       /*.describe{
        display: inline-block;
       }*/
       p{
            margin: 0;
            a{
                color: #333;
            }
       }
        .name{
            margin: 0;
            font-size: 16px;
            font-weight: bold;
            width: 130px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            a{
                color: #333;
                font-size: 14px;
            }
        }
        .position,
        .title{ 
            width: 130px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            display: inline-block;
            font-weight: bold;
        }
        .company{
            color:#666;
            font-size: 12px;
            width: 130px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            display: inline-block;
        }

    }
}
.bounty{
    color: #666;
    text-align: left;
    span{
        color:@base-qianniu-font;
        font-size: 20px;
    }
}
.hots > section > h1{
    margin: 30px 10px 10px !important;
}
.hots > section > h1 > i{
    position: absolute;
    display: inline-block;
    margin-left: 5px;
    width:32px;
    height:26px;
    background: url("../images/v3/icons.png") no-repeat -123px -280px;
    display: none;
}
.symbol-vip-1{
    width:32px;
    height:26px;
    background: url("../images/v3/icons.png") no-repeat -176px -278px;
}
.symbol-vip-2{
    width:32px;
    height:26px;
    background: url("../images/v3/icons.png") no-repeat -227px -278px;
}
.symbol-vip-3{
    width:32px;
    height:26px;
    background: url("../images/v3/icons.png") no-repeat -281px -278px;
}
.symbol-ming{
    width:32px;
    height:26px;
    background: url("../images/v3/icons.png") no-repeat -250px -587px;
}
.dataview{
    position: relative;
    .clearfix();
    .item{
        .symbol-vip{
            position: absolute;
            top:-6px;
            left:10px;
            z-index: 1;
        }
        width:210px;
        position: relative;
        background-color: #fff;
        float: left;
        .avatar-wrap{
            position: absolute;
            width:60px;
            left:5px;
            height:60px;
            border-radius: 5px;
        }
        .wrap{
            padding:10px;
        }
        h1{
            margin: 0;
            font-size: 15px;
            font-weight: bold;
            width: 130px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            a{
                color: #333;
            }
        }
        
        .company-info{
            display: block;
            position: relative;
            overflow: hidden;
            &:hover{
                >div{
                    bottom:0;
                }
            }
            > img{
                width:208px;
                height:93px;
            }
            >div{
                position: absolute;
                background: rgba(0,0,0,0.6);
                bottom:-100%;
                padding:5px 0;
                color:#fff;
                text-align: center;
                width:100%;
                transition: bottom 0.5s;
                -moz-transition: bottom 0.5s; /* Firefox 4 */
                -webkit-transition: bottom 0.5s; /* Safari 和 Chrome */
                -o-transition: bottom 0.5s; /* Opera */
            }
        }
        .person-info{
            position: relative;
            width:208px;
            height:93px;
            text-align: left;
            padding:15px 15px 10px 85px;
            > a{
                img{
                    width:100%;
                    height:100%;
                }
                position: absolute;
                left:15px;
                top:15px;
                width:60px;
                height:60px;
            }
            
            > p{
                >a{
                    color:#000;
                }
                margin:0;
                line-height: 18px;
            }
        }
        .tags{
            list-style: none;
            margin: 0;
            padding:0;
            .clearfix();
            > li{
                float: left;
                margin-right:10px;
                margin-bottom:10px;
                border: 1px solid #e5e5e5;
                font-size: 12px;
                color: #adadad;
                padding: 3px 5px;
            }
        }
    }
}
.follow{
    i{
        background: url('../images/v3/icons.png') no-repeat  -321px -431px;
        width:14px;
        height:14px;
        display: inline-block;
    }  
}

.tasks-wrap,
.coterie-wrap{
    .clearfix();
    .item{
        .make-xs-column(6,0);
        padding-left:10px;
    }
}
.sticky-task{
    >.item-wrap >.row{
        display: none;
        &.active{
            display: block;
        }
    }
    ul.page{
        float: right;
        margin-right: 5px;
        >li{
            float: left;
            padding: 0;
            >.prev,
            >.next{
                text-indent: -9999px;
                background: url("../images/v3/icons.png") -315px -515px;
                width: 26px;
                height: 26px;
                display: inline-block;
                background-color: #aaa;
                border-radius: 5px;
                margin-left: 5px;
            }
            >.next{
                background-position: -315px -561px;
            }
        }
    }
}
.index-content{
    .sticky-task{
        background-color: #c4c4c4;
        padding:10px 7px;
        .item{
            margin:5px 7px;
        }
    }
    .sticky-task,.task-wrap{
        margin-bottom: 20px;
        .clearfix();
    }
    #waterfall{
        margin-bottom: 0;
    }
}

.symbol-niu-1{
    background-position: -56px -577px;
}
.symbol-niu-2{
    background-position: -108px -577px;
}
.symbol-niu-3{
    background-position: -160px -577px;
}

.footer{
    text-align: center;
    clear:left;
    padding: 10px 0;
    p {
        margin: 0;
        padding-bottom: 5px;
        font-size: 12px;
        color: #666;
        padding: 0;
    }
}

.banner{
    width:910px;
    height:260px;
}
.catebox{
    border-top:1px solid #ddd;
    padding: 5px 0;
    margin-top: -1px;
}
.bounty{
    color: #666;
    .symbol-rmb{
        font-size: 12px;
        color: @base-qianniu-font;
    }
    .count{
        font-size: 22px;
        color: @base-qianniu-font;
        padding: 8px 5px 5px 0;
        display: inline-block;
    }
}
.tasks , .sticky-task{
    .item{
        border:1px solid #ddd;
    }
}
.btn-more{
    background: #fff;
    border: 2px solid @base-color;
    padding: 8px 80px;
    color: @base-color;
}
.btn-more:hover{
    text-decoration: none;
    color: @base-color;
}
.carousel-indicators{
    right: 20px;
    left: auto;
    bottom: 0;
    text-align:right;
    li{
        border: 1px solid @base-color;
        background: #fff;
    }
    li.active {
        background-color: @base-color;
    }
}
.title{
    font-size: 14px;
    vertical-align: top;
    i.c-icon-1, i.c-icon-2, i.c-icon-3{
        background: url("../images/icons/icons_26.png") no-repeat 0 0;
        width: 26px;
        height: 23px;
        display: inline-block;
    }
    i.c-icon-2{
        background-position: 0 -33px;
    }
    i.c-icon-3{
        background-position: 0 -65px;
    }
}
.right-container{
    .row, .content{
        margin: 0 0 20px;
    }

}
.industry{
    font-size: 12px;
    color: #666;
}
.follow-count{
    font-size: 12px;
    color: #666;
    vertical-align: top;
    padding-left: 3px;
}
.site-banner{
    margin:2px auto 0;
    width:1190px;
    height:90px;
}
.company-content,
.position-content,
.coterie-content{
    .main{
        margin-right: 9px;
        float: left;
        width: 906px;
    }
    .aside{
        width:275px;
        float: left;     
        padding:0;
        >.section {
            margin-bottom: 30px;
            >h1{
                margin:0 0 10px 10px;
            }
            >.clearfix{
                background: #fff;
                padding: 15px 0;
                border: 1px solid #ddd;
            }
        }
    }
}
.suggestion-item{
    cursor: pointer;
    display: block;
    float: left;
    margin:0 4px 10px 10px;
    >img{
        width:75px;
        height:75px;
    }
    >div{
        text-align: center;
    }
}
.suggestion-item:hover *{
    color: @base-color;
}
.feedback{
    position: fixed;
    right: 20px;
    bottom: 100px;
}
.feedback .btn {
    height: 44px;
    line-height: 44px;
    padding:0;
    overflow: hidden;
    display: inline;
    float: left;
    cursor: pointer;
    clear: both;
    width: 44px;
    text-align: center;
    background: #333;        
    //filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
    //filter: alpha(opacity=40);
    //opacity:0.4;
}
.feedback {
    .btn-gotop{
        display: none;
        background-color:#ddd;
    }
    .btn-support{
        background-color:#ddd;
    }
    z-index: 10;
    .go-top {
        display: inline;
    }
    .btn{
        margin-bottom: 10px;
        margin-right: 2px;
        > span{
            background: url("../images/v3/icons.png") no-repeat;
            display: inline-block;
            width: 44px;
            height: 44px;
            &.qn-icon-gotop{
                background-position: -59px -439px;
            }
            &.qn-icon-feedback{
                background-position: -59px -493px;
            }
        }
    }
     em {
        display: none;
        margin: 3px auto 0;
        width: 24px;
        font-size: 12px;
        line-height: 16px;
        font-style: normal;
        white-space: normal;
    }
}
.feedback .btn:hover {
    color: #fff;
    //filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    //filter: alpha(opacity=100);
    //opacity: 1;
    .qn-icon-gotop{
        background-position: -125px -439px;
    }
    .qn-icon-feedback{
        background-position: -125px -493px;
        //display: none;
    }
    // em{
    //     display: block;
    // }
}


.partners,
.links{
    list-style: none;
    padding: 0;
    li{
        display: inline;
    }
}
.content-wrap{
    .links{
        a{
            color: #333;
            margin: 5px 15px;
        }
        a:Hover{
            color: @base-color;
            text-decoration: none;
        }
    }
}
.title{
    font-size: 16px;
    padding-top: 5px;
    color: #333;
}

.desc{
    color: #999;
}
.btn-wrap{
    margin: 10px 0 20px;
}

// 切换用户 

.modal-body {
    position: relative;
    padding: 10px 30px 50px;
}
.switch_user{
    list-style: none;
    margin: 0;
    padding: 0;
    li{
        padding: 3px 5px;
        a{
            color: #333;
            font-weight: bold;
        }
        .cancelbander{
            color: @base-color;
            padding-left: 20px;
            font-weight: normal;
        }
    }
}
.modal-content{
    .hint{
        margin: 20px 0;
        color: #999;
    }
    .changeuser-form{
        width: 400px;
        .btn-register{
            font-size: 14px;
            font-weight: normal;
            border-radius: 0;
            border:0 none;
            margin-top: 20px;
        }
        .form-group > label{
            text-align: left;
            font-weight: normal;
        }
    }
}

// 1190*90广告banner

.ad_banner{
    width: 1190px;
    height: 90px;
    margin: 2px auto 0;
    position: relative;
    >ol{
        >li,
        >li.active{
            width:8px;
            height: 8px;
        }
    }
}
.subscription{
    background-color: #fff;
    display: block;
    padding: 15px;
    border-bottom: 2px solid @base-color;  
    color: #666;
    font-size: 18px;
    >.icon{
        background: url("../images/v3/icons.png") no-repeat -372px -170px;
        padding-left: 25px;
    }
    >.go{
        background: url("../images/v3/icons.png") no-repeat -372px -214px;
        float: right;
        width: 22px;
        height: 22px;
    }
}
.subscription:hover{
    text-decoration: none;
}