// Core variables and mixins
@import "../variables.less";
@import "../overridevariables.less";
//override
@font-family:"Microsoft YaHei","weiruanyahei","Arial";
@icon-font-path:          "../../fonts/";
@base-color-1:@base-color; //blue-green
@base-color-2:#2a67a5; //deepgreen
@base-color-3:#ddd; //gary
@base-color-4:#cc0000; //red
@import "../mixins.less";

// Reset
@import "../normalize.less";
@import "../print.less";

// Core CSS
@import "../scaffolding.less";
@import "../type.less";
@import "../code.less";
@import "../grid.less";
//@import "tables.less";
@import "../forms.less";
@import "../buttons.less";
@import "../dropdowns.less";

@import "../close.less";
// Components w/ JavaScript
@import "../modals.less";
@import "tagselect.less";
@import "../datetimepicker.less";
@import "../daterangepicker-bs3.less";
@import "../utilities.less";
body{
    font-family:@font-family;
    background-image: url('../../images/v3/bg_img.png');
}
.toolbar{
    .clearfix();
}
.page-header{
    padding: 0;
   .logo{
        background: url('../../images/v3/icons.png') -5px -5px no-repeat;
        display: inline-block;
        width: 184px;
        height: 45px;
    } 
}
.page{
    margin: 0 auto;
    width:910px;
}
.article{
    background-color: #fff;
    padding-bottom: 30px;
    border: 1px solid @base-color-3;
    .header{
        .clearfix();
        position: relative;
        padding:15px 0;
        .title-wrap{
            background-color: #66ccc7;
            border-bottom: 3px solid #14b1a9;
            padding: 20px 40px;
            float: left;
            h1{
                color: #fff;
                background-color: #66ccc7;
                border-bottom: 3px solid #14b1a9;
                padding:20px 40px;
                float: left;
                font-size: 32px;
            }
            .shadow{
                background: url('../../images/v3/ty.png') 0 0 no-repeat;
                position: absolute;
                bottom:10px;
                width:206px;
                height:15px;
            }
        }
        .toolbar{
            position:absolute;
            right:0;
            bottom:15px;
            .clearfix();
            .btn-group{
                float: left;
            }
        }
        
    }
    .resume-overview{
        background-color: #f6f6f6;
        padding:20px 0 20px 110px;
        position:relative;
        border-bottom: 2px solid @base-color;
        img{
            position:absolute;
            left:25px;
            width:70px;
            height:70px;
        }
        h2{
            font-size: 16px;
            margin: 0;
            line-height: 25px;
        }
        p{
            color:#999999;
            font-size:14px;
        }
    }
}
.position-overview{
    overflow: hidden;
    padding: 20px 0;
}
.title-wrap{
    background-color: #66ccc7;
    border-bottom: 3px solid #14b1a9;
    padding: 15px 40px;
    float: left;
    position: relative;
    h1{
        padding: 3px 0;
        margin: 0;
        color:#fff;
    }
    .company-title{
        font-size: 18px;
    }
    .position-title{
        font-size: 32px; 
    }
    .shadow{
        background: url('../../images/v3/ty.png') 0 0 no-repeat;
        position: absolute;
        bottom: -18px;
        left: 0;
        width: 206px;
        height: 15px;
    }
}
.describe{
    float: left;
    padding-left: 20px;
    h3{
        padding-bottom: 10px;
        margin: 0;
        color: #333;
        font-weight: normal;
        font-size: 20px;
    }
    p.web{
        font-size: 18px;
    }
    p.time{
        font-size: 14px;
        color:#666;
    }
    .ent-tag-list{
        padding: 0;
        list-style: none;
        li{
            border: 1px solid #ddd;
            padding: 2px 10px;
            float: left;
            color: #999;
            margin: 5px 8px 0 0;
            font-size: 12px;
        }
    }
}
.position-toolbar{
    background: #f6f6f6;
    border-bottom: 2px solid #75cbc7;
    padding: 10px 20px;
    .pull-left{
        text-align: left;
        display: inline-block;
    }
    .pull-right{
        float: right;
        display: inline-block;
    }
}
.content {
    padding: 0 25px;
}
.section {
    h2 {
    margin: 30px 0 10px 0;
    font-size: 20px;
    color: @base-color;
    border-left: 2px solid @base-color;
    padding: 2px 5px;
    }
    .position-content{
        font-size: 16px;
        text-indent: 0;
        padding: 0 15px;
        overflow: hidden;
    }
}
.footer {
    padding: 10px 0 20px;
     p {
        padding: 0;
        margin: 0;
        font-size: 12px;
        color: #999;
        text-align: center;
        }
}
.jf_tab{
    border:2px solid #333;
    
    td{
        padding: 3px 10px;
        font-size: 14px;
    }
    .title{
        td{
            font-weight: bold;
        }
    }
}
.ing-des{
    float: left;
}
.instructions{
    background: url("../../images/v3/bg.png") repeat 0 0 ;
    padding: 15px 10px;
    margin: 10px 0 20px;
}
.jf_3{
    width:30%;
}
.jf_7{
    width:70%;
}
.industry-list{
    list-style: none;
    margin: 0;
    padding-top:5px;
    >li{
        cursor: pointer;
        text-decoration: none;
        display: inline-block;
        overflow: hidden;
        padding: 2px 5px;
        margin: 0 10px 5px;

        >a{
            color: #333;
        }
    }
    >li:hover{
        >a{
            color:@base-color;
            text-decoration: none;
        }
    }
    >li.active{
        background-color: @base-color;
        a{
        color: #fff;
        }
    } 
}
.sub_tit{
    padding: 10px;
    background: #F8F8F8;
    border-bottom: 2px solid @base-color;
}
.sub_form{
    width: 80%;
    margin: 40px 0 20px;
    input{
        border-radius: 0;
        padding: 5px;
        margin: 5px;
    }
}
.btn-action{
    color: #fff;
    line-height: 32px;
    padding: 5px 40px;
    margin-top: 20px;
    border-radius: 0;
    border: 0;
    background: @btn-publish-bg;
    #gradient > .vertical(@start-color: lighten(@btn-publish-bg,15%),@end-color: @btn-publish-bg);
}
 .btn-action:hover{
    background: @btn-publish-bg-hover;
    color:#fff;
}
.success-sub{
    padding: 40px;
   div >.success{
        font-size: 24px;
        color: @base-integral-font;
    }
}

/* 微招聘申请 */

.weizaoping_tie{
    text-align: center;
    padding-bottom: 20px;
    font-size: 20px;
}
.form-horizontal{
    width: 60%;
    margin: 0 auto;
    .form-group{
        margin-bottom: 20px;
    }
    input{
        border-radius: 0;
    }
    .btn-primary{
        width: 60%;
        border-radius: 0;
        padding: 10px 0;
        font-size: 16px;
        margin: 0 20%;
    }
}
.weizp_c{
    padding: 10px 20px;
    margin: 40px auto 0;
    width: 60%;
    border: 1px dashed #999;
    border-radius: 20px;

    b{
        padding: 5px;
        margin-bottom: 10px;
        display: block;
        font-size: 14px;
    }
    p{
        padding-left: 10px;
    }
}