.register-header{
    width: 180px;
    height: 45px;
    margin-bottom: 10px;
}
.register-footer{
    width: 315px;
    height: 35px;
    margin: 10px auto 0;
}
.page-register{
    width: 750px;
    height: 450px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -300px;
    margin-left: -350px;
}
.register-wrap{
    border-radius: 5px;
    width: 750px;
    height: 380px;
    padding: 40px;
    background: #fff;
    border: 1px solid @base-color;
    
    .clearfix();
    .register-tabs{
        .make-xs-column(6,10px);
        padding-right:50px;
        border-right:1px solid #eee;
        .nav-tabs{
            border:0;
            margin-bottom: 24px;
            > li {
                border:0;
                border-bottom: 2px solid rgba(0,0,0,0);
                margin-right: 30px;
                > a{
                    border:0;
                    font-size:18px;
                    font-weight: normal;
                    padding: 5px;
                    &:hover,&:active{
                        background:#fff;
                    }
                }
                &.active{
                    > a{
                        color:@base-color;
                    }
                    border-bottom:2px solid @base-color;
                }
            }
        }
    }
    .register-other{
        .make-xs-column(6,10px);
        padding-left:50px;
        a{
            color: @base-color;
        }
    }
}
.container > .content{
    margin-top: 20px;
    border: 1px solid #f0f0f0;
    background-color: #fff;
    padding: 20px 0;
}
.register-step{
    background: url('../../images/v3/open_services_steps.png') 0 0 no-repeat;
    display: block;
    width:808px;
    margin:0 auto 30px;
    height:70px;
    &.step2{
        background-position: 0 -75px;
    }
}
.register-section-wrap{
    h1{
        font-size:24px;
    }
    width:650px;
    margin: 0 auto;
    text-align: left;
}
.register{
    .form-control {
        
        border: 1px solid #ddd;
        border-radius: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
        -webkit-transition: none;
        transition: none;
    }
}
