// Core variables and mixins
@import "../variables.less";
@import "../overridevariables.less";
//override
@font-family:"Microsoft YaHei","weiruanyahei","Arial";
@icon-font-path:          "../../fonts/";
@base-color-1:@base-color; //blue-green
@base-color-2:#2a67a5; //deepgreen
@base-color-3:#ddd; //gary
@base-color-4:#cc0000; //red
@import "../mixins.less";

// Reset
@import "../normalize.less";
@import "../print.less";

// Core CSS
@import "../scaffolding.less";
@import "../type.less";
@import "../code.less";
@import "../grid.less";
//@import "tables.less";
@import "../forms.less";
@import "../buttons.less";
@import "../dropdowns.less";

@import "../close.less";
@import "../utilities.less";
// Components w/ JavaScript
@import "../modals.less";
@import "tagselect.less";
@import "../datetimepicker.less";
@import "../daterangepicker-bs3.less";

body{
    font-family:@font-family;
    background-image: url('../../images/v3/bg_img.png');
}
.page-header{
    padding: 0;
     .logo {
        display: inline-block;
        width: 184px;
        height: 45px;
        background: url('../../images/v3/icons.png') -5px -5px no-repeat;
        }
}
.page{
    margin: 0 auto;
    width:910px;
}
.toolbar{
    .clearfix();
}
.article{
    background-color: #fff;
    padding-bottom: 30px;
    border: 1px solid @base-color-3;
    .header{
        .clearfix();
        position: relative;
        padding:15px 0;
        .title-wrap{
            h1{
                color: #fff;
                background-color: #66ccc7;
                border-bottom: 3px solid #14b1a9;
                padding:20px 40px;
                float: left;
                font-size: 32px;
            }
            .shadow{
                background: url('../../images/v3/ty.png') 0 0 no-repeat;
                position: absolute;
                bottom:10px;
                width:206px;
                height:15px;
            }
        }
        .toolbar{
            position:absolute;
            right:0;
            bottom:15px;
            .clearfix();
            .btn-group{
                float: left;
            }
        }
        
    }
    .resume-overview{
        background-color: #f6f6f6;
        padding:20px 0 20px 110px;
        position:relative;
        border-bottom: 2px solid @base-color;
        img{
            position:absolute;
            left:25px;
            width:70px;
            height:70px;
        }
        h2{
            font-size: 16px;
            margin: 0;
            line-height: 25px;
        }
        p{
            color:#999999;
            font-size:14px;
        }
    }
}
.content{
    padding:0 25px;
    h2{
        margin:0;
    }
}
.section + .section{
    border-top: 1px solid #eee;
}
.icon-forward:hover,
.icon-download:hover,
.icon-print:hover{
    background-color: #ff8202;
}
.icon-forward,
.icon-download,
.icon-print{
    background: url('../../images/v3/icons.png') -238px -419px no-repeat #e67d12;
    text-indent: -99999px;
    display: inline-block;
    width: 50px;
    height: 38px;
}
.icon-download{
    background-position: -238px -463px; 
}
.icon-print{
    background-position: -238px -509px; 
}
.btn-forward,
.btn-download,
.btn-print{
    margin-right: 5px;
    padding: 0;
}
.btn-group{
    margin: 0 30px;
}
.btn.btn-interview,
.btn.btn-inapposite{
    border: 0 none;
    background: #e67d12;
    height: 38px;
    color:#fff;
    border-radius: 0;
    margin-right: 10px;    
    #gradient > .vertical(@start-color: #e4af12,@end-color: #e67d12);
}
.btn-interview:hover,
.btn-inapposite:hover{
    background-color: #e67d12;
    color: #fff;
}
.section{
    h2{
        margin: 30px 0 10px 0;
        font-size: 20px;
        color: @base-color;
        border-left: 2px solid @base-color;
        padding: 2px 5px;
    }
}
.section-xp{
    h3{
        font-size: 18px;
    }
}
.footer {
    padding: 10px 0 20px;
     p {
        padding: 0;
        margin: 0;
        font-size: 12px;
        color: #999;
        text-align: center;
        }
}
