 .search-content{
 	margin-top: 15px;
	.side{
		width: 268px;
		border:1px solid #ddd;
		float: left;
		background: #fff;
		padding-top: 15px;
		> ul.menu{
			list-style: none;
			> li{
					font-size: 13px;
					font-weight: bold;
					line-height: 30px;
					>.submenu{
						list-style: none;
						padding: 0;
						margin: 0;
						margin-bottom: 20px;
						>li{
							line-height: 25px;
							font-weight: normal;
							padding:0 10px;
						}
					}
				}
			a{
				font-size: 13px;
				color: #333;
				display: block;
			}
			a:hover{
				color:@base-color;
				text-decoration: none;
			}
		}
		.collapsed{
			> ul{
				display: none;
			}
			> a > .caret{
				border-right: 4px solid transparent;
				border-top: 4px solid transparent;
				border-left: 4px solid #000;
				border-bottom: 4px solid transparent;
			}
		}
	}
	.main{
		float: left;
		width: 770px;
		margin-left: 10px;
		background: #fff;
		min-height: 580px;
	}
	.noresult{
		background: #fff;
		text-align: center;
		img{
			margin-top: 30px;
		}
	}
	.bounty {
		span {
			color: @base-qianniu-font;
			font-size: 16px;
		}
		.symbol-rmb{
			font-size: 14px;
		}
	}
}
.search-content{
	.main > .location{
		overflow: hidden;
		/*height: 53px;*/
		background: #fff;
		border-bottom: 2px solid #eee;
		padding: 15px 10px 0 0;	
			>.label{
				padding: 3px 10px;
				float: left;
				cursor: pointer;
			}
			>ul.search-location{
				list-style: none;
				margin: 0;
				>li{
					cursor: pointer;
					text-decoration: none;
					display: inline-block;
					overflow: hidden;
					padding: 2px 5px;
					margin-bottom: 4px;
					>a{
						color: #333;
					}
				}
				>li:hover{
					>a{
						color:@base-color;
						text-decoration: none;
					}

				}
				>li.active{
					background-color: @base-color;
					a{
					color: #fff;
					}
				} 
			}
		
	}

	.main > .filter{
		overflow: hidden;
		height: auto;
		background: #fff;
		padding-top: 15px;	
			>.label{
				padding: 3px 10px;
				float: left;
				cursor: pointer;
			}
			>ul{
				list-style: none;
				>li{
					float: left;
					cursor: pointer;
					text-decoration: none;
					background: @base-color;
					margin: 0 10px 5px 0;
					color: #fff;
					padding: 0 5px;
					>a,
					>a:hover{
						padding: 0 3px;
						color: #fff;
						text-decoration: none;
					}
				}

			}
	}
	.toolbar{
		background: #fff;
		overflow: hidden;
		padding-right: 20px;
		padding-bottom: 5px;
		margin-bottom: 2px;
		.clearfix();
		.sort{
			list-style: none;
			.clearfix();
			> li{
				&:hover{
	                cursor: pointer;
	            }
	            &.desc{
	                color:@base-color;
	                background: url("../images/icons/px.png") no-repeat right center;
	            }
				float: left;
				padding: 3px 10px;
			}
		}
	}
}
.dataview{
	ul{
		list-style: none;
		margin: 0; 
		padding: 0;
		>li{
			position: relative;
			padding: 10px 0;
			>a{
				>img{
					position: absolute;
					top: 25px;
					left: 10px;
					width: 180px;
					height: 80px;
				}
			}
			>img{
					position: absolute;
					top: 25px;
					left: 10px;
					width: 180px;
					height: 80px;
				}
			
			.row{
				padding-left: 200px;
				h2{
					font-size: 18px;
					padding: 8px 0;
					margin: 0;
					.location{
						font-size: 14px;
						color: #999;
						padding:0 3px;

					}
				}
				p{
					margin-bottom: 5px;
				}
			}
		}
		>li{
    		.tags{
                list-style: none;
                margin: 0;
                padding:0;
                .clearfix();
                > li{
                    float: left;
                    margin-right:10px;
                    margin-bottom:10px;
                    border: 1px solid #e5e5e5;
                    font-size: 12px;
                    color: #adadad;
                    padding: 3px 5px;
                }
            }
		}
		.odd{
			background: #fff;
		}
		.even{
			background: #f7f7f7;
		}
	}
	.btn-post-resume{
		color: #fff;
		line-height: 32px;
		padding: 0 20px;
		border-radius: 0;
		border: 0;
		position: absolute;
		right: 10px;
		top: 20px;
		background: #e67d12;
		#gradient > .vertical(@start-color: #e4af12,@end-color: #e67d12);
	}
	.btn-post-resume:hover{
		background: #e67d12;
	}
}
.page-square li > a{
        border-radius: 3px !important;
        margin: 0 3px;
        background: #fff;
        vertical-align: top;
        b.right_next{
        width: 0;
        height: 0;
        line-height: 0;
        font-size: 0;
        border-width: 6px;
        border-style: dashed dashed dashed solid;
        border-color: transparent transparent transparent #333;
        display: inline-block;
    }
    b.left_next{
        width: 0;
        height: 0;
        line-height: 0;
        font-size: 0;
        border-width: 6px;
        border-style: dashed solid dashed dashed;
        border-color: transparent #333 transparent transparent;
        display: inline-block;
    }
}
.page-square li.active > a{
    background: @base-color;
    color:#fff;    
}
.qr-wrap{
	position: fixed;
	top:200px;
}

.btn-search,
.btn-search:hover{
    border-color: @base-color;
    background: url("../images/v3/icons.png") -300px -463px no-repeat @base-color;
    text-indent: -9999999px;
    width: 60px;
}

.search-total{
	font-size: 14px;
	padding-left: 15px;
	height: 40px;
	line-height: 40px;
	.search-total-count{
		color: @base-qianniu-font;
		font-size: 18px;
		padding: 0 3px;
	}
}
.search-coterie-content{
    > .main{
        width: 1050px;
        margin-top: 15px;
    }
}