@base-color-1:@base-color; //blue-green
@base-color-2:@base-color-dark; //deepgreen
@base-color-3:#ddd; //gary
@base-color-4:#cc0000; //red
@container-width: 1190px;
@left-width: 270px;
@left-outer-width: @left-width + 10px;
@right-width: @container-width - 10px - @left-width;
@font-family:"Microsoft YaHei","weiruanyahei","Arial";
// Core variables and mixins
@import "../variables.less";
@import "../overridevariables.less";
//override
@icon-font-path:          "../../fonts/";
@image-path: "../../";
@import "../mixins.less";

// Reset
@import "../normalize.less";
@import "../print.less";

// Core CSS
@import "../scaffolding.less";
@import "../type.less";
@import "../code.less";
@import "../grid.less";
//@import "tables.less";
@import "../forms.less";
@import "../buttons.less";

// Components
@import "../component-animations.less";
@import "../glyphicons.less";
@import "../dropdowns.less";
@import "../button-groups.less";
@import "../input-groups.less";
@import "../navs.less";
//@import "../navbar.less";
//@import "breadcrumbs.less";
@import "../pagination.less";
@import "../pager.less";
//@import "labels.less";
//@import "badges.less";
//@import "jumbotron.less";
//@import "thumbnails.less";
@import "../alerts.less";
//@import "progress-bars.less";
//@import "media.less";
//@import "list-group.less";
//@import "panels.less";
//@import "wells.less";
@import "../close.less";
// Components w/ JavaScript
@import "../modals.less";
@import "../tooltip.less";
//@import "popovers.less";
@import "../carousel.less";

// Utility classes
@import "../utilities.less";
@import "../responsive-utilities.less";


//custom
@import "header.less";
@import "dataview.less";
@import "tagselect.less";
//@import "register.less";
@import "../register.less";
@import "../bootstrap-tokenfield.less";
@import "../nestedselect.less";
@import "../datetimepicker.less";
@import "../daterangepicker-bs3.less";
@import "../responsive.less";
body{
    font-family:@font-family;
    background-image: url('../../images/v3/bg_img.png');
}
a:hover, a:focus{
    color: @base-color-dark;
    text-decoration: underline;
}
.footer{text-align: center;}
.container-static{
    width:1190px;
    position:relative;
}

.qn-sidebar{
    background-color:#fff;
    border: 1px solid @base-color-3;
    position: absolute;
    left:0;
    top:0;
    width:270px;
}
.qn-banner{
    width:1190px;
    height:90px;
    margin-bottom: 15px;
}
.account-base-info{
    padding: 12px 8px 10px 8px;

    .account-info-wrap{
        position: relative;
        border-bottom: 2px solid #eee;
        padding-left: 100px;
        height:100px;
        .account-avatar{
            position:absolute;
            display: block;
            left:0;
            top:0;
            width:90px;
            height:90px;
        }
        .account-name{
            font-size: 14px;
            color: #333;
            width: 155px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            > strong{
                float: left;
            }
        }
        .counter-wrap{
            margin-top:14px;
        }
        .account-counter{
            float: left;
            text-align: center;
            margin: 0;
            color: #666;
            .count{
                color: @base-qianniu-font;
                font-size: 16px;
            }
        }
        .counter-pipe{
            border-right: 1px solid @base-color-3;
            margin:0 12px;
            height:40px;
            float: left;
        }
    }
}
.qn-content{
    position: relative;
    margin-left:283px;
    border: 1px solid @base-color-3;
    min-height: 500px;
    background-color: #fff;
    padding: 10px 20px;
}
.ent-overview{
    //_height: expression_r(this.height <180 ? "180px" : true);
    min-height: 130px;
    padding-right: 50px;
    position: relative;
    padding: 8px 8px 8px 230px;
    border-bottom: 2px solid @base-color-1;
    .ent-logo{
        position: absolute;
        left: 12px;
        top: 15px;
        display: block;
        width: 208px;
        height: 93px;
    }
    .overview-table {
        td{
            padding: 6px 20px 6px 0;
        }
        .ent-title{
            font-size: 1.3em;
        }
    }
    .ent-title{
        padding-right:20px;
    }
    .ent-url{
        a{
            color: #0c66e3;
        }
    }
    .ent-auth{
        padding: 3px 10px;
        background: #8ecff5;
        border-radius: 10px;
        text-align: center;
        float: left;
        font-size: 14px;
        cursor: pointer;
        a{
            color: #12608e;
        }
        a:hover{
            text-decoration: none;
        }
    }
    .ent-description{
        color: #ababab;
        font-size: 16px;
        margin: 5px 0;
        padding-right: 50px;
    }
}
.quote-marker-1{
    background-image: url('../../images/v3/quote_l.png');
    display:inline-block;
    width:17px;
    height:15px;
    margin-right: 10px;
}
.quote-marker-2{
    background-image: url('../../images/v3/quote_r.png');
    display:inline-block;
    width:17px;
    height:15px;
    margin-left: 10px;
}
.hidden-print{
    margin: 20px 0;
    .bs-sidenav > li > a {
        color: #333;
        font-size: 14px;
        border-left: 3px solid #fff;
    }
    .bs-sidenav > li > a:hover {
        color: @base-color;
    }
    .bs-sidenav > li.active > a{
        font-weight: bold;
        color: @base-color;
        border-left: 3px solid @base-color;
    }
    .bs-sidenav > li.active > .sub-sub-ul > li.active > a{
        font-weight: bold;
        color: @base-color;
    } 
}
span.licon{
    background:url('../../images/v3/icons.png') -200px -380px no-repeat;
    padding: 5px 12px;
}
span.licon-company_position{
    background-position: -200px -424px;
}
span.licon-company_resume{
    background-position: -200px -470px;
}
span.licon-center{
    background-position: -200px -514px;
}
span.licon-company_credit{
    background-position: -200px -543px;
}
.report-detail{
    ul{
        padding: 0;
        li{
            border-bottom: 1px solid #eee;
            padding: 0 20px 10px 20px;
            position: relative;
            .checkbox{
                position: absolute;
                left: 30px;
            }
            a.thumb{ 
                float: left;
                margin-right: 20px;
                img{
                    width:70px;
                    height: 70px;
                }
                .noimg{
                    width:70px;
                    height: 70px;
                    display: inline-block;
                    background: url('../../images/v3/user.png') 0 0 no-repeat;
                }
            }
            h3{
                font-size: 18px;
                color:@base-color;
            }
            .fd-date{
                font-size: 12px;
                color:#999;
                padding-top: 5px;
            }
        }
        .has-checkbox {
            padding-left: 60px;
        }
        li:last-child{
            border:none;
        }
    }
}
.dataview{
    .ui-li-aside {
            position: absolute;
            top: 10px;
            right: 20px;
        }
    } 
.footer{
    margin-top: 20px;
    border-top: 1px solid #ddd;
    padding: 10px 0 20px;
    p{
        padding: 0;
        margin: 0;
        font-size: 12px;
        color: #999;
    }
}
.ent-tag-list{
    .clearfix();
    padding: 0;
    list-style: none;
    li{
        border: 1px solid #ddd;
        padding: 2px 10px;
        float: left;
        color: #999;
        margin: 5px 8px 0 0;
        font-size: 12px;
    }
}
.nav > li > a {
    color: #666;
}
.nav > li > a {
    padding: 10px 25px;
}
.topbar{
    height: 70px;
    border-bottom: 2px solid @base-color;
}
.toolbar{
    background: #eee;
    height: 46px;
    padding: 5px 20px;
}

.sub-sub-ul{
    list-style: none;
    padding-left: 55px;
    line-height: 30px;
    a{
        color:#666;
        font-size: 12px;
        display: block;
    }
    a:hover{
        color: @base-color;
        text-decoration: none;
    }
}

//搜索
.input-group{
    width:250px;
    margin-top: 15px;
    margin-right: 20px;
    .form-control{
        border-radius: 0;
        box-shadow: none;
        border-color: #ddd;
        height: 34px;
    }
    .btn-search{
        background: @base-color;
        border-radius: 0;
        width: 50px;
        height: 34px;
        .glyphicon-search{
            color: #fff;
        }
    }
}

.editor{
    display: block;
    width:30px;
    float: right;
    margin-right: 20px; 
    height:30px;
    background: url('../../images/v3/icons.png') -254px -320px no-repeat;
    opacity: 0.3;
    filter:alpha(opacity=30);
    &:hover,&:active,&:focus{
        opacity: 0.5;
        filter:alpha(opacity=50);
    }
}
.ent-overview{
    position: relative;
    .editor{
        position:absolute;
        right: 10px;
        bottom: 10px;
    }
    .v2{
        background: url('../../images/v3/icons.png') -227px -279px no-repeat;
        position: absolute;
        left: 23px;
        top: 10px;
        width: 31px;
        height: 25px;
        z-index: 1;
    }
}
.mail1,
.mail0,
.resume-attachment{
    width: 16px;
    height: 18px;
    margin-right: 5px;
    display: inline-block;
}
.mail1{
    background: url('../../images/v3/mail.png') 0 3px no-repeat;
}

.mail0{
    background: url('../../images/v3/mail-open.png') 0 0 no-repeat;
}
.resume-attachment{
    background: url('../../images/v3/fj.png') 0 0 no-repeat;
}
.form-control-tags{
    list-style: none;
    padding: 0;
    li{
        padding: 7px 15px;
        background: #fff;
        border-radius: 0;
        line-height: 15px;
        border: 1px solid #eee;
        color: #000;
        float: left;
        margin: 5px;
    }
}
.form-wrap{
    position: relative;
    fieldset{
        border: 1px solid #eee;
        border-left:0;
        border-right:0;
    }
    .editor{
        position: absolute;
        right:10px;
        top:0;
    }
}
.mail1,
.mail0,
.resume-attachment{
    width: 16px;
    height: 18px;
    margin-right: 5px;
    display: inline-block;
}
.mail1{
    background: url('../../images/v3/mail.png') 0 3px no-repeat;
}

.mail0{
    background: url('../../images/v3/mail-open.png') 0 0 no-repeat;
}
.resume-attachment{
    background: url('../../images/v3/fj.png') 0 0 no-repeat;
}
.navbar-nav > li.active a {
    background: @base-color;
}
.navbar-nav > li.gray{
    display: none;
}
.navbar-nav > li.gray > a{
    color:#666 !important;
}
.navbar-nav > li.gray > a:hover{
    background: none !important;
}
.explain-list{
    background: #f6f6f6;
    padding: 20px 50px;
    text-indent: -5px;
    border-bottom: 1px solid #ddd;
}
.ent-sns{
    span{
        float: left;
        margin-right: 5px;
    }
}
.nolistbtn{
    text-align: center;
    margin-top: 30px;
    .btn-add{
        color: #fff;
        line-height: 50px;
        padding: 0 40px;
        font-size: 18px;
        margin: 15px 0 0 20px;
        border-radius: 0;
        border:0;
        background: @btn-add-bg;
        #gradient > .vertical(@start-color: lighten(@btn-add-bg,15%),@end-color: @btn-add-bg);
    }
    .btn-add:hover{
        background: @btn-add-bg;
    }
}
.topbar{
    .btn-add{
        color: #fff;
        line-height: 40px;
        padding: 0 20px;
        background: #e67d12;
        border:0;
        margin: 15px 0 0 20px;
        border-radius: 0;
        background: @btn-add-bg;
        #gradient > .vertical(@start-color: lighten(@btn-add-bg,15%),@end-color: @btn-add-bg);
    }
    .btn-add:hover{
        background: @btn-add-bg;
    }
}
.company-logo{
    position: absolute;
    left: 12px;
    top: 72px;
    z-index: 1;
    font-size: 16px;
    color: #fff;
    background: rgba(0,0,0,.5);
    width: 208px;
    text-align: center;
    height: 35px;
    line-height: 35px;   
}
.company-logo:hover,.company-logo:active,.company-logo:focus{
    color:#fff;
    text-decoration: none;
}
.company-avatar{
    position: absolute;
    left: 0;
    top: 55px;
    z-index: 1;
    font-size: 16px;
    color: #fff;
    background: rgba(0,0,0,.5);
    width: 90px;
    text-align: center;
    height: 35px;
    line-height: 35px;   
}
.company-avatar:hover{
    color:#fff;
    text-decoration: none;
}
.noresume,
.notask{
    text-align: center;
    padding: 10px;
}
.btn-primary{
    background: @base-color;
    #gradient > .vertical(@start-color: lighten(@base-color,5%),@end-color: @base-color);
    border-radius: 0;
    border: none;
    padding: 10px 30px;
}
.btn-primary:hover{
    background: @base-color-dark;
    #gradient > .vertical(@start-color: lighten(@base-color-dark,5%),@end-color: @base-color-dark);
}
.cert-wait{
    font-size: 16px;
    font-weight: bold;
    background: url('../../images/v3/yes.png') 0 0 no-repeat;
    padding-left: 30px;
    display: inline-block;
    height: 30px;
    margin-left: 40px;
}
.page{
    .pull-left{
        padding:0 10px;
    }
}
.company_jf_tab{
    table{
        border:2px solid #333;
        width: 100%;
        td{
            padding: 3px 10px;
            text-align: center;
        }
        .jf_title{
            td{
                font-weight: bold;
                font-size: 14px;
                color: #333;
            }
        }
    }
}
.integral_rules{
    font-size: 16px;
    b{
        font-size: 18px;
        color: @base-qianniu-font;
        font-weight: inherit;
    }
    .top-up{
        padding: 0 20px 0 5px;
        color: @base-qianniu-font;
        font-size: 18px;
    }
}
.integral{
    color: @base-integral-font;

}

span.n{
    color: @base-qianniu-font;
    padding: 0 5px;
    font-size: 18px;
}
.modal-dialog{
    margin: 20% auto;
}

.integral_rules{
    background: url("../../images/v3/bg.png") repeat 0 0 ;
    padding: 30px 30px;
    margin: 10px 20px;
    p{
        margin: 0;
        padding: 0;
        font-size: 16px;
        line-height: 150%;
    }
}
.company_jf_tab{
    padding: 20px;
}
.amount{
    span{
        font-size: 16px;
        font-weight: bold;
        float: left;
    }
    .pay{
        background: url("../../images/v3/pay.png") no-repeat 0 0 ; 
        width:126px;
        height: 44px;
        display: inline-block;
        border: 2px solid #eee;
    }
    ul{
        list-style: none;
        margin: 0;
        padding: 0;
        li{
            margin-right: 10px;
            display: inline-block;
            background: #eee;
            
            a{
                color: #333;
                display: block;
                padding: 5px 10px;
            }
            a:hover{
                text-decoration: none;
            }
        }
        li.active{
            background: @base-green;
            a{
                color: #fff;
            }
        }
    }
}
.money_int{
    margin:10px 0 20px 80px;
    input{
        width: 340px;
        height: 35px;
        padding: 5px;
    }
}
.pay_treasure{
    .prompt{
        color: red;
        margin-left: 10px;
        font-size: 16px;
        vertical-align: top;
        padding-top: 10px;
        display: inline-block;
    }
}
.int-description{
    background-color: #f3f3f3;
    padding: 20px;
    margin: 20px;
    font-size: 14px;
    color: #666;
    line-height: 200%;
    b{
        font-size: 18px;
        font-weight: normal;
    }
    font{
        text-indent: 28px;
        display: block;
        padding-bottom: 20px;
    }
    span{
        font-size: 16px;
        padding: 5px 0;
        text-indent: 28px;
    }
}
.text-danger{
    color: #cc0000;
}
#check-payment{
    font-size: 18px;
    em{
        padding: 0 3px;
        font-style: normal;
    }
}
