.ts-body{
    margin-bottom: 0;
    padding-left: 0; // Override default ul/ol
    border: 0 none;
    background: #fff;
    list-style: none;
    .clearfix();

    > li {
        position: relative;
        display: block;
        float: left;
        margin:5px 10px;
        > a {
            position: relative;
            display: block;
            padding: 5px 15px;
            background: #fff;
            border-radius: 0;
            line-height: 15px;
            border: 2px solid #eee;
            color: #000;
            &:hover,
            &:focus {
                text-decoration: none;
            }
        }
        > b{
            display:none;
            position: absolute;
            right:0;
            bottom:0;
            width: 15px;
            height: 15px;
            background: url('../../images/v3/icons.png') -255px -387px no-repeat;
        }
        &.active{
            > a{
                border: 2px solid #7fd4d0;
            }
            > b{
                display:block;
            }
        }
    }
}
.form-control-tags{
    .clearfix();
    padding:0;
    list-style: none;
    >li{
        float: left;
        margin: 5px 10px 5px 0;
        padding:5px 5px;
        border: 1px solid #eee;
        background: #fff;
        color: #000;
    }
}